{% extends "PC/container.html" %}
{% block view %}
<div id="wrapper" style="width:100%">
    <div id="header" >
    	<!-- start Menu-->
    	<table width="100%">
    		<thead id="mainMenu">
    			<tr>
    				<th align="left" width="60%"><a href="/likitomi/home/?eID={{eID}}">Home</a> </th>
    				<th align="left" width="30%">
						<form id="form_search" action="#">
							<fieldset id="form_search_fieldset">
								Search:&nbsp 
								<input type="text" class="searchbox" name="search" id="key_search" /> 
								<span class="loading">Loading ...</span>
							</fieldset>
						</form>
    				</th>
    				<th align="right" width="10%"><a id="normalLink" href="/likitomi"><img src="images/quit.png" alt="quit" /></a>&nbsp&nbsp</th>
    			</tr>
    		</thead>
    	</table>
		<!-- End Menu-->
	</div>
</div>
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
	</ul>
	<div id="tabs-1">


	<!-- End Menu-->
	</div>
<!-- endheader-->
<!-- content-->
	<div id="browse_crag">
		<div class="login">
			{{title}}
		</div>
	</div>
<br>
<div id="resultDivLineWH">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTable"><span class="header">
	<thead><tr bgcolor="#cccccc" width="100%">
	<td><b>Sch.</b></th>
	<th width="5%" align="left"><b> IN </b></th>
	<th width="5%"><b>Pcs.</b></th>
	<th rowspan="2"><b>Product code</b></th>
	<th rowspan="2"><b>Sale Order</b></th>
	<th rowspan="2"><b>P Code</b></th>
	<th rowspan="2"><b>Customer</b></th>
	<th rowspan="2"><b>Product Name</b></th>
	<th rowspan="2"><b>From</b></th>
	<th rowspan="2"><b>Due</b></th>
</tr>
	<tr bgcolor="#cccccc" align="right"><th>Act.</th><th>IN</th><th>Pcs</th></tr></thead>
	</span>	
	{% for item in items %}
	<tr id="{{ item.state}}">
	<td rowspan=2>{% if wh == item.plan_wh_start %} > {% endif %}</th>
	<td><a href="/likitomi/line/cv/start/?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_wh_start|time:"H:i"}}</a></th>
	<td>{{item.plan_amount}}</th>
	<td rowspan=2>{{item.product.product_code}}</td>
	<td rowspan=2>{{item.plan_id}}</td>
	<td rowspan=2>{{item.po}}</td>
	<td rowspan=2 >{{item.product.parent_code.partner.partner_name}}</td>
	<td rowspan=2 >{{item.product.parent_code.product_name}}</td>
	<td rowspan=2>{% if item.process4 == 'WH' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'WH'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'WH' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>

			
	<table align=center width="28%"><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="20%"><b> Sch.IN </b></td><th width="20" rowspan="2"> Product code </th><th width="20" rowspan="2">Previous</th><th width="20" rowspan="2">Due</th></tr>
			<tr bgcolor="#cccccc" align="right"><th>Act.IN</th></tr></thead>
			</span>
			{% for plan_id,start,product,actual_start,process1,process2,process3 in items %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="{{ entry.id }}">
			<td rowspan="2">{% if wh == product %} > {% endif %}</td>
			<td><a href="/likitomi/line/wh/start/?eID={{eID}}&pID={{plan_id}}">{{start|time:"H:i"}}</a></td>
			<td rowspan="2"><p class="tbunderline">{{product}}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbunderline">{% if process3 != NULL%} {{process3}} {% else %}{% if process2 != NULL %} {{process2}}{% else %}{% if process1 != NULL %} {{process1}} {% endif %}{% endif %}{% endif %}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbunderline">  <br><font color="white">-</font></p> </td>
			</tr>
			<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="{{ entry.id }}">
			<td><p class="tbsgunderline">
				{% if actual_start != NULL %}
				{{ actual_start|time:"H:i" }}
				{% else %} 
				<font color="white">-</font>
				{% endif %}
			</p></td>
			</tr>
			{% endfor %}
			</table>
</div>
{% endblock %}
