<html>
<head>
<link rel="stylesheet" type="text/css" href="css/plan.css" />
</head>
<body>

	<table id="eighty">
		<tr>
			<th rowspan='2' width="37px">TIME</th>
			<th rowspan='2' width="85px">SHEET CODE</th>
			<th rowspan='2' class="kr" width="63px">S.O.NO.<br />ORD.NO.</th>
			<th rowspan='2' class="kl" width="164px">CUSTOMER NAME<br />PRODUCT</th>
			<th rowspan='2' width="58px">USED(L)<br />D-F</th>
			<th width="20px">B-L</th>
			<th width="20px">B-M</th>
			<th rowspan='2' width="78px">USED(KGS)<br />D-F</th>
			<th width="16px">B-L</th>
			<th width="16px">B-M</th>
			<th rowspan='2' width="61px">SHEET<br />LENGTH</th>
			<th width="15px">CASE</th>
			<th width="10px"></th>
		</tr>
		<tr>
			<th>C-L</th>
			<th>C-M</th>
			<th>C-L</th>
			<th>C-M</th>
			<th>CUT</th>
		</tr>
		{% for start_time, sheet_code, sono, ordno, customer_name, product, length_df, length_bl, length_bm, length_cl, length_cm, actual_df, actual_bl, actual_bm, actual_cl, actual_cm, sheet_length, case, cut in detail %}
		<tr>
			<td rowspan='2'>{{ start_time|time:"H:i" }}</td>
			<td rowspan='2'>{{ sheet_code }}</td>
			<td rowspan='2' class="kr">{{ sono }}<br />{{ ordno }}</td>
			<td rowspan='2' class="kl">{{ customer_name }}<br />{{ product }}</td>
			<td class='df' rowspan='2'><br />{{ length_df }}</td>
			<td>{{ length_bl }}</td>
			<td>{{ length_bm }}</td>
			<td class='df' rowspan='2'><center>ACTUAL</center>{{ actual_df }}</td>
			<td>{{ actual_bl }}</td>
			<td>{{ actual_bm }}</td>
			<td rowspan="2">{{ sheet_length }}</td>
			<td>{{ case }}</td>
		</tr>
		<tr>
			<td>{{ length_cl }}</td>
			<td>{{ length_cm }}</td>
			<td>{{ actual_cl }}</td>
			<td>{{ actual_cm }}</td>
			<td>{{ cut }}</td>
		</tr>
		{% endfor %}
	</table>

</body>
</html>
