<html>
<head>
<title>Likitomi: Clamplift Apps</title>
</head>

<frameset cols="33%,67%">
	<frame src="/plan/" />
	<frameset rows="70%,30%">
		<frame src="/stock/" />
		<frame src="/minclamp/" scrolling="no" />
	</frameset>
</frameset>

<body>

<!--<table align="center" width="100%" height="100%">-->
<!--	<tr>-->
<!--		<td align="center"><a href=""><img src="image/plan_btn.png"></a></td>-->
<!--		<td align="center"><a href="/clamplift/"><img src="image/scan_btn.png"></a></td>-->
<!--	</tr>-->
<!--	<tr>-->
<!--		<td align="center"><a href=""><img src="image/search_btn.png"></a></td>-->
<!--		<td align="center"><a href=""><img src="image/tag_btn.png"></a></td>-->
<!--	</tr>-->
<!--</table>-->

<!--<iframe src="/plan/" frameborder="0" width="28%" height="100%"></iframe>-->
<!--<iframe src="/stock/" frameborder="0" width="71%" height="100%"></iframe>-->
<!--<iframe src="/minclamp/" frameborder="0" width="71%" height="100%"></iframe>-->

</body>
</html>
