<html>
<head>

<link rel="stylesheet" type="text/css" href="css/plan.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

//	$(window).load(function clamplift(){
//		alert("alert");
//		$("#invent").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss);
//		$("#invent").load("/inventory/?pcode="+"HKS231"+"&width="+"56"+"&loss="+"529");
//		setTimeout(clamplift, 2000);
//	});

//	$("#search").click(function(){
//		var scode = $("#scode").val();
//		var swidth = $("#swidth").val();
//		var loss = $("#loss").val();
//		$("#invent").load("/inventory/?pcode="+scode+"&width="+swidth+"&loss="+loss);
//	});

//	$("#invent").ajaxSuccess(function(){
//		alert("invetn");
//	});

	$("#locup").click(function(){
		var realtag = $("#realtag").val();
		var lane = $("#leftlane").val();
		var pos = $("#atposition").val();
//		alert('before');
		$("span").load("/minclamp/changeloc/?realtag="+realtag+"lane="+lane+"pos="+pos);
//		alert('after');
	});

});
</script>
<script src="js/jquery_reapply.js" type="text/javascript"></script>
</head>

<body>
<!--{{lane1}}<br />-->
<!--{{pcode}}--{{width}}--{{loss}}-->

<!--<table><tr>-->
<!--	<td style="text-align:left; border:0px;">{{ pcode }} >>> {{ width }}"</td>-->
<!--	<td style="text-align:right; border:0px; width:0px;" valign="middle">-->
<!--		<form>-->
<!--			<select id="scode">-->
<!--			<option value="">Select paper code:</option>-->
<!--			{% for paper_code in scode %}-->
<!--			<option value="{{ paper_code }}">{{ paper_code }}</option>-->
<!--			{% endfor %}-->
<!--			</select>-->
<!--		</form>-->
<!--	</td>-->
<!--	<td style="text-align:left; border:0px; width:0px; vertical-align:middle;">-->
<!--		<form valign="middle" style="verical-align:middle;">-->
<!--			<select id="swidth">-->
<!--			<option value="">Select paper width:</option>-->
<!--			{% for width in swidth %}-->
<!--			<option value="{{ width }}">{{ width }}</option>-->
<!--			{% endfor %}-->
<!--			</select>-->
<!--		</form>-->
<!--	</td>-->
<!--	<td valign="top" style="width:0px; border:0px;">-->
<!--		<button id="search">Search</button>-->
<!--	</td>-->
<!--</tr></table>-->

<div id="invent">
<input id="loss" value="{{ loss }}" type="hidden" />

<input id="realtag" value="{{ realtag }}" type="hidden" />
<input id="atposition" value="{{ atposition }}" type="hidden" />
<input id="leftlane" value="{{ leftlane }}" type="hidden" />
<input id="rightlane" value="{{ rightlane }}" type="hidden" />
{% if pcode %}{{ pcode }} >>> {{ width }}"{% endif %}

<!--{{qidlist}}<br />-->
<!--{{maplist}}<br />-->
<!--{{lanelist}}<br />-->
<!--{{poslist}}-->

<!--query: {{ query }}<br />-->
<!--ls: {{ ls }}<br />-->
<!--ridlist: {{ ridlist }}<br />-->
<!--elist: {{ elist }}<br />-->
<!--delist: {{ delist }}<br />-->
<!--wlist: {{ wlist }}<br />
-->

<!--Map List: {{ maplist }}<br />-->
<!--String List: {{ strlist }}<br />-->
<!--Size List: {{ sizelist }}<br />-->
<table style="height:80%">
<tr>
<td class="top" style="width:10%; border:0px; vertical-align:middle;">

<table>
	<tr>
		<th>ID</th>
		<th>kgs</th>
	</tr>
	{% for id, w in delist %}
	<tr>
		<td>{{ id }}</td>
		<td>{{ w }}</td>
	</tr>
	{% endfor %}
</table>

</td>
<td style="width:90%; border:0px;">
<!--Map list: {{ mstr }}<br />-->
<!--Weight list: {{ wlist }}<br />-->
<!--Initial weight: {{ initial_weight }}<br />-->
<!--+Loss weight: {{ loss }}<br />-->
<!--mquery: {{ mquery }}<br />-->
<!--posb: {{ posb }}<br />-->
<!--index: {{ ind }}<br />-->

{% load listfortag %}
{#{% for pos in posb %}{% if pos %}{% if "'B', "|add:pos in mstr %}{{ wlist|listfortag:ridlist|stringformat:"s"|cut:"]"|add:", '"|add:'B'|add:pos|add:"']" }}{% endif %}{% endif %}{% endfor %}#}
<table>
	<tr><td class="map"></td>{% for pos in posall %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>

	<tr><td class="map">A</td>
		{% for pos in posa %}
			{% if pos %}
				{% if "'A', "|add:pos in mstr %}
					{% if pos == initial_weight or pos >= loss or pos >= 700 %}
						{% if atlane == '1' and atposition == pos|listfortag %}<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floatformat:0 }}</td>{% else %}<td class="green">{{ pos|floatformat:0 }}</td>{% endif %}
					{% endif %}
					{% if 400 <= pos and pos < 700 %}
						{% if atlane == '1' and pos == atposition %}<td style="cursor:pointer;" onclick="alert('alert')" class="blue">{{ pos }}</td>{% else %}<td class="blue">{{ pos }}</td>{% endif %}
					{% endif %}
					{% if 100 <= pos and pos < 400 %}
						{% if atlane == '1' and pos == atposition %}<td style="cursor:pointer;" onclick="alert('alert')" class="yellow">{{ pos }}</td>{% else %}<td class="yellow">{{ pos }}</td>{% endif %}
					{% endif %}
					{% if pos < 100 %}
						{% if atlane == '1' and pos == atposition %}<td style="cursor:pointer;" onclick="alert('alert')" class="red">{{ pos }}</td>{% else %}<td class="red">{{ pos }}</td>{% endif %}
					{% endif %}
				{% else %}
					{% if atlane == '1' and pos == atposition %}<td style="cursor:pointer;" onclick="alert('alert')" class="gray"></td>{% else %}<td class="gray"></td>{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">A</td></tr>

	<tr><td class="map">|</td>{% for pos in lane1 %}<td class="map">{% if pos == '*' %}<img src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">B</td>
		{% for pos in posb %}
			{% if pos %}
				{% if "'B', "|add:pos in mstr %}
						{% if pos == initial_weight or pos >= loss or pos >= 700 %}
							<td class="green">{{ pos }}</td>
						{% endif %}
						{% if 400 <= pos and pos < 700 %}
							<td class="blue">{{ pos }}</td>
						{% endif %}
						{% if 100 <= pos and pos < 400 %}
							<td class="yellow">{{ pos }}</td>
						{% endif %}
						{% if pos < 100 %}
							<td class="red">{{ pos }}</td>
						{% endif %}
				{% else %}
					<td class="gray"></td>
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">B</td></tr>

	<tr><td class="map">|</td>{% for pos in posc %}<td class="map"></td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">C</td>
		{% for pos in posc %}
			{% if pos %}
				{% if "'C', "|add:pos in mstr %}
						{% if pos == initial_weight or pos >= loss or pos >= 700 %}
							<td class="green">{{ pos }}</td>
						{% endif %}
						{% if 400 <= pos and pos < 700 %}
							<td class="blue">{{ pos }}</td>
						{% endif %}
						{% if 100 <= pos and pos < 400 %}
							<td class="yellow">{{ pos }}</td>
						{% endif %}
						{% if pos < 100 %}
							<td class="red">{{ pos }}</td>
						{% endif %}
				{% else %}
					<td class="gray"></td>
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">C</td></tr>

	<tr><td class="map">|</td>{% for pos in posd %}<td class="map"></td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">D</td>
		{% for pos in posd %}
			{% if pos %}
				{% if "'D', "|add:pos in mstr %}
						{% if pos == initial_weight or pos >= loss or pos >= 700 %}
							<td class="green">{{ pos }}</td>
						{% endif %}
						{% if 400 <= pos and pos < 700 %}
							<td class="blue">{{ pos }}</td>
						{% endif %}
						{% if 100 <= pos and pos < 400 %}
							<td class="yellow">{{ pos }}</td>
						{% endif %}
						{% if pos < 100 %}
							<td class="red">{{ pos }}</td>
						{% endif %}
				{% else %}
					<td class="gray"></td>
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">D</td></tr>

	<tr><td class="map">|</td>{% for pos in pose %}<td class="map"></td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">E</td>
		{% for pos in pose %}
			{% if pos %}
				{% if "'E', "|add:pos in mstr %}
						{% if pos == initial_weight or pos >= loss or pos >= 700 %}
							<td class="green">{{ pos }}</td>
						{% endif %}
						{% if 400 <= pos and pos < 700 %}
							<td class="blue">{{ pos }}</td>
						{% endif %}
						{% if 100 <= pos and pos < 400 %}
							<td class="yellow">{{ pos }}</td>
						{% endif %}
						{% if pos < 100 %}
							<td class="red">{{ pos }}</td>
						{% endif %}
				{% else %}
					<td class="gray"></td>
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">E</td></tr>

	<tr><td class="map"></td>{% for pos in posall %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>
</table>

<!--<table border="1">-->
<!--	<tr><td class="map"></td>{% for pos in position %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>-->
<!--	{% for lan in lane %}-->
<!--		{% if lan %}-->
<!--			<tr>-->
<!--				<td class="map" width='1%'>{{ lan }}</td>-->
<!--				{% for pos in position %}-->
<!--					-->
<!--					{% if "('"|add:lan|add:"', '"|add:pos|add:"')" in strlist %}-->
<!--<!--						<td class="gold">{% for size in sizelist %}{{ sizelist|slice:"minus:sizelist|length"|first }}{% endfor %}</td>-->-->
<!--						<td class="gold">{{ lan }}-{{ pos }}</td>-->
<!--					{% else %}-->
<!--						<td class="gray"></td>-->
<!--					{% endif %}-->
<!--					-->
<!--				{% endfor %}-->
<!--				<td class="map" width='1%'>{{ lan }}</td>-->
<!--			</tr>-->
<!--		{% else %}-->
<!--			<tr><td class="map"></td>{% for pos in position %}<td class="map"></td></td>{% endfor %}<td class="map"><br /></td></tr>-->
<!--		{% endif %}-->
<!--	{% endfor %}-->
<!--	<tr><td class="map"></td>{% for pos in position %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>-->
<!--</table>-->

</td>
</tr>
<table>

<br />

<!--<table>-->
<!--	<tr>-->
<!--		<th>PAPER CODE</th>-->
<!--		<th>SIZE</th>-->
<!--		<th>ROLL(s)</th>-->
<!--		<th>WEIGHT(kgs.)</th>-->
<!--	</tr>-->
<!--	{% for paper_code, size, rolls, weight in delist %}-->
<!--	<tr>-->
<!--		<td>{{ paper_code }}</td>-->
<!--		<td>{{ size }}</td>-->
<!--		<td>{{ rolls }}</td>-->

<!--		<td>{{ weight }}</td>-->
<!--	</tr>-->
<!--	{% endfor %}-->
<!--</table>-->

	<form id="frm4" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag"></input>
		<input type="hidden" value="{{ leftlane }}" name="lane">
		<input type="hidden" value="{{ atposition }}" name="pos">
		<input type="hidden" value="{{ pcode }}" name="pcode">
		<input type="hidden" value="{{ width }}" name="width">
		<input type="hidden" value="{{ loss }}" name="loss">
	</form>

	<form id="frm5" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag"></input>
		<input type="hidden" value="{{ rightlane }}" name="lane">
		<input type="hidden" value="{{ atposition }}" name="pos">
	</form>


</div>
</body>
</html>
