<html>

<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("button").click(function(){
    $("p").hide();
  });
});
</script>
</head>

<body>
<button>Button</button>
<p>Hide me</p>
P: {{ p }}<br />

<table border="1">
	{% for start_time, end_time, sheet_code in p %}
	<tr>
		<td>{{ start_time|time:"H:i" }}</td>
		<td>{{ end_time }}</td>
		<td>{{ sheet_code }}</td>
	</tr>
	{% endfor %}
</table>
</body>

</html>
