<html>
<head>

<title>Likitomi: Clamplift Plan</title>
<link rel="stylesheet" type="text/css" href="css/plan.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(window).load(function now(){
		$("#now").load("/now/");
		setTimeout(now, 1000);
	});

	$("#sel").change(function(){
		var opd = $("#sel").val();
		if (opd == ""){
			$("[id=splan]").hide();
		}
		else {
//			$("#plan").load("/showplan/?opdate="+opd);
			$("#plan").attr("src", "/showplan/?opdate="+opd);
		}
	});

});
</script>

</head>

<body>

<table><tr><td style="border:0px; font-size:100%;"><div class='lft'>{% now "Y-m-d" %}</div></td><td style="border:0px; font-size:100%;"><div id='now'></div></td></tr><table>

<table>
	<tr>
		<td class="lft">AS PRODUCTION OF:</td><td style="border:0px"><a href="/wholeplan/" target="_top"><button>More</botton></a></td>
	</tr>
	<tr>
		<td class="lft" colspan="2">
			<form>
				<select id="sel" name="opdate">
				<option value="">Select date to show plan:</option>
				{% for date in datelist %}
				<option value="{{ date }}">{{ date }}</option>
				{% endfor %}
				</select>
			</form>
		</td>
	</tr>
</table>

<table>
	<tr>
		<th rowspan='2' width="10%">TIME</th>
		<th rowspan='2' width="20%">SHEET CODE</th>
		<th class='bt' width="21%">SIZE</th>
		<th width="21%">BL</th>
		<th width="21%">BM</th>
		<th width="7%" style="border:0px"></th>
	</tr>
	<tr>
		<th>DF</th>
		<th>CL</th>
		<th>CM</th>
	</tr>
</table>

<iframe id="plan" src="/showplan/?opdate={% now "Y-m-d" %}" frameborder="0" width="100%" height="70%" marginheight="0" marginwidth="0" scrolling="auto">
<div id="plan"><b>Clamplift plan will be shown here.</b></div>
</iframe>

</body>
</html>
