<html>
<head>
<title>Likitomi: Paper Roll Stock</title>
<link rel="stylesheet" type="text/css" href="css/plan.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(window).load(function clamplift(){
		if ($("#pcode").val() != ""){
			var pcode = $("#pcode").val();
			var width = $("#width").val();
			var loss = $("#loss").val();
			$("#invHint").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss);
			setTimeout(clamplift, 2000);
		}
	});

	$("#search").click(function(){
		var scode = $("#scode").val();
		var swidth = $("#swidth").val();
		var loss = $("#loss").val();
		if (scode != "" && swidth != ""){
			$("#invHint").load("/inventory/?pcode="+scode+"&width="+swidth+"&loss="+loss);
			$("#pcode").val(scode);
			$("#width").val(swidth);
		}
	});

});
</script>
</head>

<body>

<input id="pcode" value="{{ pcode }}" type="hidden" />
<input id="width" value="{{ width }}" type="hidden" />
<input id="loss" value="{{ loss }}" type="hidden" />

{% if pcode %}
<table><tr>
	<td style="text-align:left; border:1px;"></td>
	<td valign="middle" style="width:1px; border:1px;">
		<form>
			<select id="scode">
			<option value="">Paper Code:</option>
			{% for paper_code in scode %}
			<option value="{{ paper_code }}">{{ paper_code }}</option>
			{% endfor %}
			</select>
		</form>
	</td>
	<td style="text-align:left; border:1px; width:1px;">
		<form>
			<select id="swidth">
			<option value="">Size:</option>
			{% for width in swidth %}
			<option value="{{ width }}">{{ width }}</option>
			{% endfor %}
			</select>
		</form>
	</td>
	<td border="1" valign="top" style="width:1px; border:1px;">
		<button id="search">Search</button>
	</td>
</tr></table>
{% endif %}

<div id="invHint"><b>Paper roll inventory will be shown here.</b></div>

</body>
</html>
