<html>
<head>
<title>Likitomi: Whole Clamplift Plan</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(window).load(function(){
		$("#now").load("/now/");
		$("#req").hide();
		$("#det").hide();
	});
	$("#now").ajaxSuccess(function(){
		setTimeout("$('#now').load('/now/')", 1000);
	});

	$("#sel").change(function(){
		var opd = $("#sel").val();
		if (opd == "") {
			$("[id=always]").hide();
			$("[id=required]").hide();
			$("[id=detail]").hide();
			$("#req").hide();
			$("#det").hide();
		}
		else {
			$("#plan").load("/showwhole/?opdate="+opd);
			$("[id=detail]").hide();
			$("#req").show();
			$("#det").show();
			$("#req").css({"background-color":"lightgray", "color":"black", "border":"1px solid black"});
			$("#det").css({"background-color":"white", "color":"lightgray", "border":"1px solid lightgray"});
		}
	});

	$("#req").click(function(){
		$("#plan").show();
		$("#detail").show();
		$("[id=detail]").hide();
		$("[id=required]").show();
		$("#det").css({"background-color":"white", "color":"lightgray", "border":"1px solid lightgray"});
		$(this).css({"background-color":"lightgray", "color":"black", "border":"1px solid black"});
	});

	$("#det").click(function(){
		$("#plan").show();
		$("#detail").show();
		$("[id=required]").hide();
		$("[id=detail]").show();
		$("#req").css({"background-color":"white", "color":"lightgray", "border":"1px solid lightgray"});
		$(this).css({"background-color":"lightgray", "color":"black", "border":"1px solid black"});
		var opd = $("#sel").val();
		$("#detail").load("/detail/?opdate="+opd);
	});

});
</script>

<script type="text/javascript">
//	function loadXMLDoc()
//	{
//	//alert('This is just a trigger message!');
//	if (window.XMLHttpRequest)
//		{// code for IE7+, Firefox, Chrome, Opera, Safari
//		xmlhttp=new XMLHttpRequest();
//		}
//	else
//		{// code for IE6, IE5
//		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
//		}
//	xmlhttp.onreadystatechange=function()
//		{
//		if (xmlhttp.readyState==4 && xmlhttp.status==200)
//			{
//			document.getElementById("now").innerHTML=xmlhttp.responseText;
//			}
//		}
//	xmlhttp.open("GET","/now/",true);
//	xmlhttp.send();

//	setTimeout("loadXMLDoc()", 1000);
//	}

//	function showPlan(str)
//	{
//	//alert(str);
//	if (str=="")
//		{
//		document.getElementById("txtHint").innerHTML="";
//		return;
//		}
//	if (window.XMLHttpRequest)
//		{// code for IE7+, Firefox, Chrome, Opera, Safari
//		xmlhttp=new XMLHttpRequest();
//		}
//	else
//		{// code for IE6, IE5
//		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
//		}
//	xmlhttp.onreadystatechange=function()
//		{
//		if (xmlhttp.readyState==4 && xmlhttp.status==200)
//			{
//			document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
//			}
//		}
//	xmlhttp.open("GET", "/showwhole/?opdate="+str ,true);
//	xmlhttp.send();
//	}

</script>

</head>

<body onload='javascript:loadXMLDoc()'>

	<table>
		<tr>
			<td class="lft"><a href="/index/"><img border="0" height="100px" src="image/back.png"></a></td>	
			<td class="rght"><a href="/wholeplan/"><img border="0" height="100px" src="image/refresh2.png"></a></td>
		</tr>
	</table>
	
<table><tr><td style="border:0px"><div class='lft'>{% now "Y-m-d" %}</div></td><td style="border:0px"><div id='now'></div></td></tr><table>

<table>
	<tr>
		<td class="lft">
		AS PRODUCTION OF:
			<form>
				<select id="sel" name="opdate">
				<option value="">Select date to show plan:</option>
				{% for date in datelist %}
				<option value="{{ date }}">{{ date }}</option>
				{% endfor %}
				</select>
			</form>
		</td>
		<td></td>
		<td id="req" style="cursor:pointer; width:20%;">Required</td>
		<td id="det" style="cursor:pointer; width:20%;">Detail</td>
	</tr>
</table>

<table><tr>
	<td style="border:0px">
		<div id="plan"><b>Clamplift plan will be shown here.</b></div>
	</td>
	<td style="border:0px">
		<div id="detail"></div>
	</td>
</tr><table>

</body>
</html>
