<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery-ui-1.8.11.custom.min.js"></script>

<script type="text/javascript">
	window.addEventListener("MozOrientation", handleOrientation, true);
	function handleOrientation(orientData)
	{
	var x = orientData.x;
	var y = orientData.y;
	var z = orientData.z;
	//Do stuff with the new orientation data
	alert(x);
	alert(y);
	alert(z);
	}
</script>

<script type="text/javascript">
	window.addEventListener("deviceorientation", handleOrientation2(orientData)
	{
	{alpha: 90,
	beta: 0,
	gamma: 0};
	}, true);

	window.addEventListener("devicemotion", function(event)
	{
	{x: 0,
	y: 0,
	z: 9.81};
	}, true);

	function handleOrientation2(orientData)
	{
	var x = orientData.x;
	var y = orientData.y;
	var z = orientData.z;
	//Do stuff with the new orientation data
	alert(x);
	alert(y);
	alert(z);
	}
</script>

</head>

<body>

Long try...<br />{{query}}<br />{% for item in query %}*****{{ item.sheet_code }}{% endfor %}

	<table style="font-size:90%;">
		{% for item in query %}
		<tr name="{{ n }}" style="background-color:{% if n < chosen %}#F6F6F6{% endif %}{% if n == chosen %}white{% endif %}{% if n > chosen %}#F6F6F6{% endif %};">
			<td class="infront" rowspan="2" style="width:10px; border:0px; background-color:#CCE6CC;"></td>
			<td rowspan='2' style="width:52px;">{{ item.start_time|time:"H:i" }}</td>
			<td rowspan='2' style="width:70px;">{{ item.sheet_code }}</td>
			<td style="width:75px; height:40px;">{{ paper_width_inch }}</td>
			{% if bl %} <!-- BL -->
			<td class="cell" style="width:75px; height:40px;" title="{{bl}}" id="{{paper_width_inch}}" lang="{{loss_bl}}">{{ bl }}<br />({{ loss_bl }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
			{% if bm %} <!-- BM -->
			<td class="cell" style="width:75px; height:40px;" title="{{bm}}" id="{{paper_width_inch}}" lang="{{loss_bm}}">{{ bm }}<br />({{ loss_bm }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
		</tr>
		<tr name="{{ n }}" style="background-color:{% if n < chosen %}#F6F6F6{% endif %}{% if n == chosen %}white{% endif %}{% if n > chosen %}#F6F6F6{% endif %};">
			{% if df %} <!-- DF -->
			<td class="cell" style="width:75px; height:40px;" title="{{df}}" id="{{paper_width_inch}}" lang="{{loss_df}}">{{ df }}<br />({{ loss_df }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
			{% if cl %} <!-- CL -->
			<td class="cell" style="width:75px; height:40px;" title="{{cl}}" id="{{paper_width_inch}}" lang="{{loss_cl}}">{{ cl }}<br />({{ loss_cl }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
			{% if cm %} <!-- CM -->
			<td class="cell" style="width:75px; height:40px;" title="{{cm}}" id="{{paper_width_inch}}" lang="{{loss_cm}}">{{ cm }}<br />({{ loss_cm }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>

</body>
</html>
