<html>
<title>Long Try ...</title>
<head>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery-ui-1.8.11.custom.min.js"></script>

<script type="text/javascript">
	window.addEventListener("MozOrientation", handleOrientation, true);
	function handleOrientation(orientData)
	{
	var x = orientData.x;
	var y = orientData.y;
	var z = orientData.z;
	//Do stuff with the new orientation data
	alert(x);
	alert(y);
	alert(z);
	}
</script>

<script type="text/javascript">
	window.addEventListener("deviceorientation", handleOrientation2(orientData)
	{
	{alpha: 90,
	beta: 0,
	gamma: 0};
	}, true);

	window.addEventListener("devicemotion", function(event)
	{
	{x: 0,
	y: 0,
	z: 9.81};
	}, true);

	function handleOrientation2(orientData)
	{
	var x = orientData.x;
	var y = orientData.y;
	var z = orientData.z;
	//Do stuff with the new orientation data
	alert(x);
	alert(y);
	alert(z);
	}
</script>

</head>

<body>

Long try ...

[(datetime.time(8, 0), 'IFM730', 18163L, 50L, 'HLW174', '', '', 'HKI158', 'CA125', 18L, 0L, 0L, 16L, 19L), (datetime.time(8, 4), 'IFM730', 18164L, 50L, 'HLW174', '', '', 'HKI158', 'CA125', 120L, 0L, 0L, 109L, 128L), (datetime.time(8, 12), 'IFM731', 18165L, 9L, 'CA125', 'CA125', 'CA125', '', '', 9L, 9L, 12L, 0L, 0L)]

<br />Query: {{ query }}

</body>
</html>
