<html>
<head>

<title>Likitomi: Scale Apps</title>

<meta http-equiv="refresh" content="30;url={% url weight.scale.scale %}" />

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var scale_url = $('#scale_url').val();
	$(window).load(function scale(){
		$("#scale").load(scale_url);
		setTimeout(scale, 500);
	});
});
</script>

</head>

<body>

<input id='scale_url' type='hidden' value='{% url weight.scale.scale %}' />

<div id="scale">

<center style="font-size:2000%;">{{ weight }}</center>
<center style="font-size:200%;">{{ serror }}{% if serror %}<br />กรุณารอสักครู่...{% endif %}</center>

</div>

</body>
</html>
