<html>
<title>Likitomi: Tag Management</title>
<head>
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<style type="text/css">
body
{
font-family:"Times New Roman", Times, serif;
}

td
{
text-align:center;
vertical-align:middle;
}

div
{
position:absolute;
}

option {padding:0px;}

/* TAG */
#numbtn
{
position: absolute;
width: 50px;
height: 50px;
background-color: dimgray;
border: 2px solid silver;
}

#lanebtn
{
position: absolute;
width: 75px;
height: 25px;
background-color: slategray;
border: 2px solid silver;
}

#lanenumbtn
{
position: absolute;
width: 210px;
height: 50px;
background-color: slategray;
border: 2px solid silver;
}

#confirm
{
position:absolute;
bottom:10px;
height:50px;
width:80px;
border:2px solid silver;
background-color:dimgray;
}
</style>
<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/createnew.js"></script>
<script type="text/javascript" src="javascript/assigntag.js"></script>
<script type="text/javascript" src="javascript/writemore.js"></script>
<script type="text/javascript" src="javascript/loctag.js"></script>
<script type="text/javascript" src="javascript/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="javascript/ui.selectmenu.js"></script>
<link rel="Stylesheet" href="css/ui.selectmenu.css" type="text/css" />
<script type="text/javascript">
$(document).ready(function(){
	$( "#createnew" ).button({icons: {primary: "ui-icon-tag"}});
	$( ".asstag" ).button({icons: {primary: "ui-icon-link"}});
	$( ".writemore" ).button({icons: {primary: "ui-icon-plus"}});

	$("#uppest").click(function(){$("#showtaglist")[0].contentWindow.scrollTo(0,0);});
	$("#upper").click(function(){$("#showtaglist")[0].contentWindow.scrollBy(0,-275);});
	$("#up").click(function(){$("#showtaglist")[0].contentWindow.scrollBy(0,-55);});
	$("#down").click(function(){if ($("#showtaglist").contents().find("tr:visible").length > 8) {$("#showtaglist")[0].contentWindow.scrollBy(0,55);}});
	$("#downer").click(function(){if ($("#showtaglist").contents().find("tr:visible").length > 8) {$("#showtaglist")[0].contentWindow.scrollBy(0,275);}});
	$("#downest").click(function(){if ($("#showtaglist").contents().find("tr:visible").length > 8) {$("#showtaglist")[0].contentWindow.scrollTo(0,9999);}});

	$( "#uppest" ).button({icons: {primary: "ui-icon-seek-start"}, text: false});
	$( "#upper" ).button({icons: {primary: "ui-icon-seek-prev"}, text: false});
	$( "#up" ).button({icons: {primary: "ui-icon-triangle-1-w"}, text: false});
	$( "#downest" ).button({icons: {primary: "ui-icon-seek-end"}, text: false});
	$( "#downer" ).button({icons: {primary: "ui-icon-seek-next"}, text: false});
	$( "#down" ).button({icons: {primary: "ui-icon-triangle-1-e"}, text: false});

	$( "#writeloctag" ).button({icons: {primary: "ui-icon-arrow-4-diag"}});
	$( "#refresh" ).button({icons: {primary: "ui-icon-refresh"}});
	$( "#back" ).button({icons: {primary: "ui-icon-arrowreturnthick-1-w"}});

	var showtaglist_url = $('#showtaglist_url').val();
	$( "#searchbtn" ).button({icons: {primary: "ui-icon-search"}});

	if (!$("#realtag").val()) {
		$("#createnew").attr("disabled","disabled").removeAttr("onclick");
		$("#writeloctag").attr("disabled","disabled").removeAttr("onclick");
	}

	$("select#spcodedd").selectmenu({maxHeight: 300, style: 'dropdown', width: 90});
	$("select#swidthdd").selectmenu({style: 'dropdown', width: 70});

	$( "#checkbox" ).buttonset();

	function filterAll(){
		$("#showtaglist")[0].contentWindow.scrollTo(0,0);
		var spcode = $('#spcodedd').val();
		var swidth = $('#swidthdd').val();
//		var swidth = parseInt($('#swidthdd').val());
		if (spcode != "" && swidth == "") {var searchsta = 'c_';}
		if (spcode == "" && swidth != "") {var searchsta = '_s';}
		if (spcode != "" && swidth != "") {var searchsta = 'cs';}
		if (spcode == "" && swidth == "") {var searchsta = '__';}
		var notyet = $(":checkbox#notassfilt").attr("checked");
		var already = $(":checkbox#assignfilt").attr("checked");
		if (notyet == true && already == false) {var checksta = 'n_';}
		if (notyet == false && already == true) {var checksta = '_a';}
		if (notyet == true && already == true) {var checksta = 'na';}
		if (notyet == false && already == false) {var checksta = '__';}
		if (searchsta == 'c_' && checksta == 'n_'){
//			alert(1);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[class=None][title='+spcode+'],tr[class=""][title='+spcode+']').show();
		}
		if (searchsta == 'c_' && checksta == '_a'){
//			alert(2);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[class!=None][class!=""][title='+spcode+']').show();
		}
		if (searchsta == 'c_' && checksta == 'na'){
//			alert(3);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[title='+spcode+']').show();
		}
		if (searchsta == 'c_' && checksta == '__'){
//			alert(4);
			$('#showtaglist').contents().find('tr').hide();
		}
		if (searchsta == '_s' && checksta == 'n_'){
//			alert(5);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[class=None][lang='+swidth+'],tr[class=""][lang='+swidth+']').show();
		}
		if (searchsta == '_s' && checksta == '_a'){
//			alert(6);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[class!=None][class!=""][lang='+swidth+']').show();
		}
		if (searchsta == '_s' && checksta == 'na'){
//			alert(7);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[lang='+swidth+']').show();
		}
		if (searchsta == '_s' && checksta == '__'){
//			alert(8);
			$('#showtaglist').contents().find('tr').hide();
		}
		if (searchsta == 'cs' && checksta == 'n_'){
//			alert(9);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[class=None][title='+spcode+'][lang='+swidth+'],tr[class=""][title='+spcode+'][lang='+swidth+']').show();
		}
		if (searchsta == 'cs' && checksta == '_a'){
//			alert(10);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[class!=None][class!=""][title='+spcode+'][lang='+swidth+']').show();
		}
		if (searchsta == 'cs' && checksta == 'na'){
//			alert(11);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[title='+spcode+'][name='+swidth+']').show();
		}
		if (searchsta == 'cs' && checksta == '__'){
//			alert(12);
			$('#showtaglist').contents().find('tr').hide();
		}
		if (searchsta == '__' && checksta == 'n_'){
//			alert(13);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[class=None],tr[class=""]').show();
		}
		if (searchsta == '__' && checksta == '_a'){
//			alert(14);
			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr[class!=None][class!=""]').show();
		}
		if (searchsta == '__' && checksta == 'na'){
//			alert(15);
//			$('#showtaglist').contents().find('tr').hide();
			$('#showtaglist').contents().find('tr').show();
		}
		if (searchsta == '__' && checksta == '__'){
//			alert(16);
			$('#showtaglist').contents().find('tr').hide();
		}
	}

	$("#searchbtn").click(function(){filterAll();});
	$(":checkbox#notassfilt, :checkbox#assignfilt").change(function(){filterAll();});

	$("#nowreading").click(function(){
		var row = $("#showtaglist").contents().find("tr[id="+$(this).html()+"]");
//		alert(row.is(":visible"));
		if (row.is(":visible") == true){
			$($("#showtaglist")[0].contentWindow || $("#showtaglist")[0].contentDocument).scrollTop(row.offset().top-2);
			$("#showtaglist").contents().find("tr").css({"background-color":"lightgray","color":"black"});
			$("#showtaglist").contents().find("[lang='btn']").html("");
			row.css({"background-color": "lightblue"});
		}
	});

});
</script>
</head>

<body>
<input id="avaitag" type="hidden" value="{{ avaitag }}" />
<input id="spcodelist" type="hidden" value="{{ spcodelist }}" />
<input id="swidthlist" type="hidden" value="{{ swidthlist }}" />
<input id="tagidquery" type="hidden" value="{{ tagidquery }}" />
<input id="tag2write" type="hidden" value="{{ tag2write }}" />
<input id="realtag" type="hidden" value="{{ realtag }}" />
<input id="tagstatus" type="hidden" value="{{ tagstatus }}" />
<input id="atlane" type="hidden" value="{{ atlane }}" />
<input id="atposition" type="hidden" value="{{ atposition }}" />
<div style="position:absolute; right:0px;">{{tag2write}}</div>
<input id='showtaglist_url' type='hidden' value='{% url weight.tagman.showtaglist %}' />
{% url weight.tagman.tagman as tagman_url %}
{% url weight.tagman.showtaglist as showtaglist_url %}
{% url weight.views.dashboard as dashboard_url %}
<div style="position:absolute; right:0px;"></div>
<p style="position:absolute; top:-15px;left:10px;">Now Reading</p>
<p style="position:absolute; top:5px;left:10px;">
{% if socror %}
	<b style="font-size:90%;">Cannot connect reader!</b>
{% else %}
	{% if realtag or atlane and atposition %}
		{% if cnt_sum > 1 %}
			<b>More than 1 tag in field</b>
		{% else %}
			<b style="font-size:150%;">
			{% if realtag and not atlane and not atposition %}
				{% if tagstatus == 'known' %}ID:<b style="background-color:lightblue;">{{ realtag }}</b>{% endif %}
				{% if tagstatus == 'unknown' %}New Tag{% endif %}
			{% endif %}
			{% if atlane and atposition and not realtag %}
				Location: {% if atlocation == 'Scale' %}Scale{% endif %}{% if atlocation == 'CR' %}CR{% endif %}{% if atlocation != 'Scale' and atlocation != 'CR' %}{{ atlane }}-{{ atposition }}{% endif %}
			{% endif %}
			</b>
		{% endif %}
	{% else %}
		<b>No tag in field</b>
	{% endif %}
{% endif %}</p>

<div id="checkbox" style="top:5px; left:315px;">
	<input type="checkbox" id="notassfilt" name="checkbox" checked="checked" /><label for="notassfilt" style="font-size:80%;">Not yet</label>
	<input type="checkbox" id="assignfilt" name="checkbox" /><label for="assignfilt" style="font-size:80%;">Assigned</label>
</div>

<div style="top:0px; left:515px;"><table style="margin-top:0px;">
	<tr>
		<td>
			<form class="ui-menu">
				<select id="spcodedd">
					<option value="" selected="selected">Paper:</option>
					{% for paper_code in spcodelist %}
					<option value="{{ paper_code }}">{{ paper_code }}</option>
					{% endfor %}
				</select>
			</form>
		</td>
		<td>
			<form class="ui-menu">
				<select id="swidthdd">
					<option value="" selected="selected">Size:</option>
					{% for size in swidthlist %}
					<option value="{{ size }}">{{ size }}</option>
					{% endfor %}
				</select>
			</form>
		</td>
		<td colspan="2"><button id="searchbtn" style="font-size:80%;">Search</button></td>
	</tr>
</table></div>

	<div style="width:785px; height:55px; top:50px; background-color:white;">
	<table style="width:100%;">
		<tr style="height:55px; color:white; background-color:black;">
			<th style="width:140px;">Likitomi Roll ID</th>
			<th style="width:55px;">RFID</th>
			<th style="width:100px;">Paper Code</th>
			<th style="width:50px;">Size</th>
			<th style="width:67px;">Initial Weight</th>
			<th style="width:67px;">Current Weight</th>
			<th style="width:60px;">Lane</th>
			<th style="width:60px;">Position</th>
			<th style="width:140px; background-color:white;"></th>
<!--			<th style="width:140px; background-color:white;"><button id="createnew" style="font-size:80%;" onclick="javascript:createNew('{{ realtag }}', '{{ tagstatus }}')">Create New</button></th>-->
		</tr>
	</table>
	<iframe id="showtaglist" src="{{ showtaglist_url }}" frameborder="0" style="visibility:visible; width:785px; height:442px;" marginheight="0" marginwidth="0" scrolling="no"></iframe>
	</div>
	<div style="top:555px; left:210px;"><button id="uppest">Top Most</button></div>
	<div style="top:555px; left:260px;"><button id="upper">Seek Previous</button></div>
	<div style="top:555px; left:310px;"><button id="up">Previous</button></div>
	<div style="top:555px; left:480px;"><button id="downest">Bottom Most</button></div>
	<div style="top:555px; left:430px;"><button id="downer">Seek Next</button></div>
	<div style="top:555px; left:380px;"><button id="down">Next</button></div>

	<div style="top:560px; left:630px;"><button id="writeloctag" style="font-size:80%;" onclick="javascript:locTag('{{ realtag }}', '{{ tagstatus }}')">Write Location Tag</button></div>

	<div style="top:5px; left:175px; font-size:80%;"><button id="refresh" onclick="window.location.href='{{ tagman_url }}'">Refresh</button></div>
	<div style="top:560px; left:10px; font-size:80%;"><button id="back" onclick="window.location.href='{{ dashboard_url }}'">Back</button></div>

	<form id="frm6" action="{{ tagman_url }}createnew/" method="get">
		<input id="asupid" type="hidden" value="" name="asupid" />
		<input id="arollid" type="hidden" value="" name="arollid" />
		<input id="arfid" type="hidden" value="" name="arfid" />
		<input id="apcode" type="hidden" value="" name="apcode" />
		<input id="asize" type="hidden" value="" name="asize" />
		<input id="alane" type="hidden" value="" name="alane" />
		<input id="aposition" type="hidden" value="" name="aposition" />
		<input id="aweight" type="hidden" value="" name="aweight" />
		<input id="atag2write" type="hidden" value="" name="atag2write" />
	</form>

	<form id="frm9" action="{{ tagman_url }}loctag/" method="get">
		<input id="alane_loc" type="hidden" value="" name="alane_loc" />
		<input id="aposition_loc" type="hidden" value="" name="aposition_loc" />
		<input id="atag2write_loc" type="hidden" value="" name="atag2write_loc" />
	</form>

</body>
</html>
