<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="index,follow" name="robots" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="pics/homescreen.gif" rel="apple-touch-icon" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<!--<script type="text/javascript" src="javascript/functions.js" ></script>-->
<script type="text/javascript" src="javascript/jquery.js"></script>
	
	<script type="text/javascript">
		//cr
        $(document).ready(function() {
            $('#linkCR a').click(function() {
                $("#loadPageCR").load(this.href);
                return false;
            });
        });
        //cv
        $(document).ready(function() {
            $('#linkCV a').click(function() {
                $("#loadPageCV").load(this.href);
                return false;
            });
        });
        //pt
        $(document).ready(function() {
            $('#linkPT a').click(function() {
                $("#loadPagePT").load(this.href);
                return false;
            });
        });
        //wh
        $(document).ready(function() {
            $('#linkWH a').click(function() {
                $("#loadPageWH").load(this.href);
                return false;
            });
        });
var preEl ;
var orgBColor;
var orgTColor;

function HighLightTR(elstr, backColor,textColor){
  if(typeof(preEl)!='undefined') {
     preEl.bgColor=orgBColor;
     preEl.bgColor=orgBColor;
     try{ChangeTextColor(preEl,orgTColor);}catch(e){;}
  }
  var el=document.getElementsByClassName(elstr);
  //alert(el[0].innerHTML);
  //alert(el[1].innerHTML);
  //el = elstr;

  orgBColor = el[0].bgColor;
  orgBColor = el[1].bgColor;
  //orgTColor = el[i].style.color;
  el[0].bgColor=backColor;
  el[1].bgColor=backColor;

  //try{ChangeTextColor(el[i],textColor);}catch(e){;}
  //preEl = el[0];
  preEl = el[1];
}


function ChangeTextColor(a_obj,a_color){  ;
   for (i=0;i<a_obj.cells.length;i++)
    a_obj.cells(i).style.color=a_color;
}
function getElementsByClassName(oElm, strTagName, strClassName){
var arrElements = (strTagName == "*" && document.all)? document.all : oElm.getElementsByTagName(strTagName);
	    var arrReturnElements = new Array();
	    strClassName = strClassName.replace(/\-/g, "\\-");
	    var oRegExp = new RegExp("(^|\\s)" + strClassName + "(\\s|$)");
	    var oElement;
	    for(var i=0; i<arrElements.length; i++){
	        oElement = arrElements[i];
	        if(oRegExp.test(oElement.className)){
	            arrReturnElements.push(oElement);
	        }
	    }
	    return (arrReturnElements)
	}
</script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>{{ title }}</title>
<link href="pics/startup.png" rel="apple-touch-startup-image" />
<meta content="iPod,iPhone,Webkit,iWebkit,Website,Create,mobile,Tutorial,free" name="keywords" />
<meta content="Try out all the new features of iWebKit 5 with a simple touch of a finger and a smooth screen rotation!" name="description" />
</head>
<body>

<input id="eID" value="{{eID}}" type="hidden" />

<div id="topbar">
	<div id="title">
		{{title}}</div>
		{% if is_enable_leftbutton %}
	<div id="leftnav">
		<a href="#" class="noeffect"><img alt="home" src="images/home.png" /></a> 
	</div>
	{% endif %}
	{% if is_enable_rightbutton %}
	<div id="rightbutton">
		<a href="/likitomi/" class="noeffect">Log out</a> 
	</div>
	{% endif %}
	
</div> 
{% if is_enable_tributton %}
<div id="tributton">
	<div class="links">
		<a id="pressed" href="#">Home</a><a href="changelog.html">Changelog</a><a href="about.html">About</a></div>
</div>
{% endif %}
<div id="content">
	{# for o in set_of_sections #}
	<span class="graytitle">{{section_title}}</span>
	<ul class="pageitem">
		<li class="textbox"><span class="header">{{content_header}}</span>
		{{subcontent_header}}</p>
		</li>
		{{contents_text}}
		{% if is_enable_list %}
			<li class="menu">
			{% if is_enable_link %}<a href="{{item_link}}">
			<img alt="item_pic_name" src="{{item_pic}}" /><span class="name">{{item_name}}</span>
			{% if is_enable_comment %}<span class="comment">{{comment_name}}</span>{% endif %}
			{% if is_enable_arrow %} <span class="arrow"></span>{% endif %}</a>
			{% else %} <span class="name"> {{item_name}}</span>
			{% if is_enable_comment %}<span class="comment"> {{comment_name}}</span>{% endif %}
			{% endif %}</li>
		{% endif %}

		{# start page of planner #}{{temp_contents}}
			<ul class="pageitem"><li class="textbox">
			<table align=center width="100%">
			<tr align = center>
			<td width="50%"><a href="/likitomi/pcdetail/?eID={{eID}}&page=CR">Show full CR schedule</a>
			<table align=center width="90%">
			<tr><td width="50%">{# left #} 
	<div id="linkCR">
			<table align=center width="100%"><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="20%"> Sch.IN </td><td width="20%"> Sch.OUT </td><th width="40%" rowspan="2"> Product code </th><th width="10%" rowspan="2"> Due</th></tr>
			<tr bgcolor="#cccccc"><th>Act.IN</th><th>Act.OUT</th></tr></thead>
			</span>
			{% for start,end,product,actual_start,actual_end,days_left in items_plan_cr %}
			<tr class="{% cycle 'row1' 'row2' 'row3' as rowcount %}" onClick="HighLightTR('{{rowcount}}','#c9cc99','cc3333');">
			<td rowspan="2">{% if cr == product %} > {% endif %}</td>
			<td>{{start|time:"H:i"}}</td>
			<td>{{ end|time:"H:i" }}</td>
			<td rowspan="2"><a href=/likitomi/display/?product={{product}}><p class="tbunderline">{{product}}</a><br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbsgunderline">#{{days_left}}#<br><font color="white">-</font></p></td>
			</tr>
			<tr class="{{ rowcount }}" onClick="HighLightTR('{{rowcount}}','#c9cc99','cc3333');" >
			<td><p class="tbsgunderline">
				{% if actual_start != NULL %}
				{{actual_start|time:"H:i" }}
				{% else %} 
				<font color="white">-</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if actual_end != NULL%}
				{{actual_end|time:"H:i" }}
				{% else %}
				<font color="white">-</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table>
			</div>
			
			</td><td width="50%"><table width="100%"> <div id="loadPageCR">{# right #} Product Detail</div></table></td></tr>
			</table>	
			</li>
			</td>
			<td width="50%"> 
			
			{# section 2: CV #}<a href="/likitomi/pcdetail/?eID={{eID}}&page=CV">Show full CV schedule</a>
			<table align=center width="90%">
			<tr  height="5"><td width="60%">{# left #}
			
			<div id="linkCV">
			<table align=center width="100%"><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="10%" rowspan="2" height="20"></th><td width="25%">Sch.IN</td> <td width="25%">Sch.OUT </td><th width="30%" rowspan="2"> Product code </th><th width="5%" rowspan="2"> Mac. </th><th rowspan="2">From</th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th height="20">Act.IN</th><th>Act.OUT</th></tr></thead>
			{% for start,end,product,actual_start,actual_end,previous_section,cv_machine in items_plan_cv %}
			<tr align=center><td rowspan="2" height="20">{% if cvThreeCL == product or cvThreeCS == product or cvTwoCL == product %} > {% endif %} </td><td> {{start|time:"H:i"}}</td><td> {{end|time:"H:i"}}</td>
<td rowspan="2"><a href=/likitomi/display/?product={{product}}><p class="tbunderline">{{product}}<br><font color="white">-</font></p></a></td>
<td rowspan="2"><p class="tbunderline">{{previous_section}}<br><font color="white">-</font></p></td>
<td rowspan="2"><p class="tbunderline">{{cv_machine}}<br><font color="white">-</font></p></td>
<td rowspan="2"><p class="tbsgunderline">##<br><font color="white">-</font></p></td></tr>
			<tr>
			<td><p class="tbsgunderline">
				{% if actual_start != NULL %}
				{{actual_start|time:"H:i" }}
				{% else %} 
				<font color="white">-</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if actual_end != NULL%}
				{{actual_end|time:"H:i" }}
				{% else %}
				<font color="white">-</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table></div>
			
			</td><td width="40%"><table width="100%"> <div id="loadPageCV">{# right #} Product Detail </div> </table></td></tr>
			</table>


</td></tr>
			<tr align = center><td width="50%">
			{# section 3: PT #}<a href="/likitomi/pcdetail/?eID={{eID}}&page=PT">Show full PT schedule</a>
			<table align=center width="90%">
			<tr><td width="50%">{# left #}
			<div id="linkPT">
			<table align=center width = 100%><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="10%" rowspan="2"></th><td width="25%">Sch.IN</td> <td width="25%">Sch.OUT </td><th width="30%" rowspan="2"> Product code </th><th width="10%" rowspan="2|time:"H:i""> From </th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th>Act.IN</th><th>Act.OUT</th></tr></span></thead>
			{% for start,end,product,actual_start,actual_end,previous_section in items_plan_pt %}
			<tr align=center><td rowspan="2" height="20"> {% if pt == product %} > {% endif %} </td><td> {{start|time:"H:i"}}</td><td> {{end|time:"H:i"}}</td>
<td rowspan="2"><a href=/likitomi/display/?product={{product}}><p class="tbunderline">{{product}}<br><font color="white">-</font></p></a></td>
<td rowspan="2"><p class="tbunderline">{{previous_section}}<br><font color="white">-</font></p></td>
<td rowspan="2"><p class="tbsgunderline">##<br><font color="white">-</font></p></td>
</tr>
			<tr>
			<td><p class="tbsgunderline">
				{% if actual_start != NULL %}
				{{actual_start|time:"H:i" }}
				{% else %} 
				<font color="white">-</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if actual_end != NULL%}
				{{actual_end|time:"H:i" }}
				{% else %}
				<font color="white">-</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table></div>
			
			</td><td width="50%"><table width="100%"><div id="loadPagePT"> {# right #} Product Detail </div></table></td>

			</td>
			</table>
			</td><td width="50%">
			{# Section 4: WH #}
			<table width="90%"> <a href="/likitomi/pcdetail/?eID={{eID}}&page=WH">Show full WH schedule</a>
			<tr>
			<td width="50%"> {# left #}
			<div id="linkWH">
			<table align=center width = 100%><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="10%" rowspan="2"></th><td width="25%">Sch.IN</td><th width="35%" rowspan="2"> Product code </th><th width="30%" rowspan="2">From</th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th>Act.IN</th></tr></span></thead>
			{% for start,product,actual_start,process1,process2,process3 in items_plan_wh %}
			<tr><td rowspan="2"  height="20"> {{num}}{% if wh == start %} > {% endif %} </td><td> {{start|time:"H:i"}}</td>
<td rowspan="2"><a href=/likitomi/display/?product={{product}}><p class="tbunderline">{{product}}<br><font color="white">-</font></p></a></td>
<td rowspan="2"><p class="tbunderline">{% if process3 != NULL%} {{process3}} {% else %}{% if process2 != NULL %} {{process2}}{% else %}{% if process1 != NULL %} {{process1}} {% endif %}{% endif %}{% endif %}<br><font color="white">-</font></p></td>
<td rowspan="2"><p class="tbsgunderline">##<br><font color="white">-</font></p></td>
</tr>
			<tr>
			<td><p class="tbsgunderline">
				{% if actual_start != NULL %}
				{{actual_start|time:"H:i" }}
				{% else %} 
				<font color="white">-</font>
				{% endif %}
			</p></td>
			</td></tr>
			{% endfor %}
			</table>			
			</div>
			</td>
			<td width="50%"><table width="100%"><div id="loadPageWH"> {# right #}Product Detail </div></table>
			</td>
			</tr>
			</table>

			</td></tr>			
			</table>
			</ul>



	

</div>
<div id="footer">
	<a href="http://iwebkit.net">Powered by iWebKit</a></div>

</body>

</html>
