{% extends "CR/container.html" %}
{% block view %}

<!--PATH SETTINGS START-->
{% url statusTracking.home.logout_view as likitomi_url %}
{% url statusTracking.home.section as home_url %}
{% url statusTracking.line.startCR as startCR_url %}
{% url statusTracking.line.endCR as endCR_url %}
<!--PATH SETTINGS END-->

<div id="wrapper" style="width:100%">
    <div id="header" >
    	<!-- start Menu-->
    	<table width="100%">
    		<thead id="mainMenu">
    			<tr>
    				<th align="left" width="60%"><a id="normalLink" href="{{ home_url }}?user={{username}}">Home</a> </th>
    				<th align="left" width="30%">
						<form id="form_search" action="#">
							<fieldset id="form_search_fieldset">
								Search:&nbsp 
								<input type="text" class="searchbox" name="search" id="key_search" /> 
								<span class="loading">Loading ...</span>
							</fieldset>
						</form>
    				</th>
    				<th align="right" width="10%"><a id="normalLink" href="{{likitomi_url}}"><img src="images/quit.png" alt="quit" /></a>&nbsp&nbsp</th>
    			</tr>
    		</thead>
    	</table>
		<!-- End Menu-->
	</div>
</div>
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan </a></li>
	</ul>
	<div id="tabs-1">

	<div id="filterCriteria" align="center">
	<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" id="notProcess" checked /><label for="notProcess">Unfinished</label>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" id="missing" checked /><label for="missing">Incompleted</label>
	</div>
<br>
<div id="resultDivLineCR">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTable">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div>Sch.</div><div>Act.</div></th>
	<th width="5%"><div class="plan">IN</div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT</div><div class="actual">OUT</div></th>

	<th width="5%">Pcs Out</th>
	<th>Sheet Code</th>
	<th>MO</th>
	<th>Customer name</th>
	<th>Product</th>
	<th>Flute</th>
	<th>DF</th>
	<th>BM</th>
	<th>BL</th>
	<th>CM</th>
	<th>CL</th>
	<th>Width</th>
	<th>Case</th>
	<th>Cut</th>
	<th>Length</th>
	<th>Blank</th>
	<th>Slit</th>
	<th>Scoreline</th>
	<th>Next Process</th>
	<th>Due</th>
	<th>Remark</th>
	<th>Sketch</th>
</tr></thead>



			{% for item in items %}
			<tr id="{{ item.stateCR}}">
	<td>{% if cr == item.product_auto.product_code %} > {% endif %}</td>
	<td><div class="plan"><a href="{{ startCR_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_cr_start|time:"H:i"}}</a></div><div class="actual">
	{% if item.actual_cr_start != NULL %}
				{{item.actual_cr_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan"><a href="{{ endCR_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_cr_end|time:"H:i" }}</a></div><div class="actual">
	{% if item.actual_cr_end != NULL %}
				{{item.actual_cr_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
				
	<td><div class="plan">{{item.total_plan.amount_cr}}</div><div class="actual">
	{% if item.actual_amount_cr != NULL%}
		{% if item.actual_amount_cr < item.total_plan.amount_cr %}
			<font color="red">{{item.actual_amount_cr}}</font>
		{% else %}
			{{item.actual_amount_cr}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	<td>{{item.product_auto.product_code}}</td>
	<td> {{item.mo_cr_code}}</td>
	<td>{{item.product.partner.partner_name}}</td>
	<td>{{item.product.product_name}}</td>
	<td>{{item.product_auto.flute}}</td>
	<td>{{item.product_auto.df}}</td>
	<td>{{item.product_auto.bm}}</td>
	<td>{{item.product_auto.bl}}</td>
	<td>{{item.product_auto.cm}}</td>
	<td>{{item.product_auto.cl}}</td>
	<td>{{item.product.pc_paper_width_mm}}</td>
	<td>{{item.plan_amount}}</td>
	<td>{{item.total_plan.amount_cr}}</td>
	<td>{{item.product.cr_length}}</td>
	<td>{{item.product.cr_blank}}</td>
	<td>{{item.product.pc_slit}}</td>
	<td>{{item.product.scoreline_f}}</td>
	<td>{{item.process2}}</td>
	<td >{{item.days_left}}</td>
	<td>
	<!--{% if item.process1 == 'CR' and item.process2 == 'WH' %}
		    last process
		{% else %}{% if item.process2 == 'CR' and item.process3 == 'WH' %}
		   last process
		{% else %}{% if item.process3 == 'CR' and item.process4 == 'WH' %}
		    last process
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}
	-->
	</td>
			<td>	{% if item.product.sketch != "" %}
		<a href={{Path}}{{item.product.sketch}}  target='_blank'>{{item.product.product_code}} [M]</a><br/>
	{% endif %}
	{% if item.product.sketch_large != "" %}
		<a href={{Path}}{{item.product.sketch_large}} target='_blank'>{{item.product.product_code}} [L]</a>
	{% endif %}</td>
	</tr>
			{% endfor %}
</tbody>
			</table>
</div>
{% endblock %}
