<html>
<head>
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<link rel="stylesheet" type="text/css" href="css/plan.css" />
<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#values").hide();
	$(window).load(function loadMap(){
		var pcode = $("#pcode").html();
		var width = $("#width").html();
		var loss = $("#loss").html();
		var spcode = $("#spcode").html();
		var swidth = $("#swidth").html();
		var cpcode = $('#minclamp', top.document).contents().find('#cpcode').val();
		var cwidth = $('#minclamp', top.document).contents().find('#cwidth').val();
		var lane = $('#minclamp', top.document).contents().find('#lane').val();
		var position = $('#minclamp', top.document).contents().find('#position').val();
		var atlane = $('#minclamp', top.document).contents().find('#atlane').val();
		var atposition = $('#minclamp', top.document).contents().find('#atposition').val();
		var clamping = $("#clamping").html();
		var changed = $("#changed").html();
		$("#inventory").load("/inventory/?pcode="+pcode+"&width="+width+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed);
		setTimeout(loadMap, 2000);
	});
});
</script>
</head>

<body>
{% load getpos %}
{% load floor %}
{% load second %}
{% load third %}
{% load fourth %}
{% load fifth %}
{% load sixth %}
{% load seventh %}
{% load eighth %}
{% load ninth %}
{% load tenth %}
{% load eleventh %}
{% load twelfth %}
{% load thirteenth %}
<div id="inventory">
<!--Plan: {{pcode}} >> {{width}} {{mlist}}<br/>-->
<!--Search: {{spcode}} >> {{swidth}} {{mlist2}}<br/>-->
<!--Clamplift: {{cpcode}} >> {{cwidth}}, Location: {{lane}}-{{position}} *** @{{atlane}}-{{atposition}} {{mlist3}}<br/>-->
<div id="values">
	<div id="pcode">{{ pcode }}</div>
	<div id="width">{{ width }}</div>
	<div id="loss">{{ loss }}</div>
	<div id="spcode">{{ spcode }}</div>
	<div id="swidth">{{ swidth }}</div>
	<div id="cpcode">{{ cpcode }}</div>
	<div id="cwidth">{{ cwidth }}</div>
	<div id="lane">{{ lane }}</div>
	<div id="position">{{ position }}</div>
	<div id="atlane">{{ atlane }}</div>
	<div id="atposition">{{ atposition }}</div>
	<div id="clamping">{{ clamping }}</div>
	<div id="changed">{{ changed }}</div>
</div>

<!--H: {{Hlist}}<br/>-->
<!--G: {{Glist}}<br/>-->
<!--F: {{Flist}}<br/>-->
<!--E: {{Elist}}<br/>-->
<!--D: {{Dlist}}<br/>-->
<!--C: {{Clist}}<br/>-->
<!--B: {{Blist}}<br/>-->
<!--A: {{Alist}}-->
@{{atlane}}-{{atposition}}<br/>
<!--4th: {{THlist}}<br/>-->
<!--3rd: {{RDlist}}<br/>-->
<!--2nd: {{NDlist}}<br/>-->
1st: {{STlist}}

<table style="height:80%">
<tr>

<!--<td class="top" style="width:8%; border:0px; vertical-align:middle;">-->
<!--<table>-->
<!--<!--	<tr>-->-->
<!--<!--		<th>ID</th>-->-->
<!--<!--		<th style="border:0px">Wght.</th>-->-->
<!--<!--	</tr>-->-->
<!--	<tr>-->
<!--		<td style="border:0px;">-->
<!--			<table>-->
<!--			<tr>-->
<!--				<td style="border:0px; vertical-align:bottom;" height="{{ lossinv }}px"><table>-->
<!--				{% for w in dablist %}<tr><td {% if w < 100 %}class="lkf4"{% endif %}{% if w >= 100 and w < 400 %}class="lkf3"{% endif %}{% if w >= 400 and w < 700 %}class="lkf2"{% endif %}{% if w >= 700 or w == initail_weight %}class="lkf1"{% endif %}>{{ w }}</td></tr>{% endfor %}-->
<!--				</table></td>-->
<!--				<td style="border:0px; vertical-align:bottom;"><table>-->
<!--					{% for c in cablist %}-->
<!--					<tr><td style="border:0px;">x{{ c }}</td></tr>-->
<!--					{% endfor %}-->
<!--				</table></td>-->
<!--			</tr>-->
<!--			<tr><td colspan="2" style="background-color:lightgray;">{{ loss }}>></td></tr>-->
<!--			<tr>-->
<!--				<td style="border:0px; vertical-align:top;" height="{{ losspx }}px"><table>-->
<!--				{% for w in dbllist %}<tr><td {% if w < 100 %}class="lkf4"{% endif %}{% if w >= 100 and w < 400 %}class="lkf3"{% endif %}{% if w >= 400 and w < 700 %}class="lkf2"{% endif %}{% if w >= 700 or w == initail_weight %}class="lkf1"{% endif %}>{{ w }}</td></tr>{% endfor %}-->
<!--				</table></td>-->
<!--				<td style="border:0px; vertical-align:top;"><table>-->
<!--					{% for c in cbllist %}-->
<!--					<tr><td style="border:0px;">x{{ c }}</td></tr>-->
<!--					{% endfor %}-->
<!--				</table></td>-->
<!--			</tr>-->
<!--			</table>-->
<!--		</td>-->
<!--		<td style="border:0px;"><img src="images/clamplift/ruler2.png" width="25px"/></td>-->
<!--<!--		<td style="border:0px;"><table>-->-->
<!--<!--			<tr height="75px"><td style="border:0px;">{% if c4 != 0 %}{{ c4 }}{% endif %}</td></tr>-->-->
<!--<!--			<tr height="75px"><td style="border:0px;">{% if c3 != 0 %}{{ c3 }}{% endif %}</td></tr>-->-->
<!--<!--			<tr height="75px"><td style="border:0px;">{% if c2 != 0 %}{{ c2 }}{% endif %}</td></tr>-->-->
<!--<!--			<tr height="25px"><td style="border:0px;">{% if c1 != 0 %}{{ c1 }}{% endif %}</td></tr>-->-->
<!--<!--		</table></td>-->-->
<!--<!--	<td style="border:0px">-->-->
<!--<!--	<table>-->-->
<!--<!--	{% for w in ddwlist %}-->-->
<!--<!--	<tr>-->-->
<!--<!--		<td {% if w < 100 %}class="red"{% endif %}-->-->
<!--<!--			{% if w >= 100 and w < 400 %}class="yellow"{% endif %}-->-->
<!--<!--			{% if w >= 400 and w < 700 %}class="blue"{% endif %}-->-->
<!--<!--			{% if w >= 700 or w == initail_weight %}class="green"{% endif %}>{{ w }}</td>-->-->
<!--<!--	</tr>-->-->
<!--<!--	{% endfor %}-->-->
<!--<!--	</table>-->-->
<!--<!--	</td>-->-->
<!--<!--	<td style="border:0">-->-->
<!--<!--	<table>-->-->
<!--<!--	{% for c in clist %}-->-->
<!--<!--	<tr><td style="border:0">x{{ c }}</td></tr>-->-->
<!--<!--	{% endfor %}-->-->
<!--<!--	</table>-->-->
<!--<!--	</td>-->-->
<!--	</tr>-->
<!--<!--	<tr>-->-->
<!--<!--		<th>ID</th>-->-->
<!--<!--		<th style="border:0px">Kgs.</th>-->-->
<!--<!--	</tr>-->-->
<!--</table>-->
<!--</td>-->

<td style="width:100%; border:0px;">
<table>
	<tr><td class="map"></td>{% for pos in posall %}<td class="map">{{ pos }}</td>{% endfor %}</tr>

	<tr><td class="map">H</td>
		{% for pos in posh %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm4').submit()"{% endif %}><tr>
						{% for ls in Hlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '4' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">H</td></tr>

	<tr><td class="map">|</td>
		{% for pos in pos4 %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0"><tr>
						{% for ls in THlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if pos < 0 %}<img style="width:20px; z-index:-1;" src="images/clamplift/clamplift.png" />{% endif %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '4' and pos == '*' %}
						<td class="map"><img style="width:20px" src="images/clamplift/clamplift.png" /></td>
					{% else %}
						<td class="map"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
<!--			<td class="map">-->
<!--				{% if atlane == '4' and pos == '*' %}-->
<!--					<img style="width:10px" src="images/clamplift/clamplift.png" />-->
<!--				{% endif %}-->
<!--			</td>-->
		{% endfor %}
	<td class="map">|</td></tr>

	<tr><td class="map">G</td>
		{% for pos in posg %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm5').submit()"{% endif %}><tr>
						{% for ls in Glist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '4' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">G</td></tr>

	<tr><td class="map">F</td>
		{% for pos in posf %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm4').submit()"{% endif %}><tr>
						{% for ls in Flist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '3' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">F</td></tr>

	<tr><td class="map">|</td>
		{% for pos in pos3 %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0"><tr>
						{% for ls in RDlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if pos < 0 %}<img style="width:20px; z-index:-1;" src="images/clamplift/clamplift.png" />{% endif %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '3' and pos == '*' %}
						<td class="map"><img style="width:20px" src="images/clamplift/clamplift.png" /></td>
					{% else %}
						<td class="map"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
<!--			<td class="map">-->
<!--				{% if atlane == '3' and pos == '*' %}-->
<!--					<img style="width:10px" src="images/clamplift/clamplift.png" />-->
<!--				{% endif %}-->
<!--			</td>-->
		{% endfor %}
	<td class="map">|</td></tr>
	<tr><td class="map">E</td>
		{% for pos in pose %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm5').submit()"{% endif %}><tr>
						{% for ls in Elist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '3' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" {% if pos in buff %}class="buff"{% else %}class="gray"{% endif %} onclick="getElementById('frm5').submit()">{{pos}}</td>
					{% else %}
						<td {% if pos in buff %}class="buff"{% else %}class="gray"{% endif %}></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">E</td></tr>

	<tr><td class="map">D</td>
		{% for pos in posd %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm4').submit()"{% endif %}><tr>
						{% for ls in Dlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '2' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" {% if pos in buff %}class="buff"{% else %}class="gray"{% endif %} onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td {% if pos in buff %}class="buff"{% else %}class="gray"{% endif %}></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">D</td></tr>

	<tr><td class="map">|</td>
		{% for pos in pos2 %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0"><tr>
						{% for ls in NDlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if pos < 0 %}<img style="width:20px; z-index:-1;" src="images/clamplift/clamplift.png" />{% endif %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '2' and pos == '*' %}
						<td class="map"><img style="width:20px" src="images/clamplift/clamplift.png" /></td>
					{% else %}
						<td class="map"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
<!--			<td class="map">-->
<!--				{% if atlane == '2' and pos == '*' %}-->
<!--					<img style="width:10px" src="images/clamplift/clamplift.png" />-->
<!--				{% endif %}-->
<!--			</td>-->
		{% endfor %}
	<td class="map">|</td></tr>

	<tr><td class="map">C</td>
		{% for pos in posc %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm5').submit()"{% endif %}><tr>
						{% for ls in Clist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '2' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">C</td></tr>

	<tr><td class="map">B</td>
		{% for pos in posb %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm4').submit()"{% endif %}><tr>
						{% for ls in Blist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '1' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">B</td></tr>

	<tr><td class="map">|</td>
		{% for pos in pos1 %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0"><tr>
						{% for ls in STlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if pos < 0 %}<img style="width:20px; z-index:-1;" src="images/clamplift/clamplift.png" />{% endif %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '1' and pos == '*' %}
						<td class="map"><img style="width:20px" src="images/clamplift/clamplift.png" /></td>
					{% else %}
						<td class="map"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
<!--			<td class="map">-->
<!--				{% if atlane == '1' and pos == '*' %}-->
<!--					<img style="width:10px" src="images/clamplift/clamplift.png" />-->
<!--				{% endif %}-->
<!--			</td>-->
		{% endfor %}
	<td class="map">|</td></tr>

	<tr><td class="map">A</td>
		{% for pos in posa %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm5').submit()"{% endif %}><tr>
						{% for ls in Alist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '1' and atposition == pos %}
						<td style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">A</td></tr>

	<tr><td class="map"></td>{% for pos in posall %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>
</table>

</td>
</tr>
</table>

<form id="frm4" action="/minclamp/changeloc/" method="get">
	<input type="hidden" value="{{ realtag }}" name="realtag" />
	<input type="hidden" value="{{ leftlane }}" name="lane" />
	<input type="hidden" value="{{ atposition }}" name="pos" />
	<input type="hidden" value="{{ pcode }}" name="pcode" />
	<input type="hidden" value="{{ width }}" name="width" />
	<input type="hidden" value="{{ loss }}" name="loss" />
</form>

<form id="frm5" action="/minclamp/changeloc/" method="get">
	<input type="hidden" value="{{ realtag }}" name="realtag" />
	<input type="hidden" value="{{ rightlane }}" name="lane" />
	<input type="hidden" value="{{ atposition }}" name="pos" />
	<input type="hidden" value="{{ pcode }}" name="pcode" />
	<input type="hidden" value="{{ width }}" name="width" />
	<input type="hidden" value="{{ loss }}" name="loss" />
</form>

</div>
</body>
</html>
