<html>
<head>
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(window).load(function minClamp(){
		$("#minclamp").load("/minclamp/");
		setTimeout(minClamp, 2000);
	});
});
</script>
<script type="text/javascript">
function submit()
{
	document.getElementById("frm1").submit();
}

function undoSubmit()
{
	document.getElementById("frm2").submit();
}

function changeLocDown()
{
	document.getElementById("lane").value = '{{lane}}';
	document.getElementById("pos").value = '{{downpos}}';
	document.getElementById("frm3").submit();
}

function changeLocUp()
{
	document.getElementById("lane").value = '{{lane}}';
	document.getElementById("pos").value = '{{uppos}}';
	document.getElementById("frm3").submit();
}

function changeLocOpp()
{
	document.getElementById("lane").value = '{{opplane}}';
	document.getElementById("pos").value = '{{position}}';
	document.getElementById("frm3").submit();
}

function changeLocOppDown()
{
	document.getElementById("lane").value = '{{opplane}}';
	document.getElementById("pos").value = '{{downpos}}';
	document.getElementById("frm3").submit();
}

function changeLocOppUp()
{
	document.getElementById("lane").value = '{{opplane}}';
	document.getElementById("pos").value = '{{uppos}}';
	document.getElementById("frm3").submit();
}

function changeLocLeft()
{
	document.getElementById("frm4").submit();
}

function changeLocRight()
{
	document.getElementById("frm5").submit();
}
</script>
</head>
<body>
	<div id="minclamp">
	<input id="cpcode" type="hidden" value="{{ paper_code }}" />
	<input id="cwidth" type="hidden" value="{{ size }}" />
	<input id="lane" type="hidden" value="{{ lane }}" />
	<input id="position" type="hidden" value="{{ position }}" />
	<input id="atlane" type="hidden" value="{{ atlane }}" />
	<input id="atposition" type="hidden" value="{{ atposition }}" />
	<input id="realtag" type="hidden" value="{{ realtag }}" />
	{% if realtag %}
	<table style="width:100%;"><tr>
		<td><p class="label">ID: </p></td><td><p class="var">{{ realtag }}</p></td>
		<td><p class="label">P.Code: </p></td><td><p class="var">{{ paper_code }}</p></td>
		<td><p class="label">Size: </p></td><td><p class="var">{{ size }}</p></td>
		<td><p class="label">Loc.:</p></td><td><p class="var">{{lane}}-{{position}}</p></td>
		<td align="center" rowspan="2">{% if undo_btn != "" %}<a href="javascript:undoSubmit()"><img border="0" height="50px" src="images/clamplift/undo.png"></a>{% endif %}</td>
		<td><p class="label">Weight: </p></td><td><p class="var">{{ actual_wt }}</p></td>
		{% if atlocation == "Scale" and actual_wt > temp_weight %}
		<td align="center">>>></td>
		<td><p class="var" id="minbig">{{ temp_weight }}</p></td>
		{% endif %}
		<td><p class="unit">kgs.</p></td>
		{% if atlocation == "Scale" and actual_wt > temp_weight %}<td align="center" rowspan="2"><a href="javascript:submit()"><img border="0" height="50px" src="images/clamplift/update.png"></a></td>{% endif %}
		<td style="text-align:center"><a href="/clamplift/" target="_parent"><button>More</button></a></td>
	</tr></table>
	{% endif %}

	<form id="frm1" action="/minclamp/update/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input type="hidden" value="{{ actual_wt }}" name="actual_wt" />
		<input type="hidden" value="{{ temp_weight }}" name="temp_weight" />
	</form>

	<form id="frm2" action="/minclamp/undo/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
	</form>

	<form id="frm3" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input id="lane" type="hidden" value="{{ lane }}" name="lane" />
		<input id="pos" type="hidden" value="{{ position }}" name="pos" />
	</form>

	<form id="frm4" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input type="hidden" value="{{ leftlane }}" name="lane" />
		<input type="hidden" value="{{ atposition }}" name="pos" />
	</form>

	<form id="frm5" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input type="hidden" value="{{ rightlane }}" name="lane" />
		<input type="hidden" value="{{ atposition }}" name="pos" />
	</form>
	</div>
</body>
</html>
