<html>
<head>
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<style type="text/css">
body
{
font-family:"Times New Roman", Times, serif;
}

td
{
text-align:center;
vertical-align:middle;
}

/* TAG */
#numbtn
{
position: absolute;
width: 50px;
height: 50px;
background-color: dimgray;
border: 2px solid silver;
}

#lanebtn
{
position: absolute;
width: 75px;
height: 25px;
background-color: slategray;
border: 2px solid silver;
}

#confirm
{
position:absolute;
bottom:10px;
height:50px;
width:80px;
border:2px solid silver;
background-color:dimgray;
}
</style>
<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/createnew.js"></script>
<script type="text/javascript" src="javascript/assigntag.js"></script>
<script type="text/javascript" src="javascript/writemore.js"></script>
<script type="text/javascript" src="javascript/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$( "#createnew" ).button({icons: {primary: "ui-icon-tag"}});
	$( ".asstag" ).button({icons: {primary: "ui-icon-link"}});
	$( ".writemore" ).button({icons: {primary: "ui-icon-plus"}});

	$("tr").click(function(){
//		$("[class='']").css({"background-color":"lightblue","color":"black"});
//		$("[class!='']").css({"background-color":"lightgray","color":"black"});
		$("tr").css({"background-color":"lightgray","color":"black"});
		$(this).css({"background-color":"lightyellow","color":"black"});
		var new_rfid = $(this).attr("id");
		$("[lang='btn']").html("");
		var idlen = $(this).attr("id").toString().length;
		var rfid = $(this).attr("id").toString();
		if (idlen == 1) { var arfid = "000"+rfid; }
		if (idlen == 2) { var arfid = "00"+rfid; }
		if (idlen == 3) { var arfid = "0"+rfid; }
		if (idlen == 4) { var arfid = rfid; }
		var realtag = $("#realtag").val();
		var atlane = $("#atlane").val();
		var atposition = $("#atposition").val();
		if ($("#tagstatus").val() == "unknown"){var tag2write = "New";}
		if (!realtag && atlane && atposition) {var tag2write = "Location Tag";}
		if (realtag && $("#tagstatus").val() == "known") {var tag2write = realtag;}
		if ($(this).attr("class") == "" || $(this).attr("class") == "None") {
			$("[title="+new_rfid+"]").html("<b>"+tag2write+" >>> "+arfid+"</b><button class='asstag' style='font-size:75%;'>Assign Tag</button>");
			$(".asstag").button({icons: {primary: "ui-icon-link"}});
			$(".asstag").click(function(){
				$("#arfid").val(arfid);
				$("#atag2write").val($("#tag2write").val());
//				alert($("#arfid").val());
//				alert($("#atag2write").val());
				if (tag2write && tag2write == "Location Tag" || !realtag){
//					alert("Writing on location tag is not allowed.");
					$("#asstag").attr("disabled","disabled").removeAttr("onclick");
				}
				else{
					$("#frm7").submit();
				}
			});
		}
		else if ($(this).attr("class") != "" && $(this).attr("class") != "None") {
			$("[title="+new_rfid+"]").html("<b>"+tag2write+" >>> "+arfid+"</b><button class='writemore' style='font-size:75%;'>Write More</button>");
			$( ".writemore" ).button({icons: {primary: "ui-icon-plus"}});
			$(".writemore").click(function(){
				$("#arfid_more").val(arfid);
				$("#atag2write_more").val($("#tag2write").val());
				if (tag2write && tag2write == "Location Tag" || !realtag){
//					alert("Writing on location tag is not allowed.");
					$("#writemore").attr("disabled","disabled").removeAttr("onclick");
				}
				else{
					$("#frm8").submit();
				}
			});
		}
	});

	$('tr').hide();
	$('tr[class=None],tr[class=""]').show();
});
</script>
</head>

<body>
<input id="avaitag" type="hidden" value="{{ avaitag }}" />
<input id="spcodelist" type="hidden" value="{{ spcodelist }}" />
<input id="swidthlist" type="hidden" value="{{ swidthlist }}" />
<input id="tagidquery" type="hidden" value="{{ tagidquery }}" />
<input id="tag2write" type="hidden" value="{{ tag2write }}" />
<input id="realtag" type="hidden" value="{{ realtag }}" />
<input id="tagstatus" type="hidden" value="{{ tagstatus }}" />
<input id="atlane" type="hidden" value="{{ atlane }}" />
<input id="atposition" type="hidden" value="{{ atposition }}" />

{% url weight.tagman.showtaglist as showtaglist_url %}
	<div style="width:785px; height:580px;">
	<table style="width:100%;">
		{% for paper_roll_detail_id, rfid_roll_id, paper_code, size, initial_weight, lane, position, current_weight in nlist %}
		<tr class="{{ rfid_roll_id }}" title="{{ paper_code }}" lang="{{ size }}" id="{{ paper_roll_detail_id }}" style="height:53px; background-color: lightgray;">
			<td style="width:58px;">{{ paper_roll_detail_id }}</td>
			<td style="width:67px;">{% if rfid_roll_id != None %}{{ rfid_roll_id }}{% else %}{% endif %}</td>
<!--			<td style="width:67px;">{{ rfid_roll_id }}</td>-->
			<td style="width:120px;">{{ paper_code }}</td>
			<td style="width:67px;">{{ size }}</td>
			<td style="width:67px;">{{ initial_weight }}</td>
			<td style="width:67px;">{{ current_weight }}</td>
			<td style="width:69px;">{% if lane != Null %}{{ lane }}{% else %}{% endif %}</td>
			<td style="width:69px;">{% if position != Null %}{{ position }}{% endif %}</td>
			<td title="{{ paper_roll_detail_id }}" lang="btn" style="width:160px; background-color:white;"></td>
<!--			<td style="width:160px; background-color:white;">{% if rfid_roll_id == "" %}<button class="asstag" onclick="javascript:assignTag({{ paper_roll_detail_id }}, '{{ rfid_roll_id }}', '{{ paper_code }}', {{ size }}, {{ initial_weight }}, {{ current_weight }}, '{{ lane }}', '{{ position }}');">Assign Tag</button>{% endif %}{% if rfid_roll_id != "" %}<button class="writemore" onclick="javascript:writeMore({{ paper_roll_detail_id }}, '{{ rfid_roll_id }}', '{{ paper_code }}', {{ size }}, {{ initial_weight }}, {{ current_weight }}, '{{ lane }}', '{{ position }}')">Write More</button>{% endif %}</td>-->
		</tr>
		{% endfor %}
	</table>
	</div>

	<form id="frm7" action="{{ showtaglist_url }}assigntag/" method="get">
		<input id="arfid" type="hidden" value="" name="arfid" />
<!--		<input id="alane" type="hidden" value="" name="alane" />-->
<!--		<input id="aposition" type="hidden" value="" name="aposition" />-->
		<input id="atag2write" type="hidden" value="" name="atag2write" />
	</form>

	<form id="frm8" action="{{ showtaglist_url }}writemore/" method="get">
		<input id="arfid_more" type="hidden" value="" name="arfid_more" />
		<input id="atag2write_more" type="hidden" value="" name="atag2write_more" />
	</form>

</body>
</html>
