<!--- table of not process plan -->
<center><table width="300"><tr><td><div id="updateMessageNotProcess" class="ui-state-highlight ui-corner-all" style="margin-top: 0px; padding: .2em .1em;">
<span class="ui-icon ui-icon-info" style="float: left; margin-right: .1em;"></span>
					Plan has been refreshed!
</div></td></tr></table></center>

<!--- table of not process plan -->
		<table align='center' height='350' width="95%" class='tbltables'>
	<tr>
		<td width="45%"><a href="/likitomi/pcdetail/?eID={{eID}}&page=CR"><center>Show full CR schedule</center></a>
		{% block crview %}
		<!-- table CR --><center><table align=center width="90%"> 
			<tr><td width="50%">{# left #}{{temp}}
	<div id="linkCR">
			<table align=center width="100%"><!-- table left --><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="10%"><b> Sch.IN </b></td><td width="10%"> <b>Sch.OUT</b> <td width="10%"><b> Sch.pcs</b></td></td><th width="20%" rowspan="2"> Product code </th><th width="10%" rowspan="2"> Due</th></tr>
			<tr bgcolor="#cccccc"><th align="right">Act.IN</th><th align="right">Act.OUT</th><th align="right">Act.pcs</th></tr></thead>
			</span>
			{% for CR_items in notProcessCR %}
			<tr class="{% cycle 'rowCR1' 'rowCR2' 'rowCR3' as rowcountCR %}" onClick="HighLightTR('{{rowcountCR}}','#c9cc99','cc3333','{{product}}');showDetail('#loadPageCR','/likitomi/display/?product={{product}}');">
			<td rowspan="2">{% if cr == CR_items.product %} > {% endif %}</td>
			<td>{{CR_items.plan_cr_start|time:"H:i"}}</td>
			<td>{{ CR_items.plan_cr_end|time:"H:i" }}</td>
			<td>{{CR_items.plan_amount}}</td>
			<td rowspan="2"><p class="tbunderline">{{CR_items.product.product_code}}<br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline">{{CR_items.days_left}}<br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr class="{{ rowcountCR }}" onClick="HighLightTR('{{rowcountCR}}','#c9cc99','cc3333','{{product}}'); showDetail('#loadPageCR','/likitomi/display/?product={{product}}');" >
			<td><p class="tbsgunderline">
				{% if CR_items.actual_cr_start != NULL %}
				{{CR_items.actual_cr_start|time:"H:i" }}
				{% else %} 
				<font color="white"> </font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if CR_items.actual_cr_end != NULL%}
				{{CR_items.actual_cr_end|time:"H:i" }}
				{% else %}
				<font color="white">  </font>
				{% endif %}

			</p></td>
			<td><p class="tbsgunderline">
				{% if CR_items.plan_amount > CR_items.actual_amount_cr %}
				<font color="red">{{CR_items.actual_amount_cr}}</font>
				{% else %}{% if CR_items.actual_amount_cr != NULL%}
				{{CR_items.actual_amount_cr}}
				{% else %}
				0
				{% endif %}{% endif %}

			</p></td>
			</tr></a>
			{% endfor %}
		<!--- add empty line -->
			{% if countNotProcessFullCR = 0 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
			{% if countNotProcessFullCR = 1 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
			{% if countNotProcessFullCR = 2 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
		<!--- add empty line -->
			</table> <!-- end table left -->
			</center></div>
			
			</td><td width="50%" bgColor="#F8F8F8"><table><div id="loadPageCR"> {# right #} << Please Click in order to see Product Detail </div></table></td></tr>

			</table><!-- end table CR -->
		{% endblock%}
		</td> <td><a href="/likitomi/pcdetail/?eID={{eID}}&page=CV"><center>Show full CV schedule</center></a><center>
		<table align=center width="90%">

			<tr  height="5"><td width="60%">{# left #}
			
			<div id="linkCV">
			<table align=center width="100%"><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="15%"><b> Sch.IN </b></td><td width="15%"><b> Sch.OUT </b></td><td width="15%"><b> Sch.Pcs </b></td><th width="20" rowspan="2"> Product code </th><th width="10" rowspan="2">Machine</th><th width="20" rowspan="2">From</th><th width="10" rowspan="2">Due</th></tr>
			<tr bgcolor="#cccccc"><th>Act.IN</th><th>Act.OUT</th><th>Act.Pcs</th></tr></thead>
			</span>
			{% for CV_items in notProcessCV %}
			<tr class="{% cycle 'rowCV1' 'rowCV2' 'rowCV3' as rowcountCV %}" onClick="HighLightTR('{{rowcountCV}}','#c9cc99','cc3333','{{product}}'); showDetail('#loadPageCV','/likitomi/display/?product={{product}}');">
			<td rowspan="2" height="20">{% if cvThreeCL == CV_items.product or cvThreeCS == CV_items.product or cvTwoCL == CV_items.product %} > {% endif %} </td>
			<td> {{CV_items.plan_cv_start|time:"H:i"}}</td>
			<td> {{CV_items.plan_cv_end|time:"H:i"}}</td>
			<td>{{ plan_amount }}</td>
<td rowspan="2"><p class="tbunderline">{{CV_items.product.product_code}}<br><font color="white"> &nbsp; </font></p></td>
<td rowspan="2"><p class="tbunderline" align="center">{{CV_items.cv_machine}}<br><font color="white"> &nbsp; </font></p></td>
<td rowspan="2"><p class="tbunderline">{% if CV_items.process2 == "CV" %} {{CV_items.process1}} {% endif %}{% if CV_items.process3 == "CV" %} {{CV_items.process2}} {% endif %}<br><font color="white"> &nbsp; </font></p></td>
<td rowspan="2"><p class="tbunderline">{{CV_items.days_left}}<br><font color="white"> &nbsp; </font></p></td></tr>
			<tr class="{{ rowcountCV }}" onClick="HighLightTR('{{rowcountCV}}','#c9cc99','cc3333','{{product}}'); showDetail('#loadPageCV','/likitomi/display/?product={{product}}');">
			<td><p class="tbsgunderline">
				{% if CV_items.actual_cv_start != NULL %}
				{{CV_items.actual_cv_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if CV_items.actual_cv_end != NULL%}
				{{CV_items.actual_cv_end|time:"H:i" }}
				{% else %}
				<font color="white">&nbsp;</font>
				{% endif %}

			</p></td>
			<td align="right"><p class="tbsgunderline">				
				{% if CV_items.actual_amount_cv != NULL%}
				 {% if CV_items.actual_amount_cv < CV_items.plan_amount %}
				<font color="red">{{CV_items.actual_amount_cv}}</font>
				{% else %}
				{{CV_items.actual_amount_cv}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
		<!--- add empty line -->
			{% if countNotProcessFullCV = 0 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>

			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
			{% if countNotProcessFullCV = 1 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
			{% if countNotProcessFullCV = 2 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
		<!--- add empty line -->
			</table></div>
			
			</td><td width="40%"  bgColor="#F8F8F8"><table width="100%"> <div id="loadPageCV">{# right #} << Please Click in order to see Product Detail</div> </table></td></tr>
			</table>
<!-- end cv table -->
		</center>
		</td>		
	</tr>
	<tr>
		<td><a href="/likitomi/pcdetail/?eID={{eID}}&page=PT"><center>Show full PT schedule</center></a>
		<!-- start pt table --><center>
		<table align=center width="95%">
			
			<tr><td width="50%">{# left #}
			<div id="linkPT">
			<table align=center width = 100%><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="20%"><b> Sch.IN </b></td><td width="20%"><b> Sch.OUT </b></td><td><b>Sch.Pcs</b></td><th width="20" rowspan="2"> Product code </th><th width="20" rowspan="2">From</th><th width="10" rowspan="2">Due</th></tr>
			<tr bgcolor="#cccccc"><th>Act.IN</th><th>Act.OUT</th><th>Act.Pcs</th></tr></thead>
			</span>
			{% for PT_items in notProcessPT %}
			<tr class="{% cycle 'rowPT1' 'rowPT2' 'rowPT3' as rowcountPT %}" onClick="HighLightTR('{{rowcountPT}}','#c9cc99','cc3333','{{product}}');  showDetail('#loadPagePT','/likitomi/display/?product={{product}}');"><td rowspan="2" height="20"> {% if pt == PT_items.product %} > {% endif %} </td>
	<td> {{PT_items.plan_pt_start|time:"H:i"}}</td>
	<td> {{PT_items.plan_pt_end|time:"H:i"}}</td>
	<td> {{PT_items.plan_amount}} </td>
<td rowspan="2"><p class="tbunderline">{{PT_items.product.product_code}}<br><font color="white"> &nbsp; </font></p></td>
<td rowspan="2"><p class="tbunderline">{% if PT_items.process2 == "PT" %} {{PT_items.process1}} {% endif %}{% if PT_items.process3 == "PT" %} {{PT_items.process2}} {% endif %}<br><font color="white"> &nbsp; </font></p></td>
<td rowspan="2"><p class="tbunderline">{{PT_items.days_left}}<br><font color="white"> &nbsp; </font></p></td>
</tr>
			<tr class="{{ rowcountPT }}" onClick="HighLightTR('{{rowcountPT}}','#c9cc99','cc3333','{{product}}');  showDetail('#loadPagePT','/likitomi/display/?product={{product}}');">
			<td><p class="tbsgunderline">
				{% if PT_items.actual_pt_start != NULL %}
				{{PT_items.actual_pt_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if PT_items.actual_pt_end != NULL%}
				{{PT_items.actual_pt_end|time:"H:i" }}
				{% else %}
				<font color="white">&nbsp;</font>
				{% endif %}

			</p></td>
<td align="right"><p class="tbsgunderline">				
				{% if PT_items.actual_amount_pt != NULL%}
				 {% if PT_items.actual_amount_pt < PT_items.plan_amount %}
				<font color="red">{{PT_items.actual_amount_pt}}</font>
				{% else %}
				{{PT_items.actual_amount_pt}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
		<!--- add empty line -->
			{% if countNotProcessFullPT = 0 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
			{% if countNotProcessFullCR = 1 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
			{% if countNotProcessFullCR = 2 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
		<!--- end empty line -->
			</table></div>
			
			</td><td width="50%"  bgColor="#F8F8F8"><table width="100%"><div id="loadPagePT"> {# right #} << Please Click in order to see Product Detail</div></table></td>

			</td>
			</table></center>
		<!-- end pt table -->
		</td> <td> <a href="/likitomi/pcdetail/?eID={{eID}}&page=WH"><center>Show full WH schedule</center></a>
		{% block whview %}
		<!-- start wh table--><center>
		<table align="center" width="80%"> 

			<td width="50%"> {# left #}
			<div id="linkWH">
			<table align=center><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="20%"> Sch.IN </td><td>Sch.Pcs</td><th width="20" rowspan="2"> Product code </th><th width="20" rowspan="2">Previous</th><th width="10" rowspan="2">Due</th></tr>
			<tr bgcolor="#cccccc"><th>Act.IN</th><th>Act.Pcs</th></tr></thead>
			</span>
			{% for WH_items in notProcessWH %}
			<tr class="{% cycle 'rowWH1' 'rowWH2' 'rowWH3' as rowcountWH %}" onClick="HighLightTR('{{rowcountWH}}','#c9cc99','cc3333','{{product}}');showDetail('#loadPageWH','/likitomi/display/?product={{product}}');"><td rowspan="2"  height="20">  {{num}}{% if wh == WH_items.plan_wh_start %} > {% endif %} </td>
		<td> {{WH_items.plan_wh_start|time:"H:i"}}</td>
		<td>{{WH_items.plan_amount}} </td>
<td rowspan="2"><p class="tbunderline">{{WH_items.product.product_code}}<br><font color="white"> &nbsp; </font></p></td>
<td rowspan="2" align="center"><p class="tbunderline">{% if WH_items.process3 != NULL%} {{WH_items.process3}} {% else %}{% if WH_items.process2 != NULL %} {{WH_items.process2}}{% else %}{% if WH_items.process1 != NULL %} {{WH_items.process1}} {% endif %}{% endif %}{% endif %}<br><font color="white"> &nbsp; </font></p></td>
<td rowspan="2"><p class="tbunderline">{{WH_items.days_left}}<br><font color="white"> &nbsp; </font></p></td>
</tr>
			<tr class="{{ rowcountWH }}" onClick="HighLightTR('{{rowcountWH}}','#c9cc99','cc3333','{{product}}');showDetail('#loadPageWH','/likitomi/display/?product={{product}}');"" >
			<td><p class="tbsgunderline">
				{% if WH_items.actual_wh_start != NULL %}
				{{WH_items.actual_wh_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td align="right"><p class="tbsgunderline">
				{% if WH_items.actual_amount_wh != NULL%}
				 {% if WH_items.actual_amount_wh < WH_items.plan_amount %}
					<font color="red">{{WH_items.actual_amount_wh}}</font>
				{% else %}
					{{WH_items.actual_amount_wh}}
				{% endif %}
				{% else %}
					<font color="red">0</font>
				{% endif %}

			</p></td>
			</td></tr>
			{% endfor %}
		<!--- add empty line -->
			{% if countNotProcessFullWH = 0 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
			{% if countNotProcessFullCR = 1 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
			{% if countNotProcessFullCR = 2 %}
			<!-- empty line one -->
			<tr>
			<td rowspan="2">&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td>&nbsp; </td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			<td rowspan="2"><p class="tbunderline"><br><font color="white"> &nbsp; </font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">				
				&nbsp; 
			</p></td>
			<td><p class="tbsgunderline">
				&nbsp; 
			</p></td>
			</tr>
			<!-- end empty line -->
			{% endif %}
		<!--- add empty line -->
			</table>			
			</div>
			</td>
			<td width="50%" bgColor="#F8F8F8"><table width="100%"><div id="loadPageWH"> {# right #} << Please Click in order to see Product Detail </div></table>
			</td>

			</tr>
			</table></center>
		<!-- end wh table-->
		{% endblock%}
		</td>
	</tr>

</table>
<!-- end not process plan -->
