<script type="text/javascript" src="javascript/jquery-1.4.4.min.js"></script>

<script>

function showDetail(sectionName,urlLink)
{
        //alert(document.getElementById(sectionName));
        //$(sectionName).load(urlLink);
	var el = document.getElementById(sectionName)
	el.innerHTML="<iframe src='"+urlLink+"' align='left' scrolling='no' frameborder='0' width='100%' height='130px'></iframe>";
}


function HighLightTR(el, backColor,textColor){
var preEl ;
var orgBColor;
var orgTColor;
  if(typeof(preEl)!='undefined') {
     preEl.bgColor=orgBColor;
     try{ChangeTextColor(preEl,orgTColor);}catch(e){;}
  }
  orgBColor = el.bgColor;
  orgTColor = el.style.color;
  el.bgColor=backColor;

  try{ChangeTextColor(el,textColor);}catch(e){;}
  preEl = el;
}


function ChangeTextColor(a_obj,a_color){  ;
   for (i=0;i<a_obj.cells.length;i++)
    a_obj.cells(i).style.color=a_color;
}



function HighLightCR(el, backColor,textColor){
var preEl ;
var orgBColor;
var orgTColor;
  if(typeof(preEl)!='undefined') {
     preEl.bgColor=orgBColor;
     try{ChangeTextColor(preEl,orgTColor);}catch(e){;}
  }
  orgBColor = el.bgColor;
  orgTColor = el.style.color;
  el.bgColor=backColor;

  try{ChangeTextColor(el,textColor);}catch(e){;}
  preEl = el;
}
function HighLightCV(el, backColor,textColor){
var preEl ;
var orgBColor;
var orgTColor;
    if(typeof(preEl)!='undefined') {
     preEl.bgColor=orgBColor;
     try{ChangeTextColor(preEl,orgTColor);}catch(e){;}
  }
  orgBColor = el.bgColor;
  orgTColor = el.style.color;
  el.bgColor=backColor;

  try{ChangeTextColor(el,textColor);}catch(e){;}
  preEl = el;
}

function HighLightPT(el, backColor,textColor){
var preEl ;
var orgBColor;
var orgTColor;
   if(typeof(preEl)!='undefined') {
     preEl.bgColor=orgBColor;
     try{ChangeTextColor(preEl,orgTColor);}catch(e){;}
  }
  orgBColor = el.bgColor;
  orgTColor = el.style.color;
  el.bgColor=backColor;

  try{ChangeTextColor(el,textColor);}catch(e){;}
  preEl = el;
}

function HighLightWH(el, backColor,textColor){
var preEl ;
var orgBColor;
var orgTColor;
  if(typeof(preEl)!='undefined') {
     preEl.bgColor=orgBColor;
     try{ChangeTextColor(preEl,orgTColor);}catch(e){;}
  }
  orgBColor = el.bgColor;
  orgTColor = el.style.color;
  el.bgColor=backColor;

  try{ChangeTextColor(el,textColor);}catch(e){;}
  preEl = el;
}
function getElementsByClassName(oElm, strTagName, strClassName){
	var arrElements = (strTagName == "*" && document.all)? document.all : oElm.getElementsByTagName(strTagName);
		    var arrReturnElements = new Array();
		    strClassName = strClassName.replace(/\-/g, "\\-");
		    var oRegExp = new RegExp("(^|\\s)" + strClassName + "(\\s|$)");
		    var oElement;
		    for(var i=0; i<arrElements.length; i++){
		        oElement = arrElements[i];
		        if(oRegExp.test(oElement.className)){
		            arrReturnElements.push(oElement);
		        }
		    }
		    return (arrReturnElements)
		}


function ChangeTextColor(a_obj,a_color){  ;
   for (i=0;i<a_obj.cells.length;i++)
    a_obj.cells(i).style.color=a_color;
}
function getElementsByClassName(oElm, strTagName, strClassName){
var arrElements = (strTagName == "*" && document.all)? document.all : oElm.getElementsByTagName(strTagName);
            var arrReturnElements = new Array();
            strClassName = strClassName.replace(/\-/g, "\\-");
            var oRegExp = new RegExp("(^|\\s)" + strClassName + "(\\s|$)");
            var oElement;
            for(var i=0; i<arrElements.length; i++){
                oElement = arrElements[i];
                if(oRegExp.test(oElement.className)){
                    arrReturnElements.push(oElement);
                }
            }
            return (arrReturnElements)
        }
</script>

<!--PATH SETTINGS START-->
{% url statusTracking.detail.pcdetail as pcdetail_url %}
{% url statusTracking.home.display as display_url %}
<!--PATH SETTINGS END-->

	<center><div align='center' id="totalPlanDaily">
<div class="CRarea" align="right"> 
<button style="height:30px" id="zoomCR" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" title="" onClick="window.location.href='{{ pcdetail_url }}?user={{username}}&page=CR'"><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button> 

		<!-- table CR --><center>Corrugator <br><table width="90%">
			<tr  valign="top"><td width="50%">{# left #}<div id="result"></div>
	<div id="linkCR"> 
			<table align=center width="100%" id="crTable"><!-- table left -->
			<thead><tr bgcolor="#cccccc" width="100%">
			<th width="5%"><div>Sch.</div><div>Act.</div></th>
			<th width="15%"><div class="plan">IN</div><div class="actual">IN</div></th>
			<th width="15%"><div class="plan">OUT</div><div class="actual">OUT</div></th>
			<th width="10%"><div class="plan">Pcs</div><div class="actual">Pcs</div></th>
			<th width="10%"> Product code </th>
			<th width="10%"> Due</th></tr></thead>
			<tbody> 
			{% for CR_items in items_plan_cr %}{{product}}
			<!--<tr onClick="HighLightCR('{{rowcountCR}}','#c9cc99','cc3333','{{product}}');showDetail('loadPageCR','{{ display_url }}?product={{CR_items.product.product_code}}');" id="{{CR_items.stateCR}}">-->
			<tr onClick="HighLightCV(this,'#c9cc99','cc3333','{{product}}'); showDetail('loadPageCR','{{ display_url }}?product={{CR_items.product.product_code}}');"  id="{{CR_items.stateCR}}">
			<td>{% if cr == CR_items.product.product_code %} > {% endif %}</td>
			<td><div class="plan">{{CR_items.plan_cr_start|time:"H:i"}}</div><div class="actual">
			{% if CR_items.actual_cr_start != NULL %}
				{{CR_items.actual_cr_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
			</div></td>
			<td><div class="plan">{{CR_items.plan_cr_end|time:"H:i"}}</div><div class="actual">
			{% if CR_items.actual_cr_end != NULL %}
				{{CR_items.actual_cr_end|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
			</div></td>
			<td><div class="plan">{{CR_items.plan_amount}} 
			<div class="actual">{% if CR_items.actual_amount_cr != NULL%}
				 {% if CR_items.actual_amount_cr < CR_items.plan_amount %}
					<font color="red">{{CR_items.actual_amount_cr}}</font>
				{% else %}
					{{CR_items.actual_amount_cr}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}
			</div></td>
			<td>{{CR_items.product.product_code}}</td>
			<td>{{CR_items.days_left}}</td>
			</tr>
			{% endfor %}
			</tbody>
			</table> <!-- end table left -->
			</center></div>
			
			</td><td width="50%" bgColor="#F8F8F8"><table><div id="loadPageCR"> {# right #} << Please Click in order to see Product Detail </div></table></td></tr>

			</table><!-- end table CR -->



</div> 

<div class="CVarea" align="right">
			<button style="height:30px" id="zoomCV" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="" onClick="window.location.href='{{ pcdetail_url }}?user={{username}}&page=CV'" ><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>

		<!--<a href="{{ pcdetail_url }}?eID={{eID}}&page=CV"><center>Show full CV schedule</center></a><center>-->
		<center>Convertor <br><table align=center width="90%">
			<tr  height="5" valign="top"><td width="57%">{# left #}
			
			<div id="linkCV">
			<table align=center width="100%">
			<thead><tr width="100%" align=center bgcolor="#cccccc">
			<th width="5%" height="20"><div>Sch.</div><div>Act.</div></th>
			<th width="25%"><div class="plan">IN</div><div class="actual">IN</div></td>
			<th width="25%"><div class="plan">OUT</div><div class="actual">OUT</div></td>
			<th width="20%"><div class="plan">Pcs</div><div class="actual">Pcs</div></td>
			<th width="20%"> Product code </th>
			<th width="5%"> Mac. </th>
			<th>From</th>
			<th width="10%"> Due</th></tr></thead><tbody>
			{% for CV_items in items_plan_cv %}
			<tr class="{% cycle 'rowCV1' 'rowCV2' 'rowCV3' as rowcountCV %}" onClick="HighLightCV(this,'#c9cc99','cc3333','{{product}}'); showDetail('loadPageCV','{{ display_url }}?product={{CV_items.product.product_code}}');" id="{{CV_items.stateCV}}">
			<td>{% if cvThreeCL == CV_items.product.product_code or cvThreeCS == CV_items.product.product_code or cvTwoCL == CV_items.product.product_code %} > {% endif %} </td>
			<td> <div class="plan">{{CV_items.plan_cv_start|time:"H:i"}}</div><div class="actual">
			{% if CV_items.actual_cv_start != NULL %}
				{{CV_items.actual_cv_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
			</div></td>
			<td> <div class="plan">{{CV_items.plan_cv_end|time:"H:i"}}</div><div class="actual">
			{% if CV_items.actual_cv_end != NULL %}
				{{CV_items.actual_cv_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} 
			</div></td>
			<td> <div class="plan">{{CV_items.plan_amount}}</div><div class="actual">
			{% if CV_items.actual_amount_cv != NULL%}
				 {% if CV_items.actual_amount_cv < plan_amount %}
					<font color="red">{{actual_amount_cv}}</font>
				{% else %}
					{{CV_items.actual_amount_cv}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}
			</div></td>
			<td>{{CV_items.product.product_code}}</td>
			<td>{{CV_items.cv_machine}}</td>
			<td>{% if CV_items.process2 == "CV" %} {{CV_items.process1}} {% endif %}{% if CV_items.process3 == "CV" %} {{CV_items.process2}} {% endif %}</td>
			<td>{{CV_items.days_left}}</td>
			{% endfor %}
			</tbody>
			</table></div>

			</td><td width="43%"  bgColor="#F8F8F8"><table width="100%"><div vertical-align:top; " id="loadPageCV">{# right #} << Please Click in order to see Product Detail</div></table></td></tr>
			</table>
<!-- end cv table -->
		</center>
</div>
	<div class="PTarea" align="right">

			<button style="height:30px" id="zoomPT" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="" onClick="window.location.href='{{ pcdetail_url }}?user={{username}}&page=PT'"><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>



<!--<a href="{{ pcdetail_url }}?eID={{eID}}&page=PT"><center>Show full PT schedule</center></a>-->
		<!-- start pt table --><center> Pad and Partition <br>
		<table align=center width="90%">
			
			<tr valign="top"><td width="55%">{# left #}
			<div id="linkPT">
			<table align=center width = 100%><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc">
			<th width="5%"><div>Sch.</div><div>Act.</div></th>
			<th width="15%"><div class="plan">IN</div><div class="actual">IN</div></th>
			<th width="15%"><div class="plan">OUT</div><div class="actual">OUT</div></th>
			<th widget="15%"><div class="plan">Pcs</div><div class="actual">Pcs</div></th>
			<th width="25%"> Product code </th>
			<th width="10%"> From </th>
			<th width="10%"> Due</th></tr>
			</thead><tbody>
			{% for PT_items in items_plan_pt %}
			<tr class="{% cycle 'rowPT1' 'rowPT2' 'rowPT3' as rowcountPT %}" onClick="HighLightPT(this,'#c9cc99','cc3333','{{product}}'); showDetail('loadPagePT','{{ display_url }}?product={{PT_items.product.product_code}}');" id="{{PT_items.statePT}}"><td> {% if pt == PT_items.product.product_code %} > {% endif %}</td>
				<td><div class="plan"> {{PT_items.plan_pt_start|time:"H:i"}}</div><div class="actual">
				{% if PT_items.actual_pt_start != NULL %}
				{{PT_items.actual_pt_start|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} 
				</div></td>
				<td><div class="plan"> {{PT_items.plan_pt_end|time:"H:i"}}</div><div class="actual">
				{% if PT_items.actual_pt_end != NULL %}
				{{PT_items.actual_pt_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} 
				</div></td>
				<td><div class="plan"> {{PT_items.plan_amount}}</div><div class="actual">
				{% if PT_items.actual_amount_pt != NULL%}
				 {% if PT_items.actual_amount_pt < PT_items.plan_amount %}
				<font color="red">{{PT_items.actual_amount_pt}}</font>
				{% else %}
				{{PT_items.actual_amount_pt}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}
				</div></td>
			<td>{{PT_items.product.product_code}}</td>
			<td>{% if PT_items.process2 == "PT" %} {{PT_items.process1}} {% endif %}{% if PT_items.process3 == "PT" %} {{PT_items.process2}} {% endif %}</td>
			<td>{{PT_items.days_left}}</td>
			</tr>
			{% endfor %}</tbody>
			</table></div>
			
			</td><td width="45%"  bgColor="#F8F8F8"><table width="100%"><div id="loadPagePT"> {# right #} << Please Click in order to see Product Detail</div></table></td>

			</td>
			</table></center>
		<!-- end pt table -->

</div> <div class="WHarea" align="right">
<button style="height:30px" id="zoomWH" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="" onClick="window.location.href='{{ pcdetail_url }}?user={{username}}&page=WH'"><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>


<!-- start wh table--><center> Warehouse
		<table align="center" width="90%"> 

			<td width="50%"> {# left #}
			<div id="linkWH">
			<table align=center width = 100%>
			<thead><tr width="100%" valign="top" bgcolor="#cccccc">
			<th width="5%"><div>Sch.</div><div>Act.</div></th>
			<th width="20%"><div class="plan">IN</div><div class="actual">IN</div></th>
			<th width="15%"><div class="plan">Pcs<div class="actual">Pcs</td>
			<th width="35%"> Product code </th>
			<th width="15%">From</th>
			<th width="10%"> Due</th></tr></thead><tbody>
			{% for WH_items in items_plan_wh %}
			<tr class="{% cycle 'rowWH1' 'rowWH2' 'rowWH3' as rowcountWH %}" onClick="HighLightWH(this,'#c9cc99','cc3333','{{product}}'); ; showDetail('loadPageWH','{{ display_url }}?product={{WH_items.product.product_code}}');" id="{{WH_items.state}}"><td> {{num}}{% if wh == WH_items.plan_wh_start %} > {% endif %} </td>
			<td><div class="plan">{{WH_items.plan_wh_start|time:"H:i"}}</div>
			<div class="actual">{% if WH_items.actual_wh_start != NULL %}
				{{WH_items.actual_wh_start|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} 
			</div></td>
			<td><div class="plan">{{WH_items.plan_amount}}</div>
			<div class="actual">{% if WH_items.actual_amount_wh != NULL%}
				 {% if WH_items.actual_amount_wh < WH_items.plan_amount %}
				<font color="red">{{WH_items.actual_amount_wh}}</font>
				{% else %}
				{{WH_items.actual_amount_wh}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}</div></td>
			<td>{{WH_items.product.product_code}}</td>
			<td>{% if WH_items.process3 != NULL%} {{WH_items.process3}} {% else %}{% if WH_items.process2 != NULL %} {{WH_items.process2}}{% else %}{% if WH_items.process1 != NULL %} {{WH_items.process1}} {% endif %}{% endif %}{% endif %}</td>
			<td>{{WH_items.days_left}}<br><font color=white></font></p></center></td></tr>
			{% endfor %}
			</tbody>
			</table>			
			</div>
			</td>
			<td width="50%" bgColor="#F8F8F8"><table width="100%"><div id="loadPageWH"> {# right #} << Please Click in order to see Product Detail </div></table>
			</td>
			</tr>
			</table></center>
		<!-- end wh table-->

</div>
</div> <!-- main div -->
