{% extends "PC/containerHome.html"%}
{% block view %}


<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
		<li><a href="#tabs-2">Monthly Plan</a></li>
	</ul>
	<div id="tabs-1">
		<!--top bar -->
		<!-- NOTE: change by P'pat -->
		<table width="100%">
			<thead>
			<tr>
				<th  width="33%"></th>
				<th width="33%" align="center">
					<h4>Daily plan of {{today|date:"l d F Y"}}</h4>
				</th>
				<th align="right">
					<div id="dailyPlanUpdate"><b>Last update: </b> {{today}}</div>
				</th>
			</tr>
			</thead>
		</table> <!-- NOTE: end change by P'pat -->
		<br>
		<div id="filterCriteria" align="center">
			<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="notProcess" checked /><label for="notProcess">Unfinished</label>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="missing" checked /><label for="missing">Incompleted</label>
		</div> <!-- end Filter -->
		<br>
	
		<!--- table of normal plan -->
		<div id="resultTable">
		</div> <!-- end table result -->
		<!-- end table of normal plan -->
	</div> <!-- end tab-1 -->
	
	<div id="tabs-2">
		<!--top bar-->
		<!-- NOTE: change by P'pat -->
		<table width="100%">
			<thead>
			<tr>
				<th  width="33%"></th>
				<th width="33%" align="center"><h4>Total plan of {{strThisMonth}}</h4></th>
				<th align="right"><div id="dailyPlanUpdate"><b>Last update: </b> {{today}}</div></th>
			</tr>
			</thead>
		</table><!-- NOTE: end change by P'pat -->
		<br>
	
		<div id="filterCriteriaMonthly" align="center">
			<input type="checkbox" id="finishedM" checked /><label for="finishedM">Finished</label>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="notProcessM" checked /><label for="notProcessM">Unfinished</label>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="missingM" checked /><label for="missingM">Incompleted</label>
		</div> <!-- end Filter -->
		<br>
		<table id="totalPlanMonthly" width="100%">
			<thead> 
				<tr bgcolor="#cccccc">
				<th rowspan="2">SO NO</th>
				<th rowspan="2">PO NO</th>
				<th colspan="2" class="ui-state-default">Product Code</th>
				<th rowspan="2">Company</th>
				<th rowspan="2">Product Name</th>
				<th colspan="3" class="ui-state-default">Product Spec.</th>
				<th colspan="2" class="ui-state-default"> Amount</th>
				<th colspan="2" class="ui-state-default">Delivery</th>
				<th colspan="3" class="ui-state-default">Corrugator</th>
				<th colspan="3" class="ui-state-default">Convertor</th>
				<th rowspan="2">Actual</th>
				<th rowspan="2">REMARK</th></tr>
				<tr bgcolor="#cccccc"><th>CODE</th><th>MC</th><th>P.W</th><th>Lenght</th><th>F</th><th>PCS</th><th>ALW +\-</th><th>Date</th><th>Amount</th><th>Date</th><th>Amount</th><th>Time used</th><th>Date</th><th>Amount</th><th>Time used</th></tr>
			</thead>
			<tbody> 
				{% for item in items %}
				<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="{{ item.state}}"><td>{{item.plan_id}}</td><td>{{PO}}</td><td>{{item.product.product_code}}</td><td>{{item.cv_machine}}</td><td>{{item.product.parent_code.partner.partner_name}}</td><td>{{item.product.parent_code.product_name}}</td><td align="right">{{item.product.parent_code.p_width_inch}}</td><td  align="right">{{item.product.parent_code.t_length}}</td><td>{{item.product.flute}}</td><td align="right">{{item.plan_amount}}</td><td>{{item.product.parent_code.qty_allowance}}</td><td>{{item.plan_due|date:"d/m"}}</td><td align="right">{{item.plan_amount}}</td><td>{{item.plan_cr_start|date:"d/m"}}</td><td align="right">{{item.plan_amount}}</td><td align="right">{{item.cr_time_used}}</td>
					{% if item.plan_cv_start != NULL %}
					<td>{{item.plan_cv_start|date:"d/m"}}</td><td align="right">{{item.plan_amount}}</td><td align="right">{{item.cv_time_used}}</td>
					{% else %}
					<td bgColor=#EBDDE2></td><td  bgColor=#EBDDE2></td><td  bgColor=#EBDDE2></td>
					{% endif %}
					{% if item.actual_amount_wh == NULL %}
					<td align="right"><font color=red>0</font></td>
					{% else %}{% if item.actual_amount_wh >= item.plan_amount %}
					<td align="right">{{item.actual_amount_wh}}</td>
					{% else %}
					<td align="right"><font color=red>{{item.actual_amount_wh}}</font></td>
					{% endif %}{% endif %}
					<td></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
	<!--	<div id="pager" class="pager" align=center>
			<form>
				<img src="images/first.png" class="first"/>
				<img src="images/prev.png" class="prev"/>
				<input type="text" class="pagedisplay"/>
				<img src="images/next.png" class="next"/>
				<img src="images/last.png" class="last"/>
				<select class="pagesize">
					<option selected="selected"  value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option  value="40">40</option>
				</select>
			</form>
		</div>-->
	</div> <!-- end tab-2 -->

</div> <!-- content -->
</div><!-- tabs -->
{% endblock %}

