{% extends "CR/container.html" %}
{% block view %}

<!--PATH SETTINGS START-->
{% url statusTracking.home.logout_view as likitomi_url %}
{% url statusTracking.home.section as home_url %}
{% url statusTracking.line.endPT as endPT_url %}
{% url statusTracking.update.endUpdate as endUpdate_url %}
<!--PATH SETTINGS END-->

<div id="wrapper" style="width:100%">
    <div id="header" >
    	<!-- start Menu-->
    	<table width="100%">
    		<thead id="mainMenu">
    			<tr>
    				<th align="left" width="60%"><a id="normalLink" href="{{ home_url }}?user={{username}}">Home</a> >> <a href="{{ endPT_url }}?eID={{eID}}&pID={{pID}}">Finish PT</a></th>
    				<th align="left" width="30%">
						<form id="form_search" action="#">
							<fieldset id="form_search_fieldset">
								Search:&nbsp 
								<input type="text" class="searchbox" name="search" id="key_search" /> 
								<span class="loading">Loading ...</span>
							</fieldset>
						</form>
    				</th>
    				<th align="right" width="10%"><a id="normalLink" href="{{ likitomi_url }}"><img src="images/quit.png" alt="quit" /></a>&nbsp&nbsp</th>
    			</tr>
    		</thead>
    	</table>
		<!-- End Menu-->
	</div>
</div>
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
	</ul>
	<div id="tabs-1">
<br>
<center>


	<table cellspacing="2" cellpadding="2" class="tblFixedBorder" width="630">
	<tbody><tr>
        <td class="tblProdViewLabel">Color</td>
		<td class="tblProdViewLabel">Time</td>
		<td class="tblProdViewLabel">Speed</td>
		<td class="tblProdViewLabel">Sale Order</td>
		<td class="tblProdViewLabel">Order No.</td>
		<td class="tblProdViewLabel">P.Code</td>
		<td class="tblProdViewLabel">Customer</td>
		<td class="tblProdViewLabel">Product Name</td>
		<td class="tblProdViewLabel">Expected Amount</td>
		<td class="tblProdViewLabel">Next Process</td>
	</tr>
	
<tr>
	<td class="tblProdView">{{color}}</td>
	<td class="tblProdView">{{time}}</td>
	<td class="tblProdView">{{speed}} pcs/min</td>
	<td class="tblProdView"></td>
	<td class="tblProdView">{{pID}}</td>
	<td class="tblProdView">{{product_code}}</td>
	<td class="tblProdView">{{partner}}</td>
	<td class="tblProdView">{{product_name}}</td>
	<td class="tblProdView">{{amount}}</td>
	<td class="tblProdView">{{next_process}}</td>
</tr>
</tbody></table>


<br><br>
	<div id="boxcontainer" style="width:630px">
<table>
	<tbody><tr><form action="{{ endUpdate_url }}" method="get" name="startForm">
        <td class="tblDetailViewLabel">Finished at :</td>
		<td><input name="start_time" type="text"  value="{{current_date_time}}" style="text-align: center" /></td>
		<td class="tblDetailViewLabel">Amount of plan :</td>
		<td><input name="amount" type="text"  value='{{amount}}' style="text-align: center" /></td>
		<td> <input name="task" type="hidden" value="{{task}}">
			<input name="eID" type="hidden" value="{{eID}}">
			<input name="pID" type="hidden" value="{{pID}}">
			<input name="at" type="hidden" value="{{at}}"></td>
	</tr>
	<tr> 
	<td>
	</td>

	<td>
	</td>
	<td>
	</td>
	<td><br><input name="Enter" type="submit" value="Enter" /></td></tr>
	</tbody></table>
</div>
{% endblock %}
