<html>
<head>
	<!--<meta http-equiv="refresh" content="2"; url="http://127.0.0.1:8000/clamplift/">-->
    <title>Likitomi: @Clamplift</title>
	<link rel="stylesheet" type="text/css" href="css/mystyle.css" />
	<script type="text/javascript" src="js/clamplift.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function(){
	  $("button").click(function(){
		$(this).hide();
	  });
	});
	</script>
	
	<script type="text/javascript">
	function loadXMLDoc()
	{
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
		document.getElementById("clamplift").innerHTML=xmlhttp.responseText;
		}
	  }
	xmlhttp.open("GET","/clamplift/",true);
	xmlhttp.send();

	setTimeout("loadXMLDoc()",1000);
	}
	</script>
</head>
<body onload="javascriptloadXMLDoc()">
<div id="clamplif">
	<p>{{ error1 }}</p>
	<p>{{ error2 }}</p>
	<p>{{ error3 }}</p>
	<table id="white" width="100%" align="center">
	<tr>
		<td align="left"><a href="/index/"><img height="100px" src="image/back.png"></a></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td align="right"><a href="/clamplift/"><img height="100px" src="image/refresh2.png"></a></td>
	</tr>
	<tr height="20px"><td></td></tr>
	<table>
	<table width="100%" align="center">
	<tr>
		<td><h2>Roll ID: </h2></td>
		<td>{% ifnotequal realtag "" %}<h1 class="center">{{ realtag }}</h1>{% else %}<h4>-</h4>{% endifnotequal %}</td>
		<td><h2>Paper Code: </h2></td>
		<td>{% ifnotequal paper_code "" %}<h1 id="big" class="center">{{ paper_code }}</h1>{% else %}<h4>-</h4>{% endifnotequal %}</td>
		<td align="center" rowspan="2" width="10%"></td>
		<!--<td align="center" rowspan="2" width="10%"><a href="javascript:idInput()"><img height="100px" src="image/manual.png"></a></td>-->
	</tr>
	<tr>
		<td><h2>Size: </h2></td>
		<td>{% ifnotequal size "" %}<h1 class="center">{{ size}}</h1>{% else %}<h4>-</h4>{% endifnotequal %}</td>
		<td><h2>Location: </h2></td>
		<td>{% ifnotequal location "" %}<h1 class="center">{{ location }}: {{ lane }}/{{ position }}</h1>{% else %}<h4>-</h4>{% endifnotequal %}</td>
	</tr>
	</table>
	<br />
	<table id="blush" width="100%" align="center">
	<tr height="1px">
		<td></td>
		<td><h3 class="center">Old</h3></td>
		<td></td>
		<td><h3 class="center">New</h3></td>
		<td></td>
		<td align="center" rowspan="2" width="10%"><a href="javascript:weightInput()"><img height="100px" src="image/manual.png"></a></td>
	</tr>
	<tr>
		<td><h2>Weight: </h2></td>
		<td>{% ifnotequal actual_wt "" %}<h1 class="center">{{ actual_wt }}</h1>{% else %}<h4>-</h4>{% endifnotequal %}</td>
		<td align="center"><img width="30px" src="image/arrow2.png"></td>
		<td align="center" width="300px">
		{% ifequal digit1 "0" %}<img width="30px" src="image/0.png">{% endifequal %}
		{% ifequal digit1 "1" %}<img width="30px" src="image/1.png">{% endifequal %}
		{% ifequal digit1 "2" %}<img width="30px" src="image/2.png">{% endifequal %}
		{% ifequal digit1 "3" %}<img width="30px" src="image/3.png">{% endifequal %}
		{% ifequal digit1 "4" %}<img width="30px" src="image/4.png">{% endifequal %}
		{% ifequal digit1 "5" %}<img width="30px" src="image/5.png">{% endifequal %}
		{% ifequal digit1 "6" %}<img width="30px" src="image/6.png">{% endifequal %}
		{% ifequal digit1 "7" %}<img width="30px" src="image/7.png">{% endifequal %}
		{% ifequal digit1 "8" %}<img width="30px" src="image/8.png">{% endifequal %}
		{% ifequal digit1 "9" %}<img width="30px" src="image/9.png">{% endifequal %}
		<img width="5px" src="image/space.png">
		{% ifequal digit2 "0" %}<img width="30px" src="image/0.png">{% endifequal %}
		{% ifequal digit2 "1" %}<img width="30px" src="image/1.png">{% endifequal %}
		{% ifequal digit2 "2" %}<img width="30px" src="image/2.png">{% endifequal %}
		{% ifequal digit2 "3" %}<img width="30px" src="image/3.png">{% endifequal %}
		{% ifequal digit2 "4" %}<img width="30px" src="image/4.png">{% endifequal %}
		{% ifequal digit2 "5" %}<img width="30px" src="image/5.png">{% endifequal %}
		{% ifequal digit2 "6" %}<img width="30px" src="image/6.png">{% endifequal %}
		{% ifequal digit2 "7" %}<img width="30px" src="image/7.png">{% endifequal %}
		{% ifequal digit2 "8" %}<img width="30px" src="image/8.png">{% endifequal %}
		{% ifequal digit2 "9" %}<img width="30px" src="image/9.png">{% endifequal %}
		<img width="5px" src="image/space.png">
		{% ifequal digit3 "0" %}<img width="30px" src="image/0.png">{% endifequal %}
		{% ifequal digit3 "1" %}<img width="30px" src="image/1.png">{% endifequal %}
		{% ifequal digit3 "2" %}<img width="30px" src="image/2.png">{% endifequal %}
		{% ifequal digit3 "3" %}<img width="30px" src="image/3.png">{% endifequal %}
		{% ifequal digit3 "4" %}<img width="30px" src="image/4.png">{% endifequal %}
		{% ifequal digit3 "5" %}<img width="30px" src="image/5.png">{% endifequal %}
		{% ifequal digit3 "6" %}<img width="30px" src="image/6.png">{% endifequal %}
		{% ifequal digit3 "7" %}<img width="30px" src="image/7.png">{% endifequal %}
		{% ifequal digit3 "8" %}<img width="30px" src="image/8.png">{% endifequal %}
		{% ifequal digit3 "9" %}<img width="30px" src="image/9.png">{% endifequal %}
		<img width="5px" src="image/space.png">
		{% ifequal digit4 "0" %}<img width="30px" src="image/0.png">{% endifequal %}
		{% ifequal digit4 "1" %}<img width="30px" src="image/1.png">{% endifequal %}
		{% ifequal digit4 "2" %}<img width="30px" src="image/2.png">{% endifequal %}
		{% ifequal digit4 "3" %}<img width="30px" src="image/3.png">{% endifequal %}
		{% ifequal digit4 "4" %}<img width="30px" src="image/4.png">{% endifequal %}
		{% ifequal digit4 "5" %}<img width="30px" src="image/5.png">{% endifequal %}
		{% ifequal digit4 "6" %}<img width="30px" src="image/6.png">{% endifequal %}
		{% ifequal digit4 "7" %}<img width="30px" src="image/7.png">{% endifequal %}
		{% ifequal digit4 "8" %}<img width="30px" src="image/8.png">{% endifequal %}
		{% ifequal digit4 "9" %}<img width="30px" src="image/9.png">{% endifequal %}
		<img width="5px" src="image/space.png">
		{% ifequal digit5 "0" %}<img width="30px" src="image/0.png">{% endifequal %}
		{% ifequal digit5 "1" %}<img width="30px" src="image/1.png">{% endifequal %}
		{% ifequal digit5 "2" %}<img width="30px" src="image/2.png">{% endifequal %}
		{% ifequal digit5 "3" %}<img width="30px" src="image/3.png">{% endifequal %}
		{% ifequal digit5 "4" %}<img width="30px" src="image/4.png">{% endifequal %}
		{% ifequal digit5 "5" %}<img width="30px" src="image/5.png">{% endifequal %}
		{% ifequal digit5 "6" %}<img width="30px" src="image/6.png">{% endifequal %}
		{% ifequal digit5 "7" %}<img width="30px" src="image/7.png">{% endifequal %}
		{% ifequal digit5 "8" %}<img width="30px" src="image/8.png">{% endifequal %}
		{% ifequal digit5 "9" %}<img width="30px" src="image/9.png">{% endifequal %}
		{% ifequal digit6 "." %}<img width="8px" src="image/dot.png">{% else %}<b id="dash">-</b>{% endifequal %}
		{% ifequal digit7 "0" %}<img width="30px" src="image/0.png">{% endifequal %}
		{% ifequal digit7 "1" %}<img width="30px" src="image/1.png">{% endifequal %}
		{% ifequal digit7 "2" %}<img width="30px" src="image/2.png">{% endifequal %}
		{% ifequal digit7 "3" %}<img width="30px" src="image/3.png">{% endifequal %}
		{% ifequal digit7 "4" %}<img width="30px" src="image/4.png">{% endifequal %}
		{% ifequal digit7 "5" %}<img width="30px" src="image/5.png">{% endifequal %}
		{% ifequal digit7 "6" %}<img width="30px" src="image/6.png">{% endifequal %}
		{% ifequal digit7 "7" %}<img width="30px" src="image/7.png">{% endifequal %}
		{% ifequal digit7 "8" %}<img width="30px" src="image/8.png">{% endifequal %}
		{% ifequal digit7 "9" %}<img width="30px" src="image/9.png">{% endifequal %}
		</td>
		<td><h2 class="left">kilograms</h2></td>
	</tr>
	</table>
	<table id="white" width="100%" align="center">
	<tr height="20px"><td></td></tr>
	<tr>
		<td align="left"><a href="javascript:undoSubmit()"><img height="100px" src="image/undo2.png"></a></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td align="right"><a align="right" href="javascript:submit()"><img height="100px" src="image/update.png"></a></td>
	</tr>
	</table>
	
	<form id="frm1" action="/clamplift/update/" method="get" align="center">
        <input id="manin" type="hidden" value="{{ temp_weight }}" name="weight">
		<input type="hidden" value="{{ realtag }}" name="realtag"></input>
    </form>
	
	<form id="frm2" action="/clamplift/undo/" method="get" align="center">
		<input type="hidden" value="{{ realtag }}" name="realtag"></input>
		<input type="hidden" value="undo" name="undo">
	</form>
	
	<form id="frm3" action="/clamplift/manid/" method="get" align="center">
		<input id="manid" type="hidden" value="{{ realtag }}" name="realtag"></input>
		<input type="hidden" value="manid" name="manid">
	</form>
</div>
</body>
</html>