<html>
<head>

<link rel="stylesheet" type="text/css" href="css/plan.css" />

</head>

<body>
{% load getpos %}
{% load floor %}
{% load second %}
{% load third %}
{% load fourth %}
{% load fifth %}

<div id="invent">

{% if pcode %}{{ pcode }} >>> {{ width }}"{% endif %}

<table style="height:80%">
<tr>

<td class="top" style="width:10%; border:0px; vertical-align:middle;">
<table>
	<tr>
		<th>ID</th>
		<th>kgs</th>
	</tr>
	{% for id, w in delist %}
	<tr>
		<td>{{ id }}</td>
		<td>{{ w }}</td>
	</tr>
	{% endfor %}
</table>
</td>

<td style="width:90%; border:0px;">
<table>
	<tr><td class="map"></td>{% for pos in posall %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>

	<tr><td class="map">H</td>
		{% for pos in posh %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm4').submit()"{% endif %}><tr>
						{% for ls in Hlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								<td class="red" {% if ls|second != 0 %}style="width:{{ls|second}}%">{{ ls|second }}{% else %}style="width:1%">{% endif %}</td>
								<td class="yellow" {% if ls|third != 0 %}style="width:{{ls|third}}%">{{ ls|third }}{% else %}style="width:1%">{% endif %}</td>
								<td class="blue" {% if ls|fourth != 0 %}style="width:{{ls|fourth}}%">{{ ls|fourth }}{% else %}style="width:1%">{% endif %}</td>
								<td class="green" {% if ls|fifth != 0 %}style="width:{{ls|fifth}}%">{{ ls|fifth }}{% else %}style="width:1%">{% endif %}</td>
							{% endif %}
						{% endfor %}
					</tr></table></td>
<!--					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}-->
<!--						{% if atlane == '4' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="green">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 400 <= pos|floor and pos|floor < 700 %}-->
<!--						{% if atlane == '4' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="blue">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 100 <= pos|floor and pos|floor < 400 %}-->
<!--						{% if atlane == '4' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="yellow">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if pos|floor < 100 %}-->
<!--						{% if atlane == '4' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="red">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
				{% else %}
					{% if atlane == '4' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">H</td></tr>

	<tr><td class="map">|</td>{% for pos in vlane %}<td class="map">{% if atlane == '4' and pos == '*' %}<img style="width:10px" src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">G</td>
		{% for pos in posg %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm5').submit()"{% endif %}><tr>
						{% for ls in Glist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								<td class="red" {% if ls|second != 0 %}style="width:{{ls|second}}%">{{ ls|second }}{% else %}style="width:1%">{% endif %}</td>
								<td class="yellow" {% if ls|third != 0 %}style="width:{{ls|third}}%">{{ ls|third }}{% else %}style="width:1%">{% endif %}</td>
								<td class="blue" {% if ls|fourth != 0 %}style="width:{{ls|fourth}}%">{{ ls|fourth }}{% else %}style="width:1%">{% endif %}</td>
								<td class="green" {% if ls|fifth != 0 %}style="width:{{ls|fifth}}%">{{ ls|fifth }}{% else %}style="width:1%">{% endif %}</td>
							{% endif %}
						{% endfor %}
					</tr></table></td>
<!--					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}-->
<!--						{% if atlane == '4' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="green">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 400 <= pos|floor and pos|floor < 700 %}-->
<!--						{% if atlane == '4' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="blue">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 100 <= pos|floor and pos|floor < 400 %}-->
<!--						{% if atlane == '4' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="yellow">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if pos|floor < 100 %}-->
<!--						{% if atlane == '4' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="red">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
				{% else %}
					{% if atlane == '4' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">G</td></tr>

	<tr><td class="map">F</td>
		{% for pos in posf %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm4').submit()"{% endif %}><tr>
						{% for ls in Flist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								<td class="red" {% if ls|second != 0 %}style="width:{{ls|second}}%">{{ ls|second }}{% else %}style="width:1%">{% endif %}</td>
								<td class="yellow" {% if ls|third != 0 %}style="width:{{ls|third}}%">{{ ls|third }}{% else %}style="width:1%">{% endif %}</td>
								<td class="blue" {% if ls|fourth != 0 %}style="width:{{ls|fourth}}%">{{ ls|fourth }}{% else %}style="width:1%">{% endif %}</td>
								<td class="green" {% if ls|fifth != 0 %}style="width:{{ls|fifth}}%">{{ ls|fifth }}{% else %}style="width:1%">{% endif %}</td>
							{% endif %}
						{% endfor %}
					</tr></table></td>
<!--					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}-->
<!--						{% if atlane == '3' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="green">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 400 <= pos|floor and pos|floor < 700 %}-->
<!--						{% if atlane == '3' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="blue">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 100 <= pos|floor and pos|floor < 400 %}-->
<!--						{% if atlane == '3' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="yellow">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if pos|floor < 100 %}-->
<!--						{% if atlane == '3' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="red">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
				{% else %}
					{% if atlane == '3' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">F</td></tr>

	<tr><td class="map">|</td>{% for pos in vlane %}<td class="map">{% if atlane == '3' and pos == '*' %}<img style="width:10px" src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">E</td>
		{% for pos in pose %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm5').submit()"{% endif %}><tr>
						{% for ls in Elist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								<td class="red" {% if ls|second != 0 %}style="width:{{ls|second}}%">{{ ls|second }}{% else %}style="width:1%">{% endif %}</td>
								<td class="yellow" {% if ls|third != 0 %}style="width:{{ls|third}}%">{{ ls|third }}{% else %}style="width:1%">{% endif %}</td>
								<td class="blue" {% if ls|fourth != 0 %}style="width:{{ls|fourth}}%">{{ ls|fourth }}{% else %}style="width:1%">{% endif %}</td>
								<td class="green" {% if ls|fifth != 0 %}style="width:{{ls|fifth}}%">{{ ls|fifth }}{% else %}style="width:1%">{% endif %}</td>
							{% endif %}
						{% endfor %}
					</tr></table></td>
<!--					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}-->
<!--						{% if atlane == '3' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="green">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 400 <= pos|floor and pos|floor < 700 %}-->
<!--						{% if atlane == '3' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="blue">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 100 <= pos|floor and pos|floor < 400 %}-->
<!--						{% if atlane == '3' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="yellow">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if pos|floor < 100 %}-->
<!--						{% if atlane == '3' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->

<!--						{% else %}-->
<!--							<td class="red">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
				{% else %}
					{% if atlane == '3' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">E</td></tr>

	<tr><td class="map">D</td>
		{% for pos in posd %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm4').submit()"{% endif %}><tr>
						{% for ls in Dlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								<td class="red" {% if ls|second != 0 %}style="width:{{ls|second}}%">{{ ls|second }}{% else %}style="width:1%">{% endif %}</td>
								<td class="yellow" {% if ls|third != 0 %}style="width:{{ls|third}}%">{{ ls|third }}{% else %}style="width:1%">{% endif %}</td>
								<td class="blue" {% if ls|fourth != 0 %}style="width:{{ls|fourth}}%">{{ ls|fourth }}{% else %}style="width:1%">{% endif %}</td>
								<td class="green" {% if ls|fifth != 0 %}style="width:{{ls|fifth}}%">{{ ls|fifth }}{% else %}style="width:1%">{% endif %}</td>
							{% endif %}
						{% endfor %}
					</tr></table></td>
<!--					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}-->
<!--						{% if atlane == '2' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="green">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 400 <= pos|floor and pos|floor < 700 %}-->
<!--						{% if atlane == '2' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="blue">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 100 <= pos|floor and pos|floor < 400 %}-->
<!--						{% if atlane == '2' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="yellow">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if pos|floor < 100 %}-->
<!--						{% if atlane == '2' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="red">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
				{% else %}
					{% if atlane == '2' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">D</td></tr>

	<tr><td class="map">|</td>{% for pos in vlane %}<td class="map">{% if atlane == '2' and pos == '*' %}<img style="width:10px" src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">C</td>
		{% for pos in posc %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm5').submit()"{% endif %}><tr>
						{% for ls in Clist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								<td class="red" {% if ls|second != 0 %}style="width:{{ls|second}}%">{{ ls|second }}{% else %}style="width:1%">{% endif %}</td>
								<td class="yellow" {% if ls|third != 0 %}style="width:{{ls|third}}%">{{ ls|third }}{% else %}style="width:1%">{% endif %}</td>
								<td class="blue" {% if ls|fourth != 0 %}style="width:{{ls|fourth}}%">{{ ls|fourth }}{% else %}style="width:1%">{% endif %}</td>
								<td class="green" {% if ls|fifth != 0 %}style="width:{{ls|fifth}}%">{{ ls|fifth }}{% else %}style="width:1%">{% endif %}</td>
							{% endif %}
						{% endfor %}
					</tr></table></td>
<!--					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}-->
<!--						{% if atlane == '2' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="green">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 400 <= pos|floor and pos|floor < 700 %}-->
<!--						{% if atlane == '2' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="blue">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 100 <= pos|floor and pos|floor < 400 %}-->
<!--						{% if atlane == '2' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="yellow">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if pos|floor < 100 %}-->
<!--						{% if atlane == '2' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="red">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
				{% else %}
					{% if atlane == '2' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">C</td></tr>

	<tr><td class="map">B</td>
		{% for pos in posb %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm4').submit()"{% endif %}><tr>
						{% for ls in Blist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								<td class="red" {% if ls|second != 0 %}style="width:{{ls|second}}%">{{ ls|second }}{% else %}style="width:1%">{% endif %}</td>
								<td class="yellow" {% if ls|third != 0 %}style="width:{{ls|third}}%">{{ ls|third }}{% else %}style="width:1%">{% endif %}</td>
								<td class="blue" {% if ls|fourth != 0 %}style="width:{{ls|fourth}}%">{{ ls|fourth }}{% else %}style="width:1%">{% endif %}</td>
								<td class="green" {% if ls|fifth != 0 %}style="width:{{ls|fifth}}%">{{ ls|fifth }}{% else %}style="width:1%">{% endif %}</td>
							{% endif %}
						{% endfor %}
					</tr></table></td>
<!--					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}-->
<!--						{% if atlane == '1' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="green">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 400 <= pos|floor and pos|floor < 700 %}-->
<!--						{% if atlane == '1' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="blue">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 100 <= pos|floor and pos|floor < 400 %}-->
<!--						{% if atlane == '1' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="yellow">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if pos|floor < 100 %}-->
<!--						{% if atlane == '1' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="red">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
				{% else %}
					{% if atlane == '1' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">B</td></tr>

	<tr><td class="map">|</td>{% for pos in vlane %}<td class="map">{% if atlane == '1' and pos == '*' %}<img style="width:10px" src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">A</td>
		{% for pos in posa %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}style="cursor:pointer;" onclick="getElementById('frm5').submit()"{% endif %}><tr>
						{% for ls in Alist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								<td class="red" {% if ls|second != 0 %}style="width:{{ls|second}}%">{{ ls|second }}{% else %}style="width:1%">{% endif %}</td>
								<td class="yellow" {% if ls|third != 0 %}style="width:{{ls|third}}%">{{ ls|third }}{% else %}style="width:1%">{% endif %}</td>
								<td class="blue" {% if ls|fourth != 0 %}style="width:{{ls|fourth}}%">{{ ls|fourth }}{% else %}style="width:1%">{% endif %}</td>
								<td class="green" {% if ls|fifth != 0 %}style="width:{{ls|fifth}}%">{{ ls|fifth }}{% else %}style="width:1%">{% endif %}</td>
							{% endif %}
						{% endfor %}
					</tr></table></td>
<!--					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}-->
<!--						{% if atlane == '1' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="green">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 400 <= pos|floor and pos|floor < 700 %}-->
<!--						{% if atlane == '1' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="blue">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if 100 <= pos|floor and pos|floor < 400 %}-->
<!--						{% if atlane == '1' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="yellow">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
<!--					{% if pos|floor < 100 %}-->
<!--						{% if atlane == '1' and atposition == pos|getpos %}-->
<!--							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>-->
<!--						{% else %}-->
<!--							<td class="red">{{ pos|floor }}</td>-->
<!--						{% endif %}-->
<!--					{% endif %}-->
				{% else %}
					{% if atlane == '1' and atposition == pos %}
						<td style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">A</td></tr>

	<tr><td class="map"></td>{% for pos in posall %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>
</table>

</td>
</tr>
<table>

<form id="frm4" action="/minclamp/changeloc/" method="get">
	<input type="hidden" value="{{ realtag }}" name="realtag" />
	<input type="hidden" value="{{ leftlane }}" name="lane" />
	<input type="hidden" value="{{ atposition }}" name="pos" />
	<input type="hidden" value="{{ pcode }}" name="pcode" />
	<input type="hidden" value="{{ width }}" name="width" />
	<input type="hidden" value="{{ loss }}" name="loss" />
</form>

<form id="frm5" action="/minclamp/changeloc/" method="get">
	<input type="hidden" value="{{ realtag }}" name="realtag" />
	<input type="hidden" value="{{ rightlane }}" name="lane" />
	<input type="hidden" value="{{ atposition }}" name="pos" />
	<input type="hidden" value="{{ pcode }}" name="pcode" />
	<input type="hidden" value="{{ width }}" name="width" />
	<input type="hidden" value="{{ loss }}" name="loss" />
</form>

</div>
</body>
</html>
