<html>
<head>

<link rel="stylesheet" type="text/css" href="css/plan.css" />

</head>

<body>
{% load getpos %}
{% load floor %}
<div id="invent">

{% if pcode %}{{ pcode }} >>> {{ width }}"{% endif %}

<table style="height:80%">
<tr>
<td class="top" style="width:10%; border:0px; vertical-align:middle;">

<table>
	<tr>
		<th>ID</th>
		<th>kgs</th>
	</tr>
	{% for id, w in delist %}
	<tr>
		<td>{{ id }}</td>
		<td>{{ w }}</td>
	</tr>
	{% endfor %}
</table>

</td>
<td style="width:90%; border:0px;">

<table>
	<tr><td class="map"></td>{% for pos in posall %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>
	<tr><td class="map">A</td>
		{% for pos in posa %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}
						{% if atlane == '1' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
						{% else %}
							<td class="green">{{ pos|floor }}</td>
						{% endif %}
					{% endif %}
					{% if 400 <= pos|floor and pos|floor < 700 %}
						{% if atlane == '1' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
						{% else %}
							<td class="blue">{{ pos|floor }}</td>
						{% endif %}
					{% endif %}
					{% if 100 <= pos|floor and pos|floor < 400 %}
						{% if atlane == '1' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
						{% else %}
							<td class="yellow">{{ pos|floor }}</td>
						{% endif %}
					{% endif %}
					{% if pos|floor < 100 %}
						{% if atlane == '1' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
						{% else %}
							<td class="red">{{ pos|floor }}</td>
						{% endif %}
					{% endif %}
				{% else %}
					{% if atlane == '1' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">A</td></tr>

	<tr><td class="map">|</td>{% for pos in vlane %}<td class="map">{% if atlane == '1' and pos == '*' %}<img src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">B</td>
		{% for pos in posb %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}
						{% if atlane == '1' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '2' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="green">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if 400 <= pos|floor and pos|floor < 700 %}
						{% if atlane == '1' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '2' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="blue">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if 100 <= pos|floor and pos|floor < 400 %}
						{% if atlane == '1' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '2' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="yellow">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if pos|floor < 100 %}
						{% if atlane == '1' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '2' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="red">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
				{% else %}
					{% if atlane == '1' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						{% if atlane == '2' and atposition == pos %}
							<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
						{% else %}
							<td class="gray"></td>
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">B</td></tr>

	<tr><td class="map">|</td>{% for pos in vlane %}<td class="map">{% if atlane == '2' and pos == '*' %}<img src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">C</td>
		{% for pos in posc %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}
						{% if atlane == '2' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '3' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="green">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if 400 <= pos|floor and pos|floor < 700 %}
						{% if atlane == '2' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '3' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="blue">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if 100 <= pos|floor and pos|floor < 400 %}
						{% if atlane == '2' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '3' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="yellow">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if pos|floor < 100 %}
						{% if atlane == '2' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '3' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="red">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
				{% else %}
					{% if atlane == '2' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						{% if atlane == '3' and atposition == pos %}
							<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
						{% else %}
							<td class="gray"></td>
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">C</td></tr>

	<tr><td class="map">|</td>{% for pos in vlane %}<td class="map">{% if atlane == '3' and pos == '*' %}<img src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">D</td>
		{% for pos in posd %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}
						{% if atlane == '3' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '4' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="green">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if 400 <= pos|floor and pos|floor < 700 %}
						{% if atlane == '3' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '4' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="blue">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if 100 <= pos|floor and pos|floor < 400 %}
						{% if atlane == '3' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '4' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="yellow">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
					{% if pos|floor < 100 %}
						{% if atlane == '3' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							{% if atlane == '4' and atposition == pos|getpos %}
								<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm4').submit()">{{ pos|floor }}</td>
							{% else %}
								<td class="red">{{ pos|floor }}</td>
							{% endif %}
						{% endif %}
					{% endif %}
				{% else %}
					{% if atlane == '3' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						{% if atlane == '4' and atposition == pos %}
							<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm4').submit()"></td>
						{% else %}
							<td class="gray"></td>
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">D</td></tr>

	<tr><td class="map">|</td>{% for pos in vlane %}<td class="map">{% if atlane == '4' and pos == '*' %}<img src="image/clamplift.png" />{% endif %}</td>{% endfor %}<td class="map">|</td></tr>

	<tr><td class="map">E</td>
		{% for pos in pose %}
			{% if pos %}
				{% if pos|getpos in mstr %}
					{% if pos|floor == initial_weight or pos|floor >= loss or pos|floor >= 700 %}
						{% if atlane == '4' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="green" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							<td class="green">{{ pos|floor }}</td>
						{% endif %}
					{% endif %}
					{% if 400 <= pos|floor and pos|floor < 700 %}
						{% if atlane == '4' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="blue" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							<td class="blue">{{ pos|floor }}</td>
						{% endif %}
					{% endif %}
					{% if 100 <= pos|floor and pos|floor < 400 %}
						{% if atlane == '4' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="yellow" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							<td class="yellow">{{ pos|floor }}</td>
						{% endif %}
					{% endif %}
					{% if pos|floor < 100 %}
						{% if atlane == '4' and atposition == pos|getpos %}
							<td id="locup" style="cursor:pointer;" class="red" onclick="getElementById('frm5').submit()">{{ pos|floor }}</td>
						{% else %}
							<td class="red">{{ pos|floor }}</td>
						{% endif %}
					{% endif %}
				{% else %}
					{% if atlane == '4' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray" onclick="getElementById('frm5').submit()"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">E</td></tr>

	<tr><td class="map"></td>{% for pos in posall %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>
</table>

</td>
</tr>
<table>

<form id="frm4" action="/minclamp/changeloc/" method="get">
	<input type="hidden" value="{{ realtag }}" name="realtag" />
	<input type="hidden" value="{{ leftlane }}" name="lane" />
	<input type="hidden" value="{{ atposition }}" name="pos" />
	<input type="hidden" value="{{ pcode }}" name="pcode" />
	<input type="hidden" value="{{ width }}" name="width" />
	<input type="hidden" value="{{ loss }}" name="loss" />
</form>

<form id="frm5" action="/minclamp/changeloc/" method="get">
	<input type="hidden" value="{{ realtag }}" name="realtag" />
	<input type="hidden" value="{{ rightlane }}" name="lane" />
	<input type="hidden" value="{{ atposition }}" name="pos" />
	<input type="hidden" value="{{ pcode }}" name="pcode" />
	<input type="hidden" value="{{ width }}" name="width" />
	<input type="hidden" value="{{ loss }}" name="loss" />
</form>

</div>
</body>
</html>
