<html>
<head>

<link rel="stylesheet" type="text/css" href="css/plan.css" />

</head>

<body>

<!--{{qidlist}}<br />-->
<!--{{maplist}}<br />-->
<!--{{lanelist}}<br />-->
<!--{{poslist}}-->

<!--Map List: {{ maplist }}<br />-->
<!--String List: {{ strlist }}<br />-->
<!--Size List: {{ sizelist }}<br />-->

<table>
	<tr><td class="map"></td>{% for pos in position %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>
	{% for lan in lane %}
		{% if lan %}
			<tr>
				<td class="map" width='1%'>{{ lan }}</td>
				{% for pos in position %}
					
					{% if "('"|add:lan|add:"', '"|add:pos|add:"')" in strlist %}
<!--						<td class="gold">{% for size in sizelist %}{{ sizelist|slice:"minus:sizelist|length"|first }}{% endfor %}</td>-->
						<td class="gold">{{ lan }}-{{ pos }}</td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
					
				{% endfor %}
				<td class="map" width='1%'>{{ lan }}</td>
			</tr>
		{% else %}
			<tr><td class="map"></td>{% for pos in position %}<td class="map"></td></td>{% endfor %}<td class="map"><br /></td></tr>
		{% endif %}
	{% endfor %}
	<tr><td class="map"></td>{% for pos in position %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>
</table>

<br />

<table>
	<tr>
		<th>PAPER CODE</th>
		<th>SIZE</th>
		<th>ROLL(s)</th>
		<th>WEIGHT(kgs.)</th>
	</tr>
	{% for paper_code, size, rolls, weight in delist %}
	<tr>
		<td>{{ paper_code }}</td>
		<td>{{ size }}</td>
		<td>{{ rolls }}</td>
		<td>{{ weight }}</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>
