<html>
<head>

<title>Likitomi: Clamplift Plan</title>
<link rel="stylesheet" type="text/css" href="css/plan.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(window).load(function now(){
		$("#now").load("/now/");
		setTimeout(now, 1000);
	});

	$("#sel").change(function(){
		var opd = $("#sel").val();
		if (opd == ""){
			$("[id=splan]").hide();
		}
		else {
			$("#plan").load("/showplan/?opdate="+opd);
		}
	});

});
</script>

</head>

<body>

<table><tr><td style="border:0px"><div class='lft'>{% now "Y-m-d" %}</div></td><td style="border:0px"><div id='now'></div></td></tr><table>

<table>
	<tr>
		<td class="lft">
		AS PRODUCTION OF:
			<form>
				<select id="sel" name="opdate">
				<option value="">Select date to show plan:</option>
				{% for date in datelist %}
				<option value="{{ date }}">{{ date }}</option>
				{% endfor %}
				</select>
			</form>
		</td>
		<td class="rght"><a href="/wholeplan/" target="_top"><button>More</botton></a></td>
	</tr>
</table>

<div id="plan"><b>Clamplift plan will be shown here.</b></div>

</body>
</html>
