<html>
<head>

</head>

<body>

<table><tr>

<td id="always" style="border:0px;">
	<table>
		<tr>
			<th rowspan='2'>TIME</th>
			<th rowspan='2'>SHEET CODE</th>
			<th rowspan='2' class="kr">S.O.NO.<br />ORD NO.</th>
			<th style="visibility:hidden; width:0px;">|</th>
		</tr>
		<tr>
			<th style="visibility:hidden; width:0px;">|</th>
		</tr>
		{% for start_time, sheet_code, sono, ordno in always %}
		<tr>
			<td rowspan='2'>{{ start_time|time:"H:i" }}</td>
			<td rowspan='2'>{{ sheet_code }}</td>
			<td rowspan='2' class="kr">{{ sono }}<br />{{ ordno }}</td>
			<td style="visibility:hidden; width:0px;">|</td>
		</tr>
		<tr>
			<td style="visibility:hidden; width:0px;">|</td>
		</tr>
		{% endfor %}
	</table>
</td>

<td id="required" style="border:0px;">
	<table>
		<tr>
			<th rowspan='2'>F</th>
			<th rowspan='2'>PAPER<br />D-F</th>
			<th>B-L</th>
			<th>B-M</th>
			<th rowspan='2'>PAPER<br />WIDTH</th>
			<th rowspan='2'>USED(KGS)<br />D-F</th>
			<th>B-L</th>
			<th>B-M</th>
		</tr>
		<tr>
			<th>C-L</th>
			<th>C-M</th>
			<th>C-L</th>
			<th>C-M</th>
		</tr>
		{% for flute, df, bl, bm, cl, cm, paper_width_mm, paper_width_inch, loss_df, loss_bl, loss_bm, loss_cl, loss_cm in required %}
		<tr>
			<td rowspan='2'>{{ flute }}</td>
			<td class='df' rowspan='2'><br />{{ df }}</td>
			<td>{{ bl }}</td>
			<td>{{ bm }}</td>
			<td rowspan='2' class="kr">{{ paper_width_mm }}<br />{{ paper_width_inch }}</td>
			<td class='df' rowspan='2'><center>+LOSS</center>{{ loss_df }}</td>
			<td>{{ loss_bl }}</td>
			<td>{{ loss_bm }}</td>
		</tr>
		<tr>
			<td>{{ cl }}</td>
			<td>{{ cm }}</td>
			<td>{{ loss_cl }}</td>
			<td>{{ loss_cm }}</td>
		</tr>
		{% endfor %}
	</table>
</td>

</tr></table>
</body>
</html>
