<html>
<head>
<link rel="stylesheet" type="text/css" href="css/plan.css" />

<script type="text/javascript" src="js/jquery.js"></script>

</head>

<body>

<iframe id="detail" src="/dethead/?opdate={{ opdate }}" frameborder="0" width="100%" height="39" marginheight="0" marginwidth="0" scrolling="no">
</iframe>

<iframe id="detail" src="/detail/?opdate={{ opdate }}" frameborder="0" width="100%" height="250" marginheight="0" marginwidth="0" scrolling="yes">
</iframe>

</body>
</html>
