<html>

<head>

<link rel="stylesheet" type="text/css" href="css/plan.css" />
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jquery_reapply.js" type="text/javascript"></script>
</head>

<body>

<table id="splan">
	<tr>
		<th rowspan='2'>TIME</th>
		<th rowspan='2'>SHEET CODE</th>
		<th class='bt'>WIDTH</th>
		<th>BL</th>
		<th>BM</th>
	</tr>
	<tr>
		<th>DF</th>
		<th>CL</th>
		<th>CM</th>
	</tr>
	{% for start_time, sheet_code, paper_width_inch, df, bl, bm, cl, cm, loss_df, loss_bl, loss_bm, loss_cl, loss_cm in query %}
	<tr>
		<td rowspan='2'>{{ start_time|time:"H:i" }}</td>
		<td rowspan='2'>{{ sheet_code }}</td>
		<td>{{ paper_width_inch }}</td>
		<td>{% if bl %}<a href="/inventory/?pcode={{ bl }}&width={{ paper_width_inch }}&loss={{ loss_bl }}" target="stock">{{ bl }}<br />({{ loss_bl }})</a>{% else  %}<br /><br />{% endif %}</td>
		<td>{% if bm %}<a href="/inventory/?pcode={{ bm }}&width={{ paper_width_inch }}&loss={{ loss_bm }}" target="stock">{{ bm }}<br />({{ loss_bm }})</a>{% else  %}<br /><br />{% endif %}</td>
	</tr>
	<tr>
<!--		<td class='bt'><a href="#" onclick="linkShowPage('#test2', '/inventory/?pcode={{ df }}')">{{ df }}<br />({{ loss_df }})</a></td>-->
		<td class='bt'>{% if df %}<a href="/inventory/?pcode={{ df }}&width={{ paper_width_inch }}&loss={{ loss_df }}" target="stock">{{ df }}<br />({{ loss_df }})</a>{% else  %}<br /><br />{% endif %}</td>
		<td>{% if cl %}<a href="/inventory/?pcode={{ cl }}&width={{ paper_width_inch }}&loss={{ loss_cl }}" target="stock">{{ cl }}<br />({{ loss_cl }})</a>{% else  %}<br /><br />{% endif %}</td>
		<td>{% if cm %}<a href="/inventory/?pcode={{ cm }}&width={{ paper_width_inch }}&loss={{ loss_cm }}" target="stock">{{ cm }}<br />({{ loss_cm }})</a>{% else  %}<br /><br />{% endif %}</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>
