<html>
<head>
<title>Likitomi: Paper Roll Stock</title>
<link rel="stylesheet" type="text/css" href="css/plan.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(window).load(function clamplift(){
		if ($("#pcode").val() != ""){
			var pcode = $("#pcode").val();
			var width = $("#width").val();
			var loss = $("#loss").val();
//			alert("alert");
			$("#invHint").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss);
//			$("#invHint").load("/inventory/?pcode="+"HKS231"+"&width="+"56"+"&loss="+"529");
			setTimeout(clamplift, 2000);
		}
	});

	$("#search").click(function(){
		var scode = $("#scode").val();
		var swidth = $("#swidth").val();
		var loss = $("#loss").val();
		$("#invHint").load("/inventory/?pcode="+scode+"&width="+swidth+"&loss="+loss);
		$("#pcode").val(scode);
		$("#width").val(swidth);
	});

});
</script>

<script type="text/javascript">
	function showInventory(str)
	{
	//alert(str);
	if (str=="")
		{
		document.getElementById("invHint").innerHTML="";
		return;
		}
	if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
		}
	else
		{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
	xmlhttp.onreadystatechange=function()
		{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
			document.getElementById("invHint").innerHTML=xmlhttp.responseText;
			}
		}
	xmlhttp.open("GET", "/inventory/?pcode="+str ,true);
	xmlhttp.send();

	//showMap(str);
	}

	function showMap(str)
	{
	//alert(str);
	if (str=="")
		{
		document.getElementById("mapHint").innerHTML="";
		return;
		}
	if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
		}
	else
		{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
	xmlhttp.onreadystatechange=function()
		{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
			document.getElementById("mapHint").innerHTML=xmlhttp.responseText;
			}
		}
	xmlhttp.open("GET", "/map/?pcode="+str ,true);
	xmlhttp.send();
	}
</script>

</head>

<body>

<input id="pcode" value="{{ pcode }}" type="hidden" />
<input id="width" value="{{ width }}" type="hidden" />
<input id="loss" value="{{ loss }}" type="hidden" />

<table><tr>
	<td style="text-align:left; border:1px;">{#{% if pcode %}{{ pcode }} >>> {{ width }}"{% endif %}#}</td>
	<td valign="middle" style="width:1px; border:1px;">
		<form>
			<select id="scode">
			<option value="">Select paper code:</option>
			{% for paper_code in scode %}
			<option value="{{ paper_code }}">{{ paper_code }}</option>
			{% endfor %}
			</select>
		</form>
	</td>
	<td style="text-align:left; border:1px; width:1px;">
		<form>
			<select id="swidth">
			<option value="">Select paper width:</option>
			{% for width in swidth %}
			<option value="{{ width }}">{{ width }}</option>
			{% endfor %}
			</select>
		</form>
	</td>
	<td border="1" valign="top" style="width:1px; border:1px;">
		<button id="search">Search</button>
	</td>
</tr></table>
<!--<div id="test2">I'm here!</div>-->
<!--<table><tr><td><div class='lft'>Navigator</div></td></tr><table>-->

<!--<form>-->
<!--	<select name="pcode" onchange="showInventory(this.value)">-->
<!--	<option value="">Select paper code:</option>-->
<!--	{% for pcode in pcodelist %}-->
<!--	<option value="{{ pcode }}">{{ pcode }}</option>-->
<!--	{% endfor %}-->
<!--	</select>-->
<!--</form>-->
<!--<form>-->
<!--	<select name="pcode" onchange="showMap(this.value)">-->
<!--	<option value="">Select paper code to show inventory:</option>-->
<!--	{% for pcode in pcodelist %}-->
<!--	<option value="{{ pcode }}">{{ pcode }}</option>-->
<!--	{% endfor %}-->
<!--	</select>-->
<!--</form>-->
<!--<button onclick="showInventory()">Inventory</button>-->
<!--<button onclick="showMap()">Map</button>-->
<div id="invHint"><b>Paper roll inventory will be shown here.</b></div>
<!--<div id="mapHint"><b>Map will be shown here.</b></div>-->

</body>
</html>
