{% extends "CR/container.html" %}
{% block view %}

<!--PATH SETTINGS START-->
{% url statusTracking.general.login as likitomi_url %}
{% url statusTracking.home.section as home_url %}
{% url statusTracking.line.startCV as startCV_url %}
{% url statusTracking.line.endCV as endCV_url %}
<!--PATH SETTINGS END-->

<div id="wrapper" style="width:100%">
    <div id="header" >
    	<!-- start Menu-->
    	<table width="100%">
    		<thead id="mainMenu">
    			<tr>
    				<th align="left" width="60%"><a id="normalLink" href="{{ home_url }}?eID={{eID}}">Home</a> </th>
    				<th align="left" width="30%">
						<form id="form_search" action="#">
							<fieldset id="form_search_fieldset">
								Search:&nbsp 
								<input type="text" class="searchbox" name="search" id="key_search" /> 
								<span class="loading">Loading ...</span>
							</fieldset>
						</form>
    				</th>
    				<th align="right" width="10%"><a id="normalLink" href="{{ home_url }}"><img src="images/quit.png" alt="quit" /></a>&nbsp&nbsp</th>
    			</tr>
    		</thead>
    	</table>
		<!-- End Menu-->
	</div>
</div>
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
	</ul>
	<div id="tabs-1">

	<div id="filterCriteria" align="center">
	<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
	<input type="checkbox" id="notProcess" checked /><label for="notProcess">Not yet process</label>
	<input type="checkbox" id="missing" checked /><label for="missing">Missing in Pcs.</label>
	</div>
<br>
<div id="resultDivLineCV">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTable">
	
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div class="plan">Sch.</div><div class="actual">Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT </div><div class="actual">OUT</div></th>
	<th width="5%"><div class="plan">Pcs.</div><div class="actual">Pcs.</div></th>
	<th>Product code</th>
	<th>Machine</th>
	<th>From</th>
	<th>Color</th>
	<th>Time</th>
	<th>Speed</th>
	<th>Sale Order</th>
	<th>P.Code</th>
	<th>Customer</th>
	<th>Product Name</th>
	<th>Next Process</th>
	<th>Due</th>
	</tr></thead>
	{% for item in items %}
	<tr id="{{ item.stateCV}}">
	<td></th>
	<td><div class="plan">{{item.plan_cv_start|time:"H:i"}}</div><div class="actual">
				{% if item.actual_cv_start != NULL %}
				<a href="{{ startCV_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_cv_start|time:"H:i"}}</a>
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan">{{item.plan_cv_end|time:"H:i" }}</div><div class="actual">
				{% if item.actual_cv_end != NULL %}
				<a href="{{ endCV_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_cv_end|time:"H:i" }}</a>
				{% else %}
				&nbsp;
				{% endif %} </div></td>
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_cv != NULL%}
		{% if item.actual_amount_cv < item.plan_amount %}
			<font color="red">{{item.actual_amount_cv}}</font>
		{% else %}
			{{item.actual_amount_cv}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></th>
	<td>{{item.product.product_code}}</td>
	<td>{{item.cv_machine}}</td>
	<td>{% if item.process4 == 'CV' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'CV'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'CV' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.product.parent_code.rope_color != NULL %}{{item.product.parent_code.rope_color}}{% endif %}</td>
	<td>{{item.cv_time_used}}</td>
	<td>{{item.speed}}</td>
	<td>{{item.plan_id}}</td>
	<td>{{item.po}}</td>
	<td>{{item.product.parent_code.partner.partner_name}}</td>
	<td>{{item.product.parent_code.product_name}}</td>
	<td>
		{% if item.process1 == 'CV' and item.process2 != NULL %}
		    {{item.process2}}
		{% else %}{% if item.process2 == 'CV' and item.process3 != NULL %}
		    {{ item.process3 }}
		{% else %}{% if item.process3 == 'CV' and item.process4 != NULL %}
		    {{ item.process4 }}
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{{item.days_left}}</td>
	</tr>
	
	{% endfor %}
</tbody>
</table>

</div>
{% endblock %}
