{% extends "CR/container.html" %}
{% block view %}

<!--PATH SETTINGS START-->
{% url statusTracking.home.logout_view as likitomi_url %}
{% url statusTracking.home.section as home_url %}
{% url statusTracking.line.startCV as startCV_url %}
{% url statusTracking.line.endCV as endCV_url %}
<!--PATH SETTINGS END-->

<div id="wrapper" style="width:100%">
    <div id="header" >
    	<!-- start Menu-->
    	<table width="100%">
    		<thead id="mainMenu">
    			<tr>
    				<th align="left" width="60%"><a id="normalLink" href="{{ home_url }}?user={{username}}">Home</a> </th>
    				<th align="left" width="30%">
						<form id="form_search" action="#">
							<fieldset id="form_search_fieldset">
								Search:&nbsp 
								<input type="text" class="searchbox" name="search" id="key_search" /> 
								<span class="loading">Loading ...</span>
							</fieldset>
						</form>
    				</th>
    				<th align="right" width="10%"><a id="normalLink" href="{{ likitomi_url }}"><img src="images/quit.png" alt="quit" /></a>&nbsp&nbsp</th>
    			</tr>
    		</thead>
    	</table>
		<!-- End Menu-->
	</div>
</div>
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
	</ul>
	<div id="tabs-1">

	<div id="filterCriteria" align="center">
	<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" id="notProcess" checked /><label for="notProcess">Unfinished</label>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" id="missing" checked /><label for="missing">Incompleted</label>
	</div>
<br>
<div id="resultDivLineCV">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTable">
	
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div class="plan">Sch.</div><div class="actual">Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT </div><div class="actual">OUT</div></th>
	<th width="5%">Pcs. In</th>
	<th width="5%">Pcs. Out</th>
	<th>Product code</th>
	<th>Machine</th>
	<th>From</th>
	<th>Color</th>
	<th>Time</th>
	<th>Speed</th>
	<th>Mo</th>
	<th>Sale Order</th>

	<th>Customer</th>
	<th>Product Name</th>
	<th>Next Process</th>
	<th>Due</th>
	<th>Sketch</th>
	<th>Remark</th>
	</tr></thead>
	{% for item in items %}
	<tr id="{{ item.stateCV}}">
	<td></td>
	<td><div class="plan"><a href="{{ startCV_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_cv_start|time:"H:i"}}</a></div><div class="actual">
				{% if item.actual_cv_start != NULL %}
				{{item.actual_cv_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan"><a href="{{ endCV_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_cv_end|time:"H:i" }}</a></div><div class="actual">
				{% if item.actual_cv_end != NULL %}
				{{item.actual_cv_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
	<td><div class="plan">{{item.plan_cv_amount}}</div><div class="actual">
	{% if item.actual_amount_cv_in != NULL%}
		{% if item.actual_amount_cv_in < item.plan_cv_amount %}
			<font color="red">{{item.actual_amount_cv_in}}</font>
		{% else %}
			{{item.actual_amount_cv_in}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	
		<td><div class="plan">{{item.plan_cv_amount}}</div><div class="actual">
	{% if item.actual_amount_cv != NULL%}
		{% if item.actual_amount_cv < item.plan_cv_amount %}
			<font color="red">{{item.actual_amount_cv}}</font>
		{% else %}
			{{item.actual_amount_cv}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	
	<td>{{item.product_auto.product_code}}</td>
	<td>{% if item.product.req_2cl = 1 %} 2CL
		{% else %}{% if item.product.req_3cm = 1 %} 3CM
		{% else %}{% if item.product.req_3cs = 1 %} 3CS
		{% else %}{% if item.product.req_3cl = 1 %} 3CL
		{% else %}{% if item.product.req_4cd = 1 %} 3CD

	 	{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
</td>
	<td>{% if item.process4 == 'CV' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'CV'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'CV' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.product.ink_1 != NULL %}{{item.product.ink_1}} {{item.product.ink_2}} {{item.product.ink_3}} {{item.product.ink_4}}{% endif %}</td>
	<td>{{item.cv_time_used}}</td>
	<td>{{item.speed}}</td>
	<td> {{item.mo_cv_code}}</td>
	<td>{{item.sale_order_id}}</td>
	
	<td>{{item.product.partner.partner_name}}</td>
	<td>{{item.product.product_name}}</td>
	<td>

		{% if item.process1 == 'CV' and item.process2 != NULL %}
		    {{item.process2}}
		{% else %}{% if item.process2 == 'CV' and item.process3 != NULL %}
		    {{ item.process3 }}
		{% else %}{% if item.process3 == 'CV' and item.process4 != NULL %}
		    {{ item.process4 }}
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{{item.days_left}}</td>
	<td>	{% if item.product.sketch != "" %}
		<a href={{Path}}{{item.product.sketch}}  target='_blank'>{{item.product.product_code}} [M]</a>
	{% endif %}
	{% if item.product.sketch_large != "" %}
		<a href={{Path}}{{item.product.sketch_large}} target='_blank'>{{item.product.product_code}} [L]</a>
	{% endif %}</td>
		<td>
	<!--{% if item.process1 == 'CV' and item.process2 == 'WH' %}
		    last process
		{% else %}{% if item.process2 == 'CV' and item.process3 == 'WH' %}
		   last process
		{% else %}{% if item.process3 == 'CV' and item.process4 == 'WH' %}
		    last process
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}
	-->
	</td>
	</tr>
	
	{% endfor %}
</tbody>
</table>

</div>
{% endblock %}
