{% extends "CR/container.html" %}
{% block view %}

<!--PATH SETTINGS START-->
{% url statusTracking.home.logout_view as likitomi_url %}
{% url statusTracking.home.section as home_url %}
{% url statusTracking.line.startPT as startPT_url %}
{% url statusTracking.line.endPT as endPT_url %}
<!--PATH SETTINGS END-->

<div id="wrapper" style="width:100%">
    <div id="header" >
    	<!-- start Menu-->
    	<table width="100%">
    		<thead id="mainMenu">
    			<tr>
    				<th align="left" width="60%"><a id="normalLink" href="{{ home_url }}?user={{username}}">Home</a> </th>
    				<th align="left" width="30%">
						<form id="form_search" action="#">
							<fieldset id="form_search_fieldset">
								Search:&nbsp 
								<input type="text" class="searchbox" name="search" id="key_search" /> 
								<span class="loading">Loading ...</span>
							</fieldset>
						</form>
    				</th>
    				<th align="right" width="10%"><a id="normalLink" href="{{ likitomi_url }}"><img src="images/quit.png" alt="quit" /></a>&nbsp&nbsp</th>
    			</tr>
    		</thead>
    	</table>
		<!-- End Menu-->
	</div>
</div>
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
	</ul>
	<div id="tabs-1">

	<div id="filterCriteria" align="center">
	<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" id="notProcess" checked /><label for="notProcess">Unfinished</label>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="checkbox" id="missing" checked /><label for="missing">Incompleted</label>
	</div>
<br>
<div id="resultDivLinePT">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTable"><span class="header">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div class="plan">Sch.</div><div class="actual">Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT </div><div class="actual">OUT</div></th>
	<th width="5%">Pcs. In</th>
	<th width="5%">Pcs. Out</th>
	<th>Product code</th>
	<th>MO</th>
	<th>Sale Order</th>
	<th>P.Code</th>
	<th>Customer</th>
	<th>Product Name</th>
	<th><b>RD</b></th>
	<th><b>SS</b></th>
	<th><b>Remove Scraps</b></th>
	<th><b>Foam</b></th>
	<th><b>Tape</b></th>
	<th>From</th>
	<th>Next Process</th>

</tr></thead>
	</span>	
			{% for item in items %}
	<tr id="{{ item.statePT}}">
	<td>{% if pt == item.product_auto.product_code %} > {% endif %}</td>
	<td><div class="plan"><a href="{{ startPT_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_pt_start|time:"H:i"}}</a></div>
	<div class="actual">
				{% if item.actual_pt_start != NULL %}
				{{item.actual_pt_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan"><a href="{{ endPT_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_pt_end|time:"H:i" }}</a></div><div class="actual">
				{% if item.actual_pt_end != NULL %}
				{{item.actual_pt_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_pt_in != NULL%}
		{% if item.actual_amount_pt_in < item.plan_amount %}
			<font color="red">{{item.actual_amount_pt_in}}</font>
		{% else %}
			{{item.actual_amount_pt_in}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	
		<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_pt != NULL%}
		{% if item.actual_amount_pt < item.plan_amount %}
			<font color="red">{{item.actual_amount_pt}}</font>
		{% else %}
			{{item.actual_amount_pt}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	<td>{{item.product_auto.product_code}}</td>
	<td> {{item.plan_id}}</td>
	<td>{{item.sale_order_id}}</td>
	<td>{{item.sale_order.purchase_order_no}}</td>
	<td>{{item.product.partner.partner_name}}</td>
	<td>{{item.product.product_name}}</td>
	<td>{% if item.product.req_rd %} YES {% endif %}</td>
	<td>{% if item.product.req_ss %} YES {% endif %}</td>
	<td>{% if item.product.req_remove %} YES {% endif %}</td>
	<td>{% if item.product.req_foam %} YES {% endif %}</td>
	<td>{% if item.product.req_tape %} YES {% endif %}</td>
	<td >{% if item.process4 == 'PT' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'PT'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'PT' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>
	<td >{% if item.process1 == 'PT' %}
		    {{item.process2}}
		{% else %}{% if item.process2 == 'PT'%}
		    {{ item.process3 }}
		{% else %}{% if item.process3 == 'PT' %}
		    {{ item.process4 }}
		{% endif %}{% endif %}{% endif %}</td>
	</tr>
			{% endfor %}
			</table>
</div>
{% endblock %}
