{% extends "CR/container.html" %}
{% block view %}

<!--PATH SETTINGS START-->
{% url statusTracking.general.login as likitomi_url %}
{% url statusTracking.home.section as home_url %}
{% url statusTracking.line.startPT as startPT_url %}
{% url statusTracking.line.endPT as endPT_url %}
<!--PATH SETTINGS END-->

<div id="wrapper" style="width:100%">
    <div id="header" >
    	<!-- start Menu-->
    	<table width="100%">
    		<thead id="mainMenu">
    			<tr>
    				<th align="left" width="60%"><a id="normalLink" href="{{ home_url }}?eID={{eID}}">Home</a> </th>
    				<th align="left" width="30%">
						<form id="form_search" action="#">
							<fieldset id="form_search_fieldset">
								Search:&nbsp 
								<input type="text" class="searchbox" name="search" id="key_search" /> 
								<span class="loading">Loading ...</span>
							</fieldset>
						</form>
    				</th>
    				<th align="right" width="10%"><a id="normalLink" href="{{ likitomi_url }}"><img src="images/quit.png" alt="quit" /></a>&nbsp&nbsp</th>
    			</tr>
    		</thead>
    	</table>
		<!-- End Menu-->
	</div>
</div>
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
	</ul>
	<div id="tabs-1">

	<div id="filterCriteria" align="center">
	<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
	<input type="checkbox" id="notProcess" checked /><label for="notProcess">Not yet process</label>
	<input type="checkbox" id="missing" checked /><label for="missing">Missing in Pcs.</label>
	</div>
<br>
<div id="resultDivLinePT">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTable"><span class="header">
	<thead><tr bgcolor="#cccccc" width="100%">
	<td><b>Sch.</b></th>
	<th width="5%" align="left"><b> IN </b></th>
	<th width="5%"><b>OUT </b></th>
	<th width="5%"><b>Pcs.</b></th>
	<th rowspan="2"><b>Product code</b></th>
	<th rowspan="2"><b>Machine</b></th>
	<th rowspan="2"><b>From</b></th>
	<th rowspan="2"><b>Color</b></th>
	<th rowspan="2"><b>Time</b></th>
	<th rowspan="2"><b>Speed</b></th>
	<th rowspan="2"><b>Sale Order</b></th>
	<th rowspan="2"><b>P.Code</b></th>
	<th rowspan="2"><b>Customer</b></th>
	<th rowspan="2"><b>Product Name</b></th>
	<th rowspan="2"><b>Next Process</b></th>
	<th rowspan="2"><b>Due</b></th>
</tr>
	<tr bgcolor="#cccccc" align="right"><th>Act.</th><th>IN</th><th>OUT</th><th>Pcs</th></tr></thead>
	</span>	
			{% for item in items %}
	<tr id="{{ item.statePT}}">
	<td rowspan=2>{% if pt == item.product.product_code %} > {% endif %}</th>
	<td><a href="{{ startPT_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_pt_start|time:"H:i"}}</a></th>
	<td><a href="{{ endPT_url }}?eID={{eID}}&pID={{item.plan_id}}">{{item.plan_pt_end|time:"H:i" }}</a></th>
	<td>{{item.plan_amount}}</th>
	<td rowspan=2>{{item.product.product_code}}</td>
	<td rowspan=2>{{item.cv_machine}}</td>
	<td rowspan=2>{% if item.process4 == 'PT' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'PT'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'PT' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>
	<td rowspan=2>{% if item.product.parent_code.rope_color != NULL %}{{item.product.parent_code.rope_color}}{% endif %}</td>
	<td rowspan=2>{{item.cv_time_used}}</td>
	<td rowspan=2 >{{item.speed}}</td>
	<td rowspan=2 >{{item.plan_id}}</td>
	<td rowspan=2 >{{item.po}}</td>
	<td rowspan=2 >{{item.product.parent_code.partner.partner_name}}</td>
	<td rowspan=2 >{{item.product.parent_code.product_name}}</td>
	<td rowspan=2 >
		{% if item.process1 == 'PT' and item.process2 != NULL %}
		    {{item.process2}}
		{% else %}{% if item.process2 == 'PT' and item.process3 != NULL %}
		    {{ item.process3 }}
		{% else %}{% if item.process3 == 'PT' and item.process4 != NULL %}
		    {{ item.process4 }}
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td rowspan="2">{{item.days_left}}</td>
	</tr>
	<tr id="{{ item.statePT}}">
	
	<td align="right">{{item.actual_pt_start|time:"H:i"}}</td>
	<td align="right">{{item.actual_pt_end|time:"H:i" }}</td>
	<td align="right">{% if item.actual_amount_pt != NULL%}
		{% if item.actual_amount_pt < item.plan_amount %}
			<font color="red">{{item.actual_amount_pt}}</font>
		{% else %}
			{{item.actual_amount_pt}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</td>

	</tr>
			{% endfor %}
			</table>
</div>
{% endblock %}
