<!-- header-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{title}}</title>
<link href="css/fal_style2.css" rel="stylesheet" type="text/css" />
<script src="javascript/jquery.js" type="text/javascript"></script>
<script src="javascript/flash.js" type="text/javascript"></script>
<link type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="javascript/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="javascript/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="javascript/jquery.quicksearch.js"></script>
<script type="text/javascript" src="javascript/jquery.dataTables.js"></script>
<!--
<script type="text/javascript" src="javascript/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="javascript/jquery.tablesorter.js"></script>
<script type="text/javascript" src="javascript/picnet.table.filter.min.js"></script>
-->
    <style type="text/css"> 
#totalPlanDaily
{
 position: relative; top: 0px; left: 0px;
height:400px
}
.CRarea
{
 position: absolute; top: 0px; left: 0px;
 border : 1px solid black;
  width: 50%;
 height:50%;
}
.CVarea
{
 position: absolute; top: 0px; left: 50%;
 border : 1px solid black;
  width: 50%;
height:50%;
}
.PTarea
{
 position: absolute; top: 200px; left: 0;
 border : 1px solid black;
  width: 50%;
height:50%
}
.WHarea
{
 position: absolute; top: 200px; left: 50%;
 border : 1px solid black;
  width: 50%;
height:50%;
}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
{
	top:20%;
}
    </style>
<script>
/*
	$(function() {
		$( "#filterCriteria" ).buttonset();
	});
	$(function() {
		$( "#filterCriteriaMonthly" ).buttonset();
	});
*/



$(document).ready(function() {
	$("#finishedM").click(function(){ 
		if($("#finishedM").attr("checked")==true)
		{
		    $("#totalPlanMonthly tr#normal").show();
		}
		else
		{
		    $("#totalPlanMonthly tr#normal").hide();
		}
	});
	$("#notProcessM").click(function(){ 
		if($("#notProcessM").attr("checked")==true)
		{
		    $("#totalPlanMonthly tr#notProcess").show();
		}
		else
		{
		    $("#totalPlanMonthly tr#notProcess").hide();
		}
	});
	$("#missingM").click(function(){ 
		if($("#missingM").attr("checked")==true)
		{
		    $("#totalPlanMonthly tr#missing").show();
		}
		else
		{
		    $("#totalPlanMonthly tr#missing").hide();
		}
	});

//button of daily 
$("#finished").click(function(){ 
		if($("#finished").attr("checked")==true)
		{
		    $("#totalPlanDaily tr#normal").show();
			
		}
		else
		{
		    $("#totalPlanDaily tr#normal").hide();
		}
	});
	$("#notProcess").click(function(){ 
		if($("#notProcess").attr("checked")==true)
		{
		    $("#totalPlanDaily tr#notProcess").show();
		}
		else
		{
		    $("#totalPlanDaily tr#notProcess").hide();
		}
	});
	$("#missing").click(function(){ 
		if($("#missing").attr("checked")==true)
		{
		    $("#totalPlanDaily tr#missing").show();
		}
		else
		{
		    $("#totalPlanDaily tr#missing").hide();
		}
	});



});

$(document).ready(function() {
		var normalPlanRefresher_url = $('#normalPlanRefresher_url').val();
		var lastUpdate_url = $('#lastUpdate_url').val();
		$('#resultTable').load(normalPlanRefresher_url);
		$('#dailyPlanUpdate').load(lastUpdate_url);
		var monthlyPlan_url = $('#monthlyPlan_url').val();
		//$('#monthlyPlan').load(monthlyPlan_url);
		});
	
	var auto_refresh = setInterval(
	function()
	{	
			//$div.fadeOut('fast').load('/likitomi/PCrefresher/').fadeIn("fast");
			var normalPlanRefresher_url = $('#normalPlanRefresher_url').val();
			var lastUpdate_url = $('#lastUpdate_url').val();
			$('#resultTable').load(normalPlanRefresher_url);
			$('#dailyPlanUpdate').load(lastUpdate_url);
			$('#finished').button('refresh');
			$('#notProcess').attr('checked', 'yes').button('refresh');
			$('#missing').attr('checked', 'yes').button('refresh');
	}, 2215000);

/*	$(function() {
		$( "#datepickerFromNotProcess" ).datepicker();
	});

	$(function() {
		$( "#datepickerToNotProcess" ).datepicker();
	});
	$(function() {
		$( "#datepickerFromMissing" ).datepicker();
	});$('input#search').quicksearch('table tbody tr');

	$(function() {
		$( "#datepickerToMissing" ).datepicker();
	});
	$(function() {
		$( "#datepickerToTotal" ).datepicker();
	});
	$(function() {
		$( "#datepickerFromTotal" ).datepicker();
	});
*/
	$(function() {
		$( "#tabs" ).tabs();
	});

/*	$('input#search').quicksearch('table tbody tr');
$(document).ready(function(){
  $('#totalPlanMonthly').tablesorter({
    headers: {
      2: {sorter: false},
      5: {sorter: false},
      6: {sorter: false},
      7: {sorter: false},
      8: {sorter: false},
      9: {sorter: false}
    },
widthFixed: true, widgets: ['zebra']} )

.tablesorterPager({container: $("#pager")});

});
*/
///////////////////////
/////// Detail ////////
//////////////////////
$(document).ready(function() {
	$("#finishedM").click(function(){ 
		if($("#finishedM").attr("checked")==true)
		{
		    $("#resultTableDetailM tr#normal").show();
		}
		else
		{
		    $("#resultTableDetailM tr#normal").hide();
		}
	});
	$("#notProcessM").click(function(){ 
		if($("#notProcessM").attr("checked")==true)
		{
		    $("#resultTableDetailM tr#notProcess").show();
		}
		else
		{
		    $("#resultTableDetailM tr#notProcess").hide();
		}
	});
	$("#missingM").click(function(){ 
		if($("#missingM").attr("checked")==true)
		{
		    $("#resultTableDetailM tr#missing").show();
		}
		else
		{
		    $("#resultTableDetailM tr#missing").hide();
		}
	});

//button of daily 
$("#finished").click(function(){ 
		if($("#finished").attr("checked")==true)
		{
		    $("#resultTableDetail tr#normal").show();
			
		}
		else
		{
		    $("#resultTableDetail tr#normal").hide();
		}
	});
	$("#notProcess").click(function(){ 
		if($("#notProcess").attr("checked")==true)
		{
		    $("#resultTableDetail tr#notProcess").show();
		}
		else
		{
		    $("#resultTableDetail tr#notProcess").hide();
		}
	});
	$("#missing").click(function(){ 
		if($("#missing").attr("checked")==true)
		{
		    $("#resultTableDetail tr#missing").show();
		}
		else
		{
		    $("#resultTableDetail tr#missing").hide();
		}
	});




});

	$(document).ready(function () {
		$("#key_search").quicksearch("table tbody tr", {
				noResults: '#noresults',
				stripeRows: ['odd', 'even'],
				loader: 'span.loading'
		});
$(document).ready(function() {
	$('#resultTableDetail').dataTable({
					"bJQueryUI": true,
					"bAutoWidth": false,
					"sPaginationType": "full_numbers"/*,
					"aaSorting": [[ 1, "asc" ]]*/
				});
	$('#resultTableDetailM').dataTable({
					"bJQueryUI": true,
					"bAutoWidth": false,
					"sPaginationType": "full_numbers"/*,
					"aaSorting": [[ 1, "asc" ]]*/
				});
	} );
	});
</script>
</head>
<body>

<!--PATH SETTINGS START-->
<input id='normalPlanRefresher_url' type='hidden' value='{% url statusTracking.home.normalPlanRefresher %}' />
<input id='lastUpdate_url' type='hidden' value='{% url statusTracking.home.lastUpdate %}' />
<input id='monthlyPlan_url' type='hidden' value='{% url statusTracking.home.monthlyPlan %}' />
{% url statusTracking.home.logout_view as likitomi_url %}
{% url statusTracking.home.section as home_url %}
{% url statusTracking.detail.pcdetail as pcdetail_url %}
<!--PATH SETTINGS END-->

<div id="wrapper" style="width:100%">
    <div id="header" >
    	<!-- start Menu-->
    	<table width="100%">
    		<thead id="mainMenu">
    			<tr>
    				<th align="left" width="60%">
					<a id=normalLink href="{{ home_url }}?user={{user}}">Home</a> >> <a id=normalLink  href="{{ pcdetail_url }}?user={{user}}&page={{page}}">{{page}}</a>
				</th>
    				<th align="left" width="30%">
					<form id="form_search" action="#">
						<fieldset id="form_search_fieldset">
							Search:&nbsp 
							<input type="text" class="searchbox" name="search" id="key_search" /> 
							<span class="loading">Loading ...</span>
						</fieldset>
					</form>
    				</th>
    				<th align="right" width="10%">
					<a id="normalLink" href="{{ likitomi_url }}"><img src="images/quit.png" alt="quit" /></a>&nbsp&nbsp
				</th>
    			</tr>
    		</thead>
    	</table>
	<!-- End Menu-->
    </div>
</div>
<!--START INCLUDED CONTENT-->
{% if page != '' %}
{% block view %}
view blog
{% endblock %}
{% endif %}

<!--END INCLUDED CONTENT-->
</div>
<!-- end content-->

<!-- footer-->
<div class="clear"></div>

<center><a href="{{ home_url }}?user={{user}}" onmouseover="document.PCbutton.src='images/PC_black.png'" onmouseout="document.PCbutton.src='images/PC_normal.png'"><img src="images/PC_normal.png" alt="Planning Control" name="PCbutton" /></a>
<a href="{{ pcdetail_url }}?user={{user}}&page=CR" onmouseover="document.CRbutton.src='images/CR_black.png'" onmouseout="document.CRbutton.src='images/CR_normal.png'"><img src="images/CR_normal.png" alt="Corrugator" name="CRbutton" /></a>
<a href="{{ pcdetail_url }}?user={{user}}&page=CV" onmouseover="document.CVbutton.src='images/CV_black.png'" onmouseout="document.CVbutton.src='images/CV_normal.png'"><img src="images/CV_normal.png" alt="Convertor" name="CVbutton" /></a>
<a href="{{ pcdetail_url }}?user={{user}}&page=PT" onmouseover="document.PTbutton.src='images/PT_black.png'" onmouseout="document.PTbutton.src='images/PT_normal.png'"><img src="images/PT_normal.png" alt="Pad and Partitions" name="PTbutton" /></a>
<a href="{{ pcdetail_url }}?user={{user}}&page=WH" onmouseover="document.WHbutton.src='images/WH_black.png'" onmouseout="document.WHbutton.src='images/WH_normal.png'"><img src="images/WH_normal.png" alt="Warehouse" name="WHbutton" /></a></center>
</div> 
	<div id="footer">
    <hr/>
	<br />
	This application is developed as part of RTG-Budget Joint Industrial Research Project Fiscal Year, 2010-2011<br/>
	at <a href="http://www.ait.asia" target="_blank" >Asian Institute of Technology</a> for 
	<a href="http://www.likitomi.co.th/" target="_blank">Likitomi (Thailand) Company Limited</a>. 
	<div style="margin-top:5px">
		<a href="http://www.djangoproject.com/" target='_blank'><img src="images/djg.png" title="Django" border="0" /></a>
	</div>	
    </div>
</body>
</html>
<!-- endfoot-->
