<!-- header-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{title}}</title>
<link href="css/fal_style2.css" rel="stylesheet" type="text/css" />
<script src="javascript/jquery.js" type="text/javascript"></script>
<script src="javascript/flash.js" type="text/javascript"></script>
<link type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="javascript/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="javascript/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="javascript/jquery.quicksearch.js"></script>
<script type="text/javascript" src="javascript/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="javascript/jquery.tablesorter.js"></script>
<script type="text/javascript" src="javascript/picnet.table.filter.min.js"></script>
<script>

	$(function() {
		$( "#filterCriteria" ).buttonset();
	});
	$(function() {
		$( "#filterCriteriaMonthly" ).buttonset();
	});
	$(function() {
		$( "#magCR" )
			.click(function() {
				//$("#resultTable").hide();
				/*$("#crTable").animate({
				    width: "100%",
				    opacity: 0.4,
				    marginLeft: "0.6in",
				    fontSize: "3em",
				    borderWidth: "10px"
				  }, 1500 );
				*/
			$("#magCV").hide()
				
			})
			
	});



$(document).ready(function() {
	$("#finishedM").click(function(){ 
		if($("#finishedM").attr("checked")==true)
		{
		    $("#totalPlanMonthly tr#normal").show();
		}
		else
		{
		    $("#totalPlanMonthly tr#normal").hide();
		}
	});
	$("#notProcessM").click(function(){ 
		if($("#notProcessM").attr("checked")==true)
		{
		    $("#totalPlanMonthly tr#notProcess").show();
		}
		else
		{
		    $("#totalPlanMonthly tr#notProcess").hide();
		}
	});
	$("#missingM").click(function(){ 
		if($("#missingM").attr("checked")==true)
		{
		    $("#totalPlanMonthly tr#missing").show();
		}
		else
		{
		    $("#totalPlanMonthly tr#missing").hide();
		}
	});
});

$(document).ready(function() {
		$('#resultTable').load('/likitomi/normalPlanRefresher/');
		$('#dailyPlanUpdate').load('/likitomi/lastUpdate/');
		//$('#monthlyPlan').load('/likitomi/monthlyPlan/');
		});

	var auto_refresh = setInterval(
	function()
	{	
			//$div.fadeOut('fast').load('/likitomi/PCrefresher/').fadeIn("fast");
			$('#resultTable').load('/likitomi/normalPlanRefresher/');
			 $('#dailyPlanUpdate').load('/likitomi/lastUpdate/');

	}, 15000);

/*	$(function() {
		$( "#datepickerFromNotProcess" ).datepicker();
	});

	$(function() {
		$( "#datepickerToNotProcess" ).datepicker();
	});
	$(function() {
		$( "#datepickerFromMissing" ).datepicker();
	});$('input#search').quicksearch('table tbody tr');

	$(function() {
		$( "#datepickerToMissing" ).datepicker();
	});
	$(function() {
		$( "#datepickerToTotal" ).datepicker();
	});
	$(function() {
		$( "#datepickerFromTotal" ).datepicker();
	});
*/
	$(function() {
		$( "#tabs" ).tabs();
	});

	$('input#search').quicksearch('table tbody tr');
$(document).ready(function(){
  $('#totalPlanMonthly').tablesorter({
    headers: {
      2: {sorter: false},
      5: {sorter: false},
      6: {sorter: false},
      7: {sorter: false},
      8: {sorter: false},
      9: {sorter: false}
    },
widthFixed: true, widgets: ['zebra']} )

.tablesorterPager({container: $("#pager")});
});
</script>
</head>
<body>

<!--START INCLUDED CONTENT-->
{% if page != '' %}
{% block view %}
view blog
{% endblock %}
{% endif %}

<!--END INCLUDED CONTENT-->
</div>
<!-- end content-->

<!-- footer-->
<div class="clear"></div>

</div> 
	<div id="footer">
    <hr/>
	<br />
	This application is developed as part of RTG-Budget Joint Industrial Research Project Fiscal Year, 2010-2011<br/>
	at <a href="http://www.ait.asia" target="_blank" >Asian Institute of Technology</a> for 
	<a href="http://www.likitomi.co.th/" target="_blank">Likitomi (Thailand) Company Limited</a>. 
	<div style="margin-top:5px">
		<a href="http://www.djangoproject.com/" target='_blank'><img src="images/djg.png" title="Django" border="0" /></a>
	</div>	
    </div>
</body>
</html>
<!-- endfoot-->
