{% extends "PC/container.html"%}
{% block view %}
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
		<li><a href="#tabs-2">Monthly Plan</a></li>
	</ul>
	<div id="tabs-1">
	<!--top bar -->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Daily plan of {{today|date:"l d F Y"}}</h4></td><td align="right"><div id="dailyPlanUpdate"><b>Last update: </b> {{today}}</div></td></tr></table>
	<br>
	<div id="filterCriteria" align="center">
	<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
	<input type="checkbox" id="notProcess" checked /><label for="notProcess">Not yet process</label>
	<input type="checkbox" id="missing" checked /><label for="missing">Missing in Pcs.</label>

	</div> <!-- end Filter -->
	<br>
<div id="resultDivLineCR">
	<table align='center' width="100%" border=1 id="resultTableDetail">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div>Sch.</div><div>Act.</div></th>
	<th width="5%"><div class="plan">IN</div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT</div><div class="actual">OUT</div></th>
	<th width="5%"><div class="plan">Pcs</div><div class="actual">Pcs</div></th>
	<th>Sheet Code</th>
	<th>Customer name</th>
	<th>Product</th>
	<th>Flute</th>
	<th>DF</th>
	<th>BM</th>
	<th>BL</th>
	<th>CM</th>
	<th>CL</th>
	<th>Width</th>
	<th>Case</th>
	<th>Cut</th>
	<th>Length</th>
	<th>Blank</th>
	<th>Slit</th>
	<th>Scoreline</th>
	<th>Next Process</th>
	<th>Due</th>
</tr></thead>
<tbody>
	{% for item in items %}
	<tr id="{{ item.stateCR}}">
	<td>{% if cr == item.product.product_code %} > {% endif %}</td>
	<td><div class="plan">{{item.plan_cr_start|time:"H:i"}}</div><div class="actual">
	{% if item.actual_cr_start != NULL %}
				{{item.actual_cr_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan">{{item.plan_cr_end|time:"H:i" }}</div><div class="actual">
	{% if item.actual_cr_end != NULL %}
				{{item.actual_cr_end|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_cr != NULL%}
		{% if item.actual_amount_cr < item.plan_amount %}
			<font color="red">{{item.actual_amount_cr}}</font>
		{% else %}
			{{item.actual_amount_cr}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	<td>{{item.product.product_code}}</td>
	<td>{{item.product.parent_code.partner.partner_name}}</td>
	<td>{{item.product.parent_code.product_name}}</td>
	<td>{{item.product.flute}}</td>
	<td>{{item.product.df}}</td>
	<td>{{item.product.bm}}</td>
	<td>{{item.product.bl}}</td>
	<td>{{item.product.cm}}</td>
	<td>{{item.product.cl}}</td>
	<td>{{item.product.width_mm}}</td>
<!--	<td>{{item.product.parent_code.case}}</td>
	<td>{{item.product.parent_code.cut}}</td>
-->
	<td>{{item.plan_amount}}</td>
	<td>{{item.cut}}</td>
	<td>{{item.product.parent_code.t_length}}</td>
	<td>{{item.product.parent_code.blank}}</td>
	<td>{{item.product.parent_code.slit}}</td>
	<td>{{item.product.parent_code.scoreline_f}}</td>
	<td>{{item.process2}}</td>
	<td >{{item.days_left}}</td>
	</tr>
			{% endfor %}
</tbody>
</table>
</div>

</div>
<!--END Menu and Topbar-->
<div id="tabs-2">
	<!--top bar-->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Total plan of {{strThisMonth}}</h4></td><td align="right"><div id="dailyPlanUpdate"><b>Last update: </b> {{today}}</div></td></tr></table>
	<br>
	

	<div id="filterCriteriaMonthly" align="center">
	<input type="checkbox" id="finishedM" checked /><label for="finishedM">Finished</label>
	<input type="checkbox" id="notProcessM" checked /><label for="notProcessM">Not yet process</label>
	<input type="checkbox" id="missingM" checked /><label for="missingM">Missing in Pcs.</label>
	</div> <!-- end Filter -->
<br>
<div id="resultDivLineCRM">
	<table align='center' width="100%" border=1 id="resultTableDetailM">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div>Sch.</div><div>Act.</div></th>
	<th width="5%"><div class="plan">IN</div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT</div><div class="actual">OUT</div></th>
	<th width="5%"><div class="plan">Pcs</div><div class="actual">Pcs</div></th>
	<th>Sheet Code</th>
	<th>Customer name</th>
	<th>Product</th>
	<th>Flute</th>
	<th>DF</th>
	<th>BM</th>
	<th>BL</th>
	<th>CM</th>
	<th>CL</th>
	<th>Width</th>
	<th>Case</th>
	<th>Cut</th>
	<th>Length</th>
	<th>Blank</th>
	<th>Slit</th>
	<th>Scoreline</th>
	<th>Next Process</th>
	<th>Due</th>
</tr></thead>
<tbody>
	{% for item in itemsM %}
	<tr id="{{item.stateCR}}">
	<td>{% if cr == item.product.product_code %} > {% endif %}</td>
	<td><div class="plan">{{item.plan_cr_start|time:"H:i"}}</div><div class="actual">
	{% if item.actual_cr_start != NULL %}
				{{item.actual_cr_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan">{{item.plan_cr_end|time:"H:i" }}</div><div class="actual">
	{% if item.actual_cr_end != NULL %}
				{{item.actual_cr_end|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
	<td><div class="plan">{{item.plan_amount}}<div><div class="actual">
	{% if item.actual_amount_cr != NULL%}
		{% if item.actual_amount_cr < item.plan_amount %}
			<font color="red">{{item.actual_amount_cr}}</font>
		{% else %}
			{{item.actual_amount_cr}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}</div></td>
	<td>{{item.product.product_code}}</td>
	<td>{{item.product.parent_code.partner.partner_name}}</td>
	<td>{{item.product.parent_code.product_name}}</td>
	<td>{{item.product.flute}}</td>
	<td>{{item.product.df}}</td>
	<td>{{item.product.bm}}</td>
	<td>{{item.product.bl}}</td>
	<td>{{item.product.cm}}</td>
	<td>{{item.product.cl}}</td>
	<td>{{item.product.width_mm}}</td>
	<td>{{item.plan_amount}}</td>
	<td>{{item.cut}}</td>
	<td>{{item.product.parent_code.t_length}}</td>
	<td>{{item.product.parent_code.blank}}</td>
	<td>{{item.product.parent_code.slit}}</td>
	<td>{{item.product.parent_code.scoreline_f}}</td>
	<td>{{item.process2}}</td>
	<td >{{item.days_left}}</td>
	</tr>
			{% endfor %}
			</tbody>
			</table>
</div>

</div>
</div>
{% endblock %}
