{% extends "PC/container.html"%}
{% block view %}
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
		<li><a href="#tabs-2">Monthly Plan</a></li>
	</ul>
	<div id="tabs-1">
	<!--top bar -->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Daily plan of {{today|date:"l d F Y"}}</h4></td><td align="right"><div id="dailyPlanUpdate">Last update:  {{today}}</div></td></tr></table>
	<br>
	<div id="filterCriteria" align="center">
		<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="notProcess" checked /><label for="notProcess">Unfinished</label>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="missing" checked /><label for="missing">Incompleted</label>

	</div> <!-- end Filter -->
	<br>
<div id="resultDivLineCV">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTableDetail">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div>Sch.</div><div>Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT </div><div class="actual">OUT</div></th>
	<th width="5%">Pcs. In</th>
	<th width="5%">Pcs. Out</th>
	<th>Product code</th>

	<th>Machine</th>
	<th>From</th>
	<th>Color</th>
	<th>Time</th>
	<th>Speed</th>	
	<th>MO</th>
	<th>Sale Order</th>
	<th>P.Code</th>
	<th>Customer</th>
	<th>Product Name</th>
	<th>Next Process</th>
	<th>Due</th>
</tr></thead>
	</span>	
	{% for item in items %}
	<tr id="{{ item.stateCV}}">
	<td>{% if cvThreeCL == item.product.product_code or cvThreeCS == item.product.product_code or cvTwoCL == item.product.product_code %} > {% endif %}</th>
	<td><div class="plan">{{item.plan_cv_start|time:"H:i"}}</div><div class="actual">
				{% if item.actual_cv_start != NULL %}
				{{item.actual_cv_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan">{{item.plan_cv_end|time:"H:i" }}</div><div class="actual">
				{% if item.actual_cv_end != NULL %}
				{{item.actual_cv_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
				
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_cv_in != NULL%}
		{% if item.actual_amount_cv_in < item.plan_amount %}
			<font color="red">{{item.actual_amount_cv_in}}</font>
		{% else %}
			{{item.actual_amount_cv_in}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>

				
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_cv != NULL%}
		{% if item.actual_amount_cv < item.plan_amount %}
			<font color="red">{{item.actual_amount_cv}}</font>
		{% else %}
			{{item.actual_amount_cv}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	<td>{{item.product.product_code}}</td>

	<td>{% if item.product.req_2cl = 1 %} 2CL
		{% else %}{% if item.product.req_3cm = 1 %} 3CM
		{% else %}{% if item.product.req_3cs = 1 %} 3CS
		{% else %}{% if item.product.req_3cl = 1 %} 3CL
		{% else %}{% if item.product.req_4cd = 1 %} 3CD

	 	{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.process4 == 'CV' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'CV'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'CV' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.product.rope_color != NULL %}{{item.product.rope_color}}{% endif %}</td>
	<td>{{item.cv_time_used}}</td>
	<td>{{item.speed}}</td>
	<td> {{item.plan_id}}</td>
	<td>{{item.sale_order_id}}</td>
	<td>{{item.sale_order.purchase_order_no}}</td>
	<td>{{item.product.partner.partner_name}}</td>
	<td>{{item.product.product_name}}</td>
	<td>
		{% if item.process1 == 'CV' and item.process2 != NULL %}
		    {{item.process2}}
		{% else %}{% if item.process2 == 'CV' and item.process3 != NULL %}
		    {{ item.process3 }}
		{% else %}{% if item.process3 == 'CV' and item.process4 != NULL %}
		    {{ item.process4 }}
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{{item.days_left}}</td>
	</tr>
			{% endfor %}
			</table>
</div>

</div>
<!--END Menu and Topbar-->
<div id="tabs-2">
	<!--top bar-->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Total plan of {{strThisMonth}}</h4></td><td align="right"><div id="dailyPlanUpdate">Last update:  {{today}}</div></td></tr></table>
	<br>
	

	<div id="filterCriteriaMonthly" align="center">
		<input type="checkbox" id="finishedM" checked /><label for="finishedM">Finished</label>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="notProcessM" checked /><label for="notProcessM">Unfinished</label>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="missingM" checked /><label for="missingM">Incompleted</label>
	</div> <!-- end Filter -->
<br>
<div id="resultDivLineCVM">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTableDetailM">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div class="plan">Sch.</div><div class="actual">Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT </div><div class="actual">OUT</div></th>
	<th width="5%">Pcs. In</th>
	<th width="5%">Pcs. Out</th>
	<th>Product code</th>

	<th>Machine</th>
	<th>From</th>
	<th>Color</th>
	<th>Time</th>
	<th>Speed</th>	
	<th>MO</th>
	<th>Sale Order</th>
	<th>P.Code</th>
	<th>Customer</th>
	<th>Product Name</th>
	<th>Next Process</th>
	<th>Due</th>
	</tr></thead>
	{% for item in itemsM %}
	<tr id="{{ item.stateCV}}">
	<td></th>
	<td><div class="plan">{{item.plan_cv_start|time:"H:i"}}</div><div class="actual">
				{% if item.actual_cv_start != NULL %}
				{{item.actual_cv_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan">{{item.plan_cv_end|time:"H:i" }}</div><div class="actual">
				{% if item.actual_cv_end != NULL %}
				{{item.actual_cv_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_cv_in != NULL%}
		{% if item.actual_amount_cv_in < item.plan_amount %}
			<font color="red">{{item.actual_amount_cv_in}}</font>
		{% else %}
			{{item.actual_amount_cv_in}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>		
		
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_cv != NULL%}
		{% if item.actual_amount_cv < item.plan_amount %}
			<font color="red">{{item.actual_amount_cv}}</font>
		{% else %}
			{{item.actual_amount_cv}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></th>
	<td>{{item.product.product_code}}</td>

	<td>{% if item.product.req_2cl = 1 %} 2CL
		{% else %}{% if item.product.req_3cm = 1 %} 3CM
		{% else %}{% if item.product.req_3cs = 1 %} 3CS
		{% else %}{% if item.product.req_3cl = 1 %} 3CL
		{% else %}{% if item.product.req_4cd = 1 %} 3CD

	 	{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.process4 == 'CV' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'CV'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'CV' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.product.rope_color != NULL %}{{item.product.rope_color}}{% endif %}</td>
	<td>{{item.cv_time_used}}</td>
	<td>{{item.speed}}</td>
	<td> {{item.plan_id}}</td>
	<td>{{item.sale_order_id}}</td>
	<td>{{item.sale_order.purchase_order_no}}</td>
	<td>{{item.product.partner.partner_name}}</td>
	<td>{{item.product.product_name}}</td>
	<td>
		{% if item.process1 == 'CV' and item.process2 != NULL %}
		    {{item.process2}}
		{% else %}{% if item.process2 == 'CV' and item.process3 != NULL %}
		    {{ item.process3 }}
		{% else %}{% if item.process3 == 'CV' and item.process4 != NULL %}
		    {{ item.process4 }}
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{{item.days_left}}</td>
	</tr>
	
	{% endfor %}
</tbody>
</table>
</div>

</div>
</div>
{% endblock %}
