<script type="text/javascript" src="javascript/jquery-1.4.4.min.js"></script>
<script>
$(document).ready(function(){

/*		$("#zoomCR").click(function(){
		onClick="return go('http://www.mysite.com')	$(".CRarea").animate({
                                    width: "100%",
					height: "100%",
                                    //opacity: 0.4,
                                    marginLeft: "0in",
                                    fontSize: "3em",
                                    borderWidth: "1px"
                                  }, 1500 );
			$(".CVarea").hide();
			$(".PTarea").hide();
			$(".WHarea").hide();
		});
		$("#zoomCV").click(function(){
			alert("zoomCV");
		});
		$("#zoomPT").click(function(){
			alert("zoomPT");
		});
		$("#zoomWH").click(function(){
			alert("zoomWH");
		});
*/

});
function showDetail(sectionName,urlLink)
{
        //alert(document.getElementById(sectionName));
        //$(sectionName).load(urlLink);
	var el = document.getElementById(sectionName)
	el.innerHTML="<iframe src='"+urlLink+"' align='left' scrolling='no' frameborder='0' width='100%' height='130px'></iframe>";
}

var preEl ;
var orgBColor;
var orgTColor;

function HighLightCR(elstr, backColor,textColor){
  if(typeof(preEl0)!='undefined') {
     preEl0.bgColor=orgBColor;
     preEl1.bgColor=orgBColor;
     try{ChangeTextColor(preEl0,orgTColor);}catch(e){;}
     try{ChangeTextColor(preEl1,orgTColor);}catch(e){;}
  }
  var el=document.getElementsByClassName(elstr);
  //alert(el[0].innerHTML);
  //alert(el[1].innerHTML);
  //el = elstr;

  orgBColor = el[0].bgColor;
  orgBColor = el[1].bgColor;
  orgTColor = el[0].style.color;
  orgTColor = el[1].style.color;
  el[0].bgColor=backColor;
  el[1].bgColor=backColor;

  try{ChangeTextColor(el[0],textColor);}catch(e){;}
  try{ChangeTextColor(el[1],textColor);}catch(e){;}

  preEl1 = el[1];
  preEl0 = el[0];
}
function HighLightCV(elstr, backColor,textColor){
  if(typeof(preEl2)!='undefined') {
     preEl2.bgColor=orgBColor;
     preEl3.bgColor=orgBColor;
     try{ChangeTextColor(preEl2,orgTColor);}catch(e){;}
     try{ChangeTextColor(preEl3,orgTColor);}catch(e){;}
  }
  var el=document.getElementsByClassName(elstr);
  //alert(el[0].innerHTML);
  //alert(el[1].innerHTML);
  //el = elstr;

  orgBColor = el[0].bgColor;
  orgBColor = el[1].bgColor;
  orgTColor = el[0].style.color;
  orgTColor = el[1].style.color;
  el[0].bgColor=backColor;
  el[1].bgColor=backColor;

  try{ChangeTextColor(el[0],textColor);}catch(e){;}
  try{ChangeTextColor(el[1],textColor);}catch(e){;}

  preEl2 = el[0];
  preEl3 = el[1];
}

function HighLightPT(elstr, backColor,textColor){
  if(typeof(preEl4)!='undefined') {
     preEl4.bgColor=orgBColor;
     preEl5.bgColor=orgBColor;
     try{ChangeTextColor(preEl4,orgTColor);}catch(e){;}
     try{ChangeTextColor(preEl5,orgTColor);}catch(e){;}
  }
  var el=document.getElementsByClassName(elstr);
  //alert(el[0].innerHTML);
  //alert(el[1].innerHTML);
  //el = elstr;

  orgBColor = el[0].bgColor;
  orgBColor = el[1].bgColor;
  orgTColor = el[0].style.color;
  orgTColor = el[1].style.color;
  el[0].bgColor=backColor;
  el[1].bgColor=backColor;

  try{ChangeTextColor(el[0],textColor);}catch(e){;}
  try{ChangeTextColor(el[1],textColor);}catch(e){;}

  preEl4 = el[0];
  preEl5 = el[1];
}

function HighLightWH(elstr, backColor,textColor){
  if(typeof(preEl6)!='undefined') {
     preEl6.bgColor=orgBColor;
     preEl7.bgColor=orgBColor;
     try{ChangeTextColor(preEl6,orgTColor);}catch(e){;}
     try{ChangeTextColor(preEl7,orgTColor);}catch(e){;}
  }
  var el=document.getElementsByClassName(elstr);
  //alert(el[0].innerHTML);
  //alert(el[1].innerHTML);
  //el = elstr;

  orgBColor = el[0].bgColor;
  orgBColor = el[1].bgColor;
  orgTColor = el[0].style.color;
  orgTColor = el[1].style.color;
  el[0].bgColor=backColor;
  el[1].bgColor=backColor;

  try{ChangeTextColor(el[0],textColor);}catch(e){;}
  try{ChangeTextColor(el[1],textColor);}catch(e){;}

  preEl6 = el[0];
  preEl7 = el[1];
}
function getElementsByClassName(oElm, strTagName, strClassName){
	var arrElements = (strTagName == "*" && document.all)? document.all : oElm.getElementsByTagName(strTagName);
		    var arrReturnElements = new Array();
		    strClassName = strClassName.replace(/\-/g, "\\-");
		    var oRegExp = new RegExp("(^|\\s)" + strClassName + "(\\s|$)");
		    var oElement;
		    for(var i=0; i<arrElements.length; i++){
		        oElement = arrElements[i];
		        if(oRegExp.test(oElement.className)){
		            arrReturnElements.push(oElement);
		        }
		    }
		    return (arrReturnElements)
		}


function ChangeTextColor(a_obj,a_color){  ;
   for (i=0;i<a_obj.cells.length;i++)
    a_obj.cells(i).style.color=a_color;
}
function getElementsByClassName(oElm, strTagName, strClassName){
var arrElements = (strTagName == "*" && document.all)? document.all : oElm.getElementsByTagName(strTagName);
            var arrReturnElements = new Array();
            strClassName = strClassName.replace(/\-/g, "\\-");
            var oRegExp = new RegExp("(^|\\s)" + strClassName + "(\\s|$)");
            var oElement;
            for(var i=0; i<arrElements.length; i++){
                oElement = arrElements[i];
                if(oRegExp.test(oElement.className)){
                    arrReturnElements.push(oElement);
                }
            }
            return (arrReturnElements)
        }
</script>



	<center><div align='center' id="totalPlanDaily">
<div class="CRarea" align="right">
<button style="height:30px" id="zoomCR" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" title="" onClick="window.location.href='/likitomi/pcdetail/?eID={{eID}}&page=CR'"><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button> 

		<!-- table CR --><center>Corrugator <br><table align=center width="90%">
			<tr><td width="50%">{# left #}<div id="result"></div>
	<div id="linkCR"> 
			<table align=center width="100%" id="crTable"><!-- table left --><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="5%">Sch.</th><th width="15%" align="left">IN</td><td width="15%"> <b>OUT</b> <td width="10%"><b>Pcs</b></td></td><th width="10%" rowspan="2"> Product code </th><th width="10%" rowspan="2"> Due</th></tr>
			<tr bgcolor="#cccccc"><th>Act.</th><th align="right">IN</th><th align="right">OUT</th><th align="right">Pcs</th></tr></thead>
			</span>{{rowcountCR}}
			{% for CR_items in items_plan_cr %}
			<tr class="{% cycle 'rowCR1' 'rowCR2' 'rowCR3' as rowcountCR %}" onClick="HighLightCR('{{rowcountCR}}','#c9cc99','cc3333','{{product}}');showDetail('loadPageCR','/likitomi/display/?product={{CR_items.product.product_code}}');" id="{{CR_items.stateCR}}">
			<td rowspan="2"><center><p class="tbunderline">{% if cr == CR_items.product.product_code %} > {% endif %}<br><font color=white>&nbsp;</font></p></center></td>
			<td>{{CR_items.plan_cr_start|time:"H:i"}}</td>
			<td>{{CR_items.plan_cr_end|time:"H:i" }}</td>
			<td>{{CR_items.plan_amount}} </td>
			<td rowspan="2"><center><p class="tbunderline">{{CR_items.product.product_code}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{CR_items.days_left}}<br><font color=white>&nbsp;</font></p></center></td>
			</tr>
			<tr class="{{ rowcountCR }}" onClick="HighLightCR(this,'#c9cc99','cc3333','{{product}}'); showDetail('loadPageCR','/likitomi/display/?product={{CR_items.product.product_code}}');" id="{{CR_items.stateCR}}">
			<td><p class="tbsgunderline">
				{% if CR_items.actual_cr_start != NULL %}
				{{CR_items.actual_cr_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if CR_items.actual_cr_end != NULL%}
				{{CR_items.actual_cr_end|time:"H:i" }}
				{% else %}
				<font color="white"> &nbsp;dd </font>
				{% endif %}

			</p></td>
			<td><p class="tbsgunderline">
				{% if CR_items.actual_amount_cr != NULL%}
				 {% if CR_items.actual_amount_cr < CR_items.plan_amount %}
					<font color="red">{{CR_items.actual_amount_cr}}</font>
				{% else %}
					{{CR_items.actual_amount_cr}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr></a>
			{% endfor %}
			</table> <!-- end table left -->
			</center></div>
			
			</td><td width="50%" bgColor="#F8F8F8"><table><div id="loadPageCR"> {# right #} << Please Click in order to see Product Detail </div></table></td></tr>

			</table><!-- end table CR -->



</div> 

<div class="CVarea" align="right">
			<button style="height:30px" id="zoomCV" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="" onClick="window.location.href='/likitomi/pcdetail/?eID={{eID}}&page=CV'" ><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>

		<!--<a href="/likitomi/pcdetail/?eID={{eID}}&page=CV"><center>Show full CV schedule</center></a><center>-->
		<center>Convertor <br><table align=center width="90%">
			<tr  height="5"><td width="57%">{# left #}
			
			<div id="linkCV">
			<table align=center width="100%"><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="5%" height="20">Sch.</th><td width="25%" align="left"><b>IN</b></td><td width="25%" align="left"><b>OUT</b></td><td width="20%" align="left"><b>Pcs</b></td><th width="20%" rowspan="2"> Product code </th><th width="5%" rowspan="2"> Mac. </th><th rowspan="2">From</th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th>Act.</th><th align="right">IN</th><th align="right">OUT</th><th align="right">Pcs</th></tr></thead>
			{% for CV_items in items_plan_cv %}
			<tr class="{% cycle 'rowCV1' 'rowCV2' 'rowCV3' as rowcountCV %}" onClick="HighLightCV('{{rowcountCV}}','#c9cc99','cc3333','{{product}}'); showDetail('loadPageCV','/likitomi/display/?product={{CV_items.product.product_code}}');" id="{{CV_items.stateCV}}">
			<td rowspan="2" height="20"><center><p class="tbunderline">{% if cvThreeCL == CV_items.product.product_code or cvThreeCS == CV_items.product.product_code or cvTwoCL == CV_items.product.product_code %} > {% endif %} <br><font color=white>&nbsp;</font></p></center></td>
			<td> {{CV_items.plan_cv_start|time:"H:i"}}</td>
			<td> {{CV_items.plan_cv_end|time:"H:i"}}</td>
			<td> {{CV_items.plan_amount}}</td>
			<td rowspan="2"><center><p class="tbunderline">{{CV_items.product.product_code}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{CV_items.cv_machine}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{% if CV_items.process2 == "CV" %} {{CV_items.process1}} {% endif %}{% if CV_items.process3 == "CV" %} {{CV_items.process2}} {% endif %}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{CV_items.days_left}}<br><font color=white>&nbsp;</font></p></center></td>
			<tr class="{{ rowcountCV }}" onClick="HighLightCV('{{rowcountCV}}','#c9cc99','cc3333','{{product}}'); showDetail('loadPageCV','/likitomi/display/?product={{CV_items.product.product_code}}');" id="{{CV_items.stateCV}}">
			<td><p class="tbsgunderline">
				{% if CV_items.actual_cv_start != NULL %}
				{{CV_items.actual_cv_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if CV_items.actual_cv_end != NULL%}
				{{CV_items.actual_cv_end|time:"H:i" }}
				{% else %}
				<font color="white">&nbsp;</font>
				{% endif %}

			</p></td>
			<td align="right"><p class="tbsgunderline">
				{% if CV_items.actual_amount_cv != NULL%}
				 {% if CV_items.actual_amount_cv < plan_amount %}
					<font color="red">{{actual_amount_cv}}</font>
				{% else %}
					{{CV_items.actual_amount_cv}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table></div>

			</td><td width="43%"  bgColor="#F8F8F8"><table width="100%"><div vertical-align:top; " id="loadPageCV">{# right #} << Please Click in order to see Product Detail</div></table></td></tr>
			</table>
<!-- end cv table -->
		</center>
</div>
	<div class="PTarea" align="right">

			<button style="height:30px" id="zoomPT" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="" onClick="window.location.href='/likitomi/pcdetail/?eID={{eID}}&page=PT'"><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>



<!--<a href="/likitomi/pcdetail/?eID={{eID}}&page=PT"><center>Show full PT schedule</center></a>-->
		<!-- start pt table --><center> Pad and Partition <br>
		<table align=center width="90%">
			
			<tr><td width="50%">{# left #}
			<div id="linkPT">
			<table align=center width = 100%><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="10%">Sch.</th><td width="25%" align="left"><b>IN</b></td> <td width="25%" align="left"><b>OUT </b></td><td><b>Pcs</b></td><th width="30%" rowspan="2"> Product code </th><th width="10%" rowspan="2|time:"H:i""> From </th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th>Act.</th><th align="right">IN</th><th align="right">OUT</th><th align="right">Pcs</th></tr></span></thead>
			{% for PT_items in items_plan_pt %}
			<tr class="{% cycle 'rowPT1' 'rowPT2' 'rowPT3' as rowcountPT %}" onClick="HighLightPT('{{rowcountPT}}','#c9cc99','cc3333','{{product}}'); showDetail('loadPagePT','/likitomi/display/?product={{PT_items.product.product_code}}');" id="{{PT_items.statePT}}"><td rowspan="2" height="20"><p class="tbunderline"> {% if pt == PT_items.product.product_code %} > {% endif %} <br><font color=white>&nbsp;</font></p></td><td> {{PT_items.plan_pt_start|time:"H:i"}}</td><td> {{PT_items.plan_pt_end|time:"H:i"}}</td>
<td> {{PT_items.plan_amount}} </p></td>
			<td rowspan="2"><center><p class="tbunderline">{{PT_items.product.product_code}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{% if PT_items.process2 == "PT" %} {{PT_items.process1}} {% endif %}{% if PT_items.process3 == "PT" %} {{PT_items.process2}} {% endif %}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{PT_items.days_left}}<br><font color=white>&nbsp;</font></p></center></td>
</tr>
			<tr class="{{ rowcountPT }}" onClick="HighLightPT('{{rowcountPT}}','#c9cc99','cc3333','{{product}}'); showDetail('loadPagePT','/likitomi/display/?product={{PT_items.product.product_code}}');" id="{{PT_items.statePT}}">
			<td><p class="tbsgunderline">
				{% if PT_items.actual_pt_start != NULL %}
				{{PT_items.actual_pt_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if PT_items.actual_pt_end != NULL%}
				{{PT_items.actual_pt_end|time:"H:i" }}
				{% else %}
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td align="right"><p class="tbsgunderline">
				{% if PT_items.actual_amount_pt != NULL%}
				 {% if PT_items.actual_amount_pt < PT_items.plan_amount %}
				<font color="red">{{PT_items.actual_amount_pt}}</font>
				{% else %}
				{{PT_items.actual_amount_pt}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table></div>
			
			</td><td width="50%"  bgColor="#F8F8F8"><table width="100%"><div id="loadPagePT"> {# right #} << Please Click in order to see Product Detail</div></table></td>

			</td>
			</table></center>
		<!-- end pt table -->

</div> <div class="WHarea" align="right">
<button style="height:30px" id="zoomWH" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="" onClick="window.location.href='/likitomi/pcdetail/?eID={{eID}}&page=WH'"><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>


<!-- start wh table--><center> Warehouse
		<table align="center" width="90%"> 

			<td width="50%"> {# left #}
			<div id="linkWH">
			<table align=center width = 100%><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="10%" rowspan="2"></th><td width="25%" align="left"><b>Sch.IN</b></td><td align="left"><b>Sch.Pcs</b></td><th width="35%" rowspan="2"> Product code </th><th width="30%" rowspan="2">From</th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th align="right">Act.IN</th><th align="right">Act.Pcs</th></tr></span></thead>
			{% for WH_items in items_plan_wh %}
			<tr class="{% cycle 'rowWH1' 'rowWH2' 'rowWH3' as rowcountWH %}" onClick="HighLightWH('{{rowcountWH}}','#c9cc99','cc3333','{{product}}'); ; showDetail('loadPageWH','/likitomi/display/?product={{WH_items.product.product_code}}');" id="{{WH_items.state}}"><td rowspan="2"  height="20"> {{num}}{% if wh == WH_items.plan_wh_start %} > {% endif %} </td>
			<td> {{WH_items.plan_wh_start|time:"H:i"}}</td>
			<td> {{WH_items.plan_amount}} </td>
			<td rowspan="2"><center><p class="tbunderline">{{WH_items.product.product_code}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{% if WH_items.process3 != NULL%} {{WH_items.process3}} {% else %}{% if WH_items.process2 != NULL %} {{WH_items.process2}}{% else %}{% if WH_items.process1 != NULL %} {{WH_items.process1}} {% endif %}{% endif %}{% endif %}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{WH_items.days_left}}<br><font color=white>&nbsp;</font></p></center></td>
</tr>
			<tr class="{{ rowcountWH }}" onClick="HighLightWH('{{rowcountWH}}','#c9cc99','cc3333','{{product}}'); showDetail('loadPageWH','/likitomi/display/?product={{WH_items.product.product_code}}');" id="{{WH_items.state}}">
			<td><p class="tbsgunderline">
				{% if WH_items.actual_wh_start != NULL %}
				{{WH_items.actual_wh_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			</td>
			<td align="right"><p class="tbsgunderline">
				{% if WH_items.actual_amount_wh != NULL%}
				 {% if WH_items.actual_amount_wh < WH_items.plan_amount %}
				<font color="red">{{WH_items.actual_amount_wh}}</font>
				{% else %}
				{{WH_items.actual_amount_wh}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table>			
			</div>
			</td>
			<td width="50%" bgColor="#F8F8F8"><table width="100%"><div id="loadPageWH"> {# right #} << Please Click in order to see Product Detail </div></table>
			</td>
			</tr>
			</table></center>
		<!-- end wh table-->

</div>
</div> <!-- main div -->
