{% extends "PC/container.html"%}
{% block view %}
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
		<li><a href="#tabs-2">Monthly Plan</a></li>
	</ul>
	<div id="tabs-1">
	<!--top bar -->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Daily plan of {{today|date:"l d F Y"}}</h4></td><td align="right"><div id="dailyPlanUpdate"><b>Last update: </b> {{today}}</div></td></tr></table>
	<br>
	<div id="filterCriteria" align="center">
		<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="notProcess" checked /><label for="notProcess">Unfinished</label>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="missing" checked /><label for="missing">Incompleted</label>

	</div> <!-- end Filter -->
	<br>
<div id="resultDivLinePT">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTableDetail">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div>Sch.</div><div>Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT </div><div class="actual">OUT</div></th>
	<th width="5%">Pcs. In</th>
	<th width="5%">Pcs. Out</th>
	<th>Product code</th>
	<th>Blank </th>
	<th>Length </th>
	<th>Machine</th>
	<th>From</th>
	<th>Color</th>
	<th>Time</th>
	<th>Speed</th>	
	<th>MO</th>
	<th>Sale Order</th>
	<th>Customer</th>
	<th>Product Name</th>
	<th>Next Process</th>
	<th>Due</th>
	<th>Sketch</th>
</tr></thead>
{% for item in items %}
<tr id="{{ item.statePT}}">
	<td>{% if pt == item.product.product_code %} > {% endif %}</td>
	<td><div class="plan">{{item.plan_pt_start|time:"H:i"}}</div>
	<div class="actual">
				{% if item.actual_pt_start != NULL %}
				{{item.actual_pt_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan">{{item.plan_pt_end|time:"H:i" }}</div><div class="actual">
				{% if item.actual_pt_end != NULL %}
				{{item.actual_pt_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
	<td><div class="plan">{{item.plan_pt_amount}}</div><div class="actual">
	{% if item.actual_amount_pt_in != NULL%}
		{% if item.actual_amount_pt_in < item.plan_pt_amount %}
			<font color="red">{{item.actual_amount_pt_in}}</font>
		{% else %}
			{{item.actual_amount_pt_in}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	
		<td><div class="plan">{{item.plan_pt_amount}}</div><div class="actual">
	{% if item.actual_amount_pt != NULL%}
		{% if item.actual_amount_pt < item.plan_pt_amount %}
			<font color="red">{{item.actual_amount_pt}}</font>
		{% else %}
			{{item.actual_amount_pt}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	<td>{{item.product.product_code}}</td>
	<td>{{item.product.pt_blank}}</td>
	<td>{{item.product.pt_length}}</td>
	<td>{% if item.product.req_rd = 1 %} RD
		{% else %}{% if item.product.req_ss = 1 %} SS
		{% else %}{% if item.product.req_remove = 1 %} Remove
		{% else %}{% if item.product.req_foam = 1 %} Foam
		{% else %}{% if item.product.req_tape = 1 %} Tape

	 	{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.process4 == 'PT' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'PT'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'PT' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.product.ink_1 != NULL %}{{item.product.ink_1}} {{item.product.ink_2}} {{item.product.ink_3}} {{item.product.ink_4}}{% endif %}</td>
	<td>{{item.pt_time_used}}</td>
	<td>{{item.speed}}</td>
	<td> {{item.mo_pt_code}}</td>
	<td>{{item.sale_order_id}}</td>
	<td>{{item.product.partner.partner_name}}</td>
	<td>{{item.product.product_name}}</td>
	<td>
		{% if item.process1 == 'PT' and item.process2 != NULL %}
		    {{item.process2}}
		{% else %}{% if item.process2 == 'PT' and item.process3 != NULL %}
		    {{item.process3}} 
		{% else %}{% if item.process3 == 'PT' and item.process4 != NULL %}
		    {{item.process4}}
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{{item.days_left}}</td>
	<td>	{% if item.product.sketch != "" %}
		<a href={{Path}}{{item.product.sketch}}  target='_blank'>{{item.product.product_code}} [M]</a>
	{% endif %}
	{% if item.product.sketch_large != "" %}
		<a href={{Path}}{{item.product.sketch_large}} target='_blank'>{{item.product.product_code}} [L]</a>
	{% endif %}</td>
	</tr>
			{% endfor %}
			</table>
</div>

</div>
<!--END Menu and Topbar-->
<div id="tabs-2">
	<!--top bar-->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Total plan of {{strThisMonth}}</h4></td><td align="right"><div id="dailyPlanUpdate"><b>Last update: </b> {{today}}</div></td></tr></table>
	<br>
	

	<div id="filterCriteriaMonthly" align="center">
		<input type="checkbox" id="finishedM" checked /><label for="finishedM">Finished</label>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="notProcessM" checked /><label for="notProcessM">Unfinished</label>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="checkbox" id="missingM" checked /><label for="missingM">Incompleted</label>
	</div> <!-- end Filter -->
<br>
<div id="resultDivLinePT">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTableDetailM"><span class="header">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div>Sch.</div><div>Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">OUT </div><div class="actual">OUT</div></th>
	<th width="5%">Pcs. In</th>
	<th width="5%">Pcs. Out</th>
	<th>Product code</th>
	<th>Blank </th>
	<th>Length </th>
	<th>Machine</th>
	<th>From</th>
	<th>Color</th>
	<th>Time</th>
	<th>Speed</th>	
	<th>MO</th>
	<th>Sale Order</th>
	
	<th>Customer</th>
	<th>Product Name</th>
	<th>Next Process</th>
	<th>Due</th>
	<th>Sketch</th>
</tr></thead><tbody>	
			{% for item in itemsM %}
	<tr id="{{ item.statePT}}">
	<td>{% if pt == item.product.product_code %} > {% endif %}</td>
	<td><div class="plan">{{item.plan_pt_start|time:"H:i"}}</div>
	<div class="actual">
				{% if item.actual_pt_start != NULL %}
				{{item.actual_pt_start|time:"H:i"}}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></td>
	<td><div class="plan">{{item.plan_pt_end|time:"H:i" }}</div><div class="actual">
				{% if item.actual_pt_end != NULL %}
				{{item.actual_pt_end|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} </div></td>
	<td><div class="plan">{{item.plan_pt_amount}}</div><div class="actual">
	{% if item.actual_amount_pt_in != NULL%}
		{% if item.actual_amount_pt_in < item.plan_pt_amount %}
			<font color="red">{{item.actual_amount_pt_in}}</font>
		{% else %}
			{{item.actual_amount_pt_in}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	
		<td><div class="plan">{{item.plan_pt_amount}}</div><div class="actual">
	{% if item.actual_amount_pt != NULL%}
		{% if item.actual_amount_pt < item.plan_pt_amount %}
			<font color="red">{{item.actual_amount_pt}}</font>
		{% else %}
			{{item.actual_amount_pt}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></td>
	<td>{{item.product.product_code}}</td>
	<td>{{item.product.pt_blank}}</td>
	<td>{{item.product.pt_length}}</td>
	<td>{% if item.product.req_rd = 1 %} RD
		{% else %}{% if item.product.req_ss = 1 %} SS
		{% else %}{% if item.product.req_remove = 1 %} Remove
		{% else %}{% if item.product.req_foam = 1 %} Foam
		{% else %}{% if item.product.req_tape = 1 %} Tape

	 	{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.process4 == 'PT' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'PT'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'PT' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>
	<td>{% if item.product.ink_1 != NULL %}{{item.product.ink_1}} {{item.product.ink_2}} {{item.product.ink_3}} {{item.product.ink_4}}{% endif %}</td>
	<td>{{item.pt_time_used}}</td>
	<td>{{item.speed}}</td>
	<td> {{item.mo_pt_code}}</td>
	<td>{{item.sale_order_id}}</td>
	<td>{{item.product.partner.partner_name}}</td>
	<td>{{item.product.product_name}}</td>
	<td>
		{% if item.process1 == 'PT' and item.process2 != NULL %}
		    {{item.process2}}
		{% else %}{% if item.process2 == 'PT' and item.process3 != NULL %}
		    {{ item.process3 }}
		{% else %}{% if item.process3 == 'PT' and item.process4 != NULL %}
		    {{ item.process4 }}
		{% else %}{% if item.process3 == NULL and item.process1 == NULL and item.process2 == NULL and item.process3 == NULL %}
		
		{% endif %}{% endif %}{% endif %}{% endif %}</td>
	<td>{{item.days_left}}</td>
	<td>	{% if item.product.sketch != "" %}
		<a href={{Path}}{{item.product.sketch}}  target='_blank'>{{item.product.product_code}} [M]</a>
	{% endif %}
	{% if item.product.sketch_large != "" %}
		<a href={{Path}}{{item.product.sketch_large}} target='_blank'>{{item.product.product_code}} [L]</a>
	{% endif %}</td>
	</tr>
			{% endfor %}
			</table>
</div>
</div>
</div>
{% endblock %}
