{% extends "PC/container.html"%}
{% block view %}
<!--<div id="wrapper">
    <div id="header">HOME<br>
    	<!-- start Menu-->
<!--    <ul id="navlist">
		<li><a href="/likitomi">Logout</a></li>
	</ul>


	<!-- End Menu-->
	</div>
<!-- endheader-->
<!-- content
	<div id="browse_crag">
		<div class="login">
			{{title}}
		</div>
	</div>
-->

<!--END Menu and Topbar-->
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
		<li><a href="#tabs-2">Monthly Plan</a></li>
	</ul>
	<div id="tabs-1">
	<!--top bar -->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Daily plan of {{today|date:"l d F Y"}}</h4></td><td align="right"><div id="dailyPlanUpdate"><b>Last update: </b> {{today}}</div></td></tr></table>
	<br>
	<div id="filterCriteria" align="center">
	<input type="checkbox" id="normal" checked /><label for="normal">Finished</label>
	<input type="checkbox" id="notProcess" checked /><label for="notProcess">Not yet process</label>
	<input type="checkbox" id="missing" checked /><label for="missing">Missing in Pcs.</label>

	</div> <!-- end Filter -->
	<br>

			<!--- table of normal plan -->
	<div id="resultTable">
	<center><table align='center' height='400' width="100%" class='tbltables' border=2>
	<tr>
		<td width="50%" align="right"><button style="height:30px" id="zoomCR" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title=""><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>



<!-- <a href="/likitomi/pcdetail/?eID={{eID}}&page=CR"><center>Show full CR schedule</center></a>
		<!-- table CR --><center><table align=center width="90%"> 
			<tr><td width="50%">{# left #}<div id="result"></div>
	<div id="linkCR">
			<table align=center width="100%"><!-- table left --><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="5%">Sch.</th><th width="15%" align="left">IN</td><td width="15%"> <b>OUT</b> <td width="10%"><b>Pcs</b></td></td><th width="10%" rowspan="2"> Product code </th><th width="10%" rowspan="2"> Due</th></tr>
			<tr bgcolor="#cccccc"><th>Act.</th><th align="right">IN</th><th align="right">OUT</th><th align="right">Pcs</th></tr></thead>
			</span>
			{% for CR_items in items_plan_cr %}
			<tr class="{% cycle 'rowCR1' 'rowCR2' 'rowCR3' as rowcountCR %}" onClick="HighLightTR('{{rowcountCR}}','#c9cc99','cc3333','{{product}}');showDetail('#loadPageCR','/likitomi/display/?product={{product}}');">
			<td rowspan="2"><center><p class="tbunderline">{% if cr == CR_items.product.product_code %} > {% endif %}<br><font color=white>&nbsp;</font></p></center></td>
			<td>{{CR_items.plan_cr_start|time:"H:i"}}</td>
			<td>{{CR_items.plan_cr_end|time:"H:i" }}</td>
			<td>{{CR_items.plan_amount}} </td>
			<td rowspan="2"><center><p class="tbunderline">{{CR_items.product.product_code}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{CR_items.days_left}}<br><font color=white>&nbsp;</font></p></center></td>
			</tr>
			<tr class="{{ rowcountCR }}" onClick="HighLightTR('{{rowcountCR}}','#c9cc99','cc3333','{{product}}'); showDetail('#loadPageCR','/likitomi/display/?product={{product}}');" >
			<td><p class="tbsgunderline">
				{% if CR_items.actual_cr_start != NULL %}
				{{CR_items.actual_cr_start|time:"H:i" }}
				{% else %} 
				<font color="white"> </font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if CR_items.actual_cr_end != NULL%}
				{{CR_items.actual_cr_end|time:"H:i" }}
				{% else %}
				<font color="white">  </font>
				{% endif %}

			</p></td>
			<td><p class="tbsgunderline">
				{% if CR_items.actual_amount_cr != NULL%}
				 {% if CR_items.actual_amount_cr < CR_items.plan_amount %}
					<font color="red">{{CR_items.actual_amount_cr}}</font>
				{% else %}
					{{CR_items.actual_amount_cr}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr></a>
			{% endfor %}
			</table> <!-- end table left -->
			</center></div>
			
			</td><td width="50%" bgColor="#F8F8F8"><table><div id="loadPageCR"> {# right #} << Please Click in order to see Product Detail </div></table></td></tr>

			</table><!-- end table CR -->

		</td> <td align="right">
<button style="height:30px" id="zoomCV" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title=""><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>

		<!--<a href="/likitomi/pcdetail/?eID={{eID}}&page=CV"><center>Show full CV schedule</center></a><center>-->
		<center><table align=center width="90%">
			<tr  height="5"><td width="60%">{# left #}
			
			<div id="linkCV">
			<table align=center width="100%"><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="5%" height="20">Sch.</th><td width="25%" align="left"><b>IN</b></td><td width="25%" align="left"><b>OUT</b></td><td width="20%" align="left"><b>Pcs</b></td><th width="20%" rowspan="2"> Product code </th><th width="5%" rowspan="2"> Mac. </th><th rowspan="2">From</th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th>Act.</th><th align="right">IN</th><th align="right">OUT</th><th align="right">Pcs</th></tr></thead>
			{% for CV_items in items_plan_cv %}
			<tr class="{% cycle 'rowCV1' 'rowCV2' 'rowCV3' as rowcountCV %}" onClick="HighLightTR('{{rowcountCV}}','#c9cc99','cc3333','{{product}}'); showDetail('#loadPageCV','/likitomi/display/?product={{product}}');">
			<td rowspan="2" height="20"><center><p class="tbunderline">{% if cvThreeCL == CV_items.product or cvThreeCS == CV_items.product or cvTwoCL == CV_items.product %} > {% endif %} <br><font color=white>&nbsp;</font></p></center></td>
			<td> {{CV_items.plan_cv_start|time:"H:i"}}</td>
			<td> {{CV_items.plan_cv_end|time:"H:i"}}</td>
			<td> {{CV_items.plan_amount}}</td>
			<td rowspan="2"><center><p class="tbunderline">{{CV_items.product.product_code}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{CV_items.cv_machine}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{% if CV_items.process2 == "CV" %} {{CV_items.process1}} {% endif %}{% if CV_items.process3 == "CV" %} {{CV_items.process2}} {% endif %}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{CV_items.days_left}}<br><font color=white>&nbsp;</font></p></center></td>
			<tr class="{{ rowcountCV }}" onClick="HighLightTR('{{rowcountCV}}','#c9cc99','cc3333','{{product}}'); showDetail('#loadPageCV','/likitomi/display/?product={{product}}');">
			<td><p class="tbsgunderline">
				{% if CV_items.actual_cv_start != NULL %}
				{{CV_items.actual_cv_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if CV_items.actual_cv_end != NULL%}
				{{CV_items.actual_cv_end|time:"H:i" }}
				{% else %}
				<font color="white">&nbsp;</font>
				{% endif %}

			</p></td>
			<td align="right"><p class="tbsgunderline">
				{% if CV_items.actual_amount_cv != NULL%}
				 {% if CV_items.actual_amount_cv < plan_amount %}
					<font color="red">{{actual_amount_cv}}</font>
				{% else %}
					{{CV_items.actual_amount_cv}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table></div>
			
			</td><td width="40%"  bgColor="#F8F8F8"><table width="100%"> <div id="loadPageCV">{# right #} << Please Click in order to see Product Detail</div> </table></td></tr>
			</table>
<!-- end cv table -->
		</center>
		</td>		
	</tr>
	<tr>
		<td align="right">
<button style="height:30px" id="zoomPT" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title=""><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>



<!--<a href="/likitomi/pcdetail/?eID={{eID}}&page=PT"><center>Show full PT schedule</center></a>
		<!-- start pt table --><center>
		<table align=center width="90%">
			
			<tr><td width="50%">{# left #}
			<div id="linkPT">
			<table align=center width = 100%><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="10%" rowspan="2"></th><td width="25%" align="left"><b>Sch.IN</b></td> <td width="25%" align="left"><b>Sch.OUT </b></td><td><b>Sch.Pcs</b></td><th width="30%" rowspan="2"> Product code </th><th width="10%" rowspan="2|time:"H:i""> From </th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th align="right">Act.IN</th><th align="right">Act.OUT</th><th align="right">Act.Pcs</th></tr></span></thead>
			{% for PT_items in items_plan_pt %}
			<tr class="{% cycle 'rowPT1' 'rowPT2' 'rowPT3' as rowcountPT %}" onClick="HighLightTR('{{rowcountPT}}','#c9cc99','cc3333','{{product}}');  showDetail('#loadPagePT','/likitomi/display/?product={{product}}');"><td rowspan="2" height="20"> {% if pt == PT_items.product %} > {% endif %} </td><td> {{PT_items.plan_pt_start|time:"H:i"}}</td><td> {{PT_items.plan_pt_end|time:"H:i"}}</td>
<td> {{PT_items.plan_amount}} </td>
			<td rowspan="2"><center><p class="tbunderline">{{PT_items.product.product_code}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{% if PT_items.process2 == "PT" %} {{PT_items.process1}} {% endif %}{% if PT_items.process3 == "PT" %} {{PT_items.process2}} {% endif %}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{PT_items.days_left}}<br><font color=white>&nbsp;</font></p></center></td>
</tr>
			<tr class="{{ rowcountPT }}" onClick="HighLightTR('{{rowcountPT}}','#c9cc99','cc3333','{{product}}');  showDetail('#loadPagePT','/likitomi/display/?product={{product}}');">
			<td><p class="tbsgunderline">
				{% if PT_items.actual_pt_start != NULL %}
				{{PT_items.actual_pt_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if PT_items.actual_pt_end != NULL%}
				{{PT_items.actual_pt_end|time:"H:i" }}
				{% else %}
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			<td align="right"><p class="tbsgunderline">
				{% if PT_items.actual_amount_pt != NULL%}
				 {% if PT_items.actual_amount_pt < PT_items.plan_amount %}
				<font color="red">{{PT_items.actual_amount_pt}}</font>
				{% else %}
				{{PT_items.actual_amount_pt}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table></div>
			
			</td><td width="50%"  bgColor="#F8F8F8"><table width="100%"><div id="loadPagePT"> {# right #} << Please Click in order to see Product Detail</div></table></td>

			</td>
			</table></center>
		<!-- end pt table -->
		</td> <td align="right">
<button style="height:30px" id="zoomCV" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title=""><span class="ui-button-icon-primary ui-icon ui-icon-zoomin"></span><span class="ui-button-text"></span></button>



<!--<a href="/likitomi/pcdetail/?eID={{eID}}&page=WH"><center>Show full WH schedule</center></a>
		<!-- start wh table--><center>
		<table align="center" width="90%"> 

			<td width="50%"> {# left #}
			<div id="linkWH">
			<table align=center width = 100%><span class="header">
			<thead><tr width="100%" align=center bgcolor="#cccccc"><th width="10%" rowspan="2"></th><td width="25%" align="left"><b>Sch.IN</b></td><td align="left"><b>Sch.Pcs</b></td><th width="35%" rowspan="2"> Product code </th><th width="30%" rowspan="2">From</th><th width="10%" rowspan="2"> Due</th></tr>
			<tr width="100%" align=center bgcolor="#cccccc"><th align="right">Act.IN</th><th align="right">Act.Pcs</th></tr></span></thead>
			{% for WH_items in items_plan_wh %}
			<tr class="{% cycle 'rowWH1' 'rowWH2' 'rowWH3' as rowcountWH %}" onClick="HighLightTR('{{rowcountWH}}','#c9cc99','cc3333','{{product}}');showDetail('#loadPageWH','/likitomi/display/?product={{product}}');"><td rowspan="2"  height="20"> {{num}}{% if wh == WH_items.plan_wh_start %} > {% endif %} </td>
			<td> {{WH_items.plan_wh_start|time:"H:i"}}</td>
			<td> {{WH_items.plan_amount}} </td>
			<td rowspan="2"><center><p class="tbunderline">{{WH_items.product.product_code}}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{% if WH_items.process3 != NULL%} {{WH_items.process3}} {% else %}{% if WH_items.process2 != NULL %} {{WH_items.process2}}{% else %}{% if WH_items.process1 != NULL %} {{WH_items.process1}} {% endif %}{% endif %}{% endif %}<br><font color=white>&nbsp;</font></p></center></td>
			<td rowspan="2"><center><p class="tbunderline">{{WH_items.days_left}}<br><font color=white>&nbsp;</font></p></center></td>
</tr>
			<tr class="{{ rowcountWH }}" onClick="HighLightTR('{{rowcountWH}}','#c9cc99','cc3333','{{product}}');showDetail('#loadPageWH','/likitomi/display/?product={{product}}');"" >
			<td><p class="tbsgunderline">
				{% if WH_items.actual_wh_start != NULL %}
				{{WH_items.actual_wh_start|time:"H:i" }}
				{% else %} 
				<font color="white">&nbsp;</font>
				{% endif %}
			</p></td>
			</td>
			<td align="right"><p class="tbsgunderline">
				{% if WH_items.actual_amount_wh != NULL%}
				 {% if WH_items.actual_amount_wh < WH_items.plan_amount %}
				<font color="red">{{WH_items.actual_amount_wh}}</font>
				{% else %}
				{{WH_items.actual_amount_wh}}
				{% endif %}
				{% else %}
				<font color="red">0</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table>			
			</div>
			</td>
			<td width="50%" bgColor="#F8F8F8"><table width="100%"><div id="loadPageWH"> {# right #} << Please Click in order to see Product Detail </div></table>
			</td>
			</tr>
			</table></center>
		<!-- end wh table-->
		</td>
	</tr>

</table>
</div> <!-- end table result -->
<!-- end table of normal plan -->




	</div> <!-- end tab-1 -->
	<div id="tabs-2">
	<!--top bar-->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Total plan of {{strThisMonth}}</h4></td><td align="right"><div id="dailyPlanUpdate"><b>Last update: </b> {{today}}</div></td></tr></table>
	<br>
	

	<div id="filterCriteriaMonthly" align="center">
	<input type="checkbox" id="normalM" checked /><label for="normalM">Finished</label>
	<input type="checkbox" id="notProcessM" checked /><label for="notProcessM">Not yet process</label>
	<input type="checkbox" id="missingM" checked /><label for="missingM">Missing in Pcs.</label>
	</div> <!-- end Filter -->
<br>
<center><table border=1 class="tablesorter" id="totalPlanMonthly">
<thead> 
	<tr bgcolor="#cccccc"><th rowspan="2">SO NO</th><th rowspan="2">PO NO</th><th colspan="2">Product Code</th><th rowspan="2">Company</th><th rowspan="2">Product Name</th><th colspan="3">Product Spec.</th><th colspan="2">Amount</th><th colspan="2">Delivery</th><th colspan="3">Corrugator</th><th colspan="3">Convertor</th><th rowspan="2">Actual</th><th rowspan="2">REMARK</th></tr>
<tr bgcolor="#cccccc"><th>CODE</th><th>MC</th><th>P.W</th><th>Lenght</th><th>F</th><th>PCS</th><th>ALW +\-</th><th>Date</th><th>Amount</th><th>Date</th><th>Amount</th><th>Time used</th><th>Date</th><th>Amount</th><th>Time used</th></tr>
</thead> 
	{% for item in items %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="{{ plan_id }}"><td>{{item.plan_id}}</td><td>PO</td><td>{{item.product.product_code}}</td><td>{{item.cv_machine}}</td><td>{{item.product.parent_code.partner.partner_name}}</td><td>{{item.product.parent_code.product_name}}</td><td align="right">{{item.product.parent_code.p_width_inch}}</td><td  align="right">{{item.product.parent_code.t_length}}</td><td>{{item.product.flute}}</td><td align="right">{{item.plan_amount}}</td><td>{{item.product.parent_code.qty_allowance}}</td><td>{{item.plan_due|date:"d/m"}}</td><td align="right">{{item.plan_amount}}</td><td>{{item.plan_cr_start|date:"d/m"}}</td><td align="right">{{item.plan_amount}}</td><td align="right">{{item.cr_time_used}}</td>
	{% if item.plan_cv_start != NULL %}
	<td>{{item.plan_cv_start|date:"d/m"}}</td><td align="right">{{item.plan_amount}}</td><td align="right">{{item.cv_time_used}}</td>
	{% else %}
	<td bgColor=#EBDDE2></td><td  bgColor=#EBDDE2></td><td  bgColor=#EBDDE2></td>
	{% endif %}
	{% if item.actual_amount_wh >= item.plan_amount %}
	<td align="right">{{item.actual_amount_wh}}</td>
	{% else %}
	<td align="right"><font color=red>{{item.actual_amount_wh}}</font></td>
	{% endif %}
	<td></td></tr>
	{% endfor %}

</table>
</center>


	</div> <!-- end tab-2 -->


</div> <!-- content -->
</div><!-- tabs -->
{% endblock %}
