{% extends "PC/container.html"%}
{% block view %}
<div id="content">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Daily Plan</a></li>
		<li><a href="#tabs-2">Monthly Plan</a></li>
	</ul>
	<div id="tabs-1">
	<!--top bar -->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Daily plan of {{today|date:"l d F Y"}}</h4></td><td align="right"><div id="dailyPlanUpdate">Last update:  {{today}}</div></td></tr></table>
	<br>
	<div id="filterCriteria" align="center">
	<input type="checkbox" id="finished" checked /><label for="finished">Finished</label>
	<input type="checkbox" id="notProcess" checked /><label for="notProcess">Not yet process</label>
	<input type="checkbox" id="missing" checked /><label for="missing">Missing in Pcs.</label>

	</div> <!-- end Filter -->
	<br>
<div id="resultDivLineWH">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTableDetail">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div class="plan">Sch.</div><div class="actual">Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">Pcs.</div><div class="actual">Pcs.</div></th>
	<th>Product code</th>
	<th>Sale Order</th>
	<th>P Code</th>
	<th>Customer</th>
	<th>Product Name</th>
	<th>From</th>
	<th>Due</th>
</tr></thead>
	<tbody>
	{% for item in items %}
	<tr id="{{ item.state}}">
	<td>{% if wh == item.plan_wh_start %} > {% endif %}</th>
	<td><div class="plan">{{item.plan_wh_start|time:"H:i"}}</div><div class="actual">
	{% if item.actual_wh_start != NULL %}
	{{item.actual_wh_start|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></th>
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_wh != NULL%}
		{% if item.actual_amount_wh < item.plan_amount %}
			<font color="red">{{item.actual_amount_wh}}</font>
		{% else %}
			{{item.actual_amount_wh}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></th>
	<td>{{item.product.product_code}}</td>
	<td>{{item.plan_id}}</td>
	<td>{{item.po}}</td>
	<td>{{item.product.parent_code.partner.partner_name}}</td>
	<td>{{item.product.parent_code.product_name}}</td>
	<td>
{% if item.process4 == 'WH' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'WH'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'WH' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>

	<td>{{item.days_left}}</td>
	</tr>
	{% endfor %}
	</tbody>
			</table>
</div>	

</div>
<!--END Menu and Topbar-->
<div id="tabs-2">
	<!--top bar-->
	<table width="100%"><tr><td  width="33%"></td><td width="33%" align="center"><h4>Total plan of {{strThisMonth}}</h4></td><td align="right"><div id="dailyPlanUpdate">Last update:  {{today}}</div></td></tr></table>
	<br>
	

	<div id="filterCriteriaMonthly" align="center">
	<input type="checkbox" id="finishedM" checked /><label for="finishedM">Finished</label>
	<input type="checkbox" id="notProcessM" checked /><label for="notProcessM">Not yet process</label>
	<input type="checkbox" id="missingM" checked /><label for="missingM">Missing in Pcs.</label>
	</div> <!-- end Filter -->
<br>
<div id="resultDivLineWH">
	<table align='center' width="100%" class='tablesorter' border=1 id="resultTableDetailM">
	<thead><tr bgcolor="#cccccc" width="100%">
	<th><div class="plan">Sch.</div><div class="actual">Act.</div></th>
	<th width="5%"><div class="plan"> IN </div><div class="actual">IN</div></th>
	<th width="5%"><div class="plan">Pcs.</div><div class="actual">Pcs.</div></th>
	<th>Product code</th>
	<th>Sale Order</th>
	<th>P Code</th>
	<th>Customer</th>
	<th>Product Name</th>
	<th>From</th>
	<th>Due</th>
</tr></thead>
	{% for item in itemsM %}
	<tr id="{{ item.state}}">
	<td></th>
	<td><div class="plan">{{item.plan_wh_start|time:"H:i"}}</div><div class="actual">
	{% if WH_items.actual_wh_start != NULL %}
	{{item.actual_wh_start|time:"H:i" }}
				{% else %}
				&nbsp;
				{% endif %} 
	</div></th>
	<td><div class="plan">{{item.plan_amount}}</div><div class="actual">
	{% if item.actual_amount_wh != NULL%}
		{% if item.actual_amount_wh < item.plan_amount %}
			<font color="red">{{item.actual_amount_wh}}</font>
		{% else %}
			{{item.actual_amount_wh}}
		{% endif %}
	{% else %}
		<font color="red">0</font>
	{% endif %}
	</div></th>
	<td>{{item.product.product_code}}</td>
	<td>{{item.plan_id}}</td>
	<td>{{item.po}}</td>
	<td>{{item.product.parent_code.partner.partner_name}}</td>
	<td>{{item.product.parent_code.product_name}}</td>
	<td>{% if item.process4 == 'WH' %}
		    {{item.process3}}
		{% else %}{% if item.process3 == 'WH'%}
		    {{ item.process2 }}
		{% else %}{% if item.process2 == 'WH' %}
		    {{ item.process1 }}
		{% endif %}{% endif %}{% endif %}</td>

	<td>{{item.days_left}}</td>
	</tr>
			{% endfor %}
			</table>
</div>	

</div>
</div>
{% endblock %}
